# Python for Data Analysis




**Agenda:**

    * pandas
    * DataFrames
    * Series

![](https://cdn-images-1.medium.com/max/800/1*36-GU1bMkdOFVv-NobjFlg.png)

Pandas is a software library written for the Python programming language. It is used for data manipulation and analysis. It provides special data structures and operations for the manipulation of numerical tables and time series. Pandas is free software released under the three-clause BSD license.

## Importing pandas

In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.22.0'

## Pandas documentation

In [3]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit: None
python: 3.5.2.final.0
python-bits: 64
OS: Linux
OS-release: 4.13.0-43-generic
machine: x86_64
processor: x86_64
byteorder: little
LC_ALL: None
LANG: en_US.UTF-8
LOCALE: en_US.UTF-8

pandas: 0.22.0
pytest: None
pip: 8.1.1
setuptools: 39.2.0
Cython: 0.28.2
numpy: 1.14.1
scipy: 1.0.0
pyarrow: None
xarray: None
IPython: 6.4.0
sphinx: None
patsy: None
dateutil: 2.6.1
pytz: 2018.3
blosc: None
bottleneck: None
tables: None
numexpr: None
feather: None
matplotlib: 2.1.2
openpyxl: None
xlrd: None
xlwt: None
xlsxwriter: None
lxml: None
bs4: 4.4.1
html5lib: 0.999
sqlalchemy: 1.2.4
pymysql: None
psycopg2: None
jinja2: 2.10
s3fs: None
fastparquet: None
pandas_gbq: None
pandas_datareader: None

In [4]:
pd.show_versions?

In [6]:
pd.read_csv?

We will start with the following two important data structures of Pandas:

    Series and
    DataFrame

# Series and DataFrames

# Download data

https://github.com/luminousmen/python_for_ds

Filename: olympics.csv

In [7]:
oo = pd.read_csv('olympics.csv', skiprows=4)

In [8]:
oo.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

## DataFrames

The underlying idea of a DataFrame is based on spreadsheets. We can see the data structure of a DataFrame as tabular and spreadsheet-like. It contains an ordered collection of columns. Each column consists of a unique data typye, but different columns can have different types, e.g. the first column may consist of integers, while the second one consists of boolean values and so on.

A DataFrame has a row and column index; it's like a dict of Series with a common index.

In essence, a DataFrame in pandas is analogous to a (highly optimized) Excel spreadsheet

In [9]:
oo

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
5,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200m freestyle,M,Bronze
6,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold
7,Athens,1896,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200m freestyle,M,Silver
8,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400m freestyle,M,Bronze
9,Athens,1896,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400m freestyle,M,Gold
10,Athens,1896,Aquatics,Swimming,"PEPANOS, Antonios",GRE,Men,400m freestyle,M,Silver
11,Athens,1896,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze
12,Athens,1896,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze
13,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
14,Athens,1896,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100m,M,Silver
15,Athens,1896,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110m hurdles,M,Gold
16,Athens,1896,Athletics,Athletics,"GOULDING, Grantley",GBR,Men,110m hurdles,M,Silver
17,Athens,1896,Athletics,Athletics,"LERMUSIAUX, Albin",FRA,Men,1500m,M,Bronze
18,Athens,1896,Athletics,Athletics,"FLACK, Edwin",AUS,Men,1500m,M,Gold
19,Athens,1896,Athletics,Athletics,"BLAKE, Arthur",USA,Men,1500m,M,Silver
20,Athens,1896,Athletics,Athletics,"GMELIN, Charles",GBR,Men,400m,M,Bronze
21,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,400m,M,Gold
22,Athens,1896,Athletics,Athletics,"JAMISON, Herbert",USA,Men,400m,M,Silver
23,Athens,1896,Athletics,Athletics,"GOLEMIS, Dimitrios",GRE,Men,800m,M,Bronze
24,Athens,1896,Athletics,Athletics,"FLACK, Edwin",AUS,Men,800m,M,Gold
25,Athens,1896,Athletics,Athletics,"DANI, Nandor",HUN,Men,800m,M,Silver
26,Athens,1896,Athletics,Athletics,"VERSIS, Sotirios",GRE,Men,discus throw,M,Bronze
27,Athens,1896,Athletics,Athletics,"GARRETT, Robert",USA,Men,discus throw,M,Gold
28,Athens,1896,Athletics,Athletics,"PARASKEVOPOULOS, Panagiotis",GRE,Men,discus throw,M,Silver
29,Athens,1896,Athletics,Athletics,"CLARK, Ellery",USA,Men,high jump,M,Gold
...,...,...,...,...,...,...,...,...,...,...
29186,Beijing,2008,Wrestling,Wrestling Free.,"MUTALIMOV, Marid",KAZ,Men,96 - 120kg,M,Bronze
29187,Beijing,2008,Wrestling,Wrestling Free.,"TAYMAZOV, Artur",UZB,Men,96 - 120kg,M,Gold
29188,Beijing,2008,Wrestling,Wrestling Free.,"AKHMEDOV, Bakhtiyar",RUS,Men,96 - 120kg,M,Silver
29189,Beijing,2008,Wrestling,Wrestling Gre-R,"AMOYAN, Roman",ARM,Men,- 55kg,M,Bronze
29190,Beijing,2008,Wrestling,Wrestling Gre-R,"PARK, Eun-Chul",KOR,Men,- 55kg,M,Bronze
29191,Beijing,2008,Wrestling,Wrestling Gre-R,"MANKIEV, Nazyr",RUS,Men,- 55kg,M,Gold
29192,Beijing,2008,Wrestling,Wrestling Gre-R,"BAYRAMOV, Rovshan",AZE,Men,- 55kg,M,Silver
29193,Beijing,2008,Wrestling,Wrestling Gre-R,"TENGIZBAYEV, Nurbakyt",KAZ,Men,55 - 60kg,M,Bronze
29194,Beijing,2008,Wrestling,Wrestling Gre-R,"TIUMENBAEV, Ruslan",KGZ,Men,55 - 60kg,M,Bronze
29195,Beijing,2008,Wrestling,Wrestling Gre-R,"ALBIEV, Islam-Beka",RUS,Men,55 - 60kg,M,Gold
29196,Beijing,2008,Wrestling,Wrestling Gre-R,"RAHIMOV, Vitaliy",AZE,Men,55 - 60kg,M,Silver
29197,Beijing,2008,Wrestling,Wrestling Gre-R,"SIAMIONAU, Mikhail",BLR,Men,60 - 66kg,M,Bronze
29198,Beijing,2008,Wrestling,Wrestling Gre-R,"VARDANYAN, Armen",UKR,Men,60 - 66kg,M,Bronze
29199,Beijing,2008,Wrestling,Wrestling Gre-R,"GUENOT, Steeve",FRA,Men,60 - 66kg,M,Gold
29200,Beijing,2008,Wrestling,Wrestling Gre-R,"BEGALIEV, Kanatbek",KGZ,Men,60 - 66kg,M,Silver
29201,Beijing,2008,Wrestling,Wrestling Gre-R,"GUENOT, Christophe",FRA,Men,66 - 74kg,M,Bronze
29202,Beijing,2008,Wrestling,Wrestling Gre-R,"YANAKIEV, Yavor",BUL,Men,66 - 74kg,M,Bronze
29203,Beijing,2008,Wrestling,Wrestling Gre-R,"KVIRKELIA, Manuchar",GEO,Men,66 - 74kg,M,Gold
29204,Beijing,2008,Wrestling,Wrestling Gre-R,"CHANG, Yongxiang",CHN,Men,66 - 74kg,M,Silver
29205,Beijing,2008,Wrestling,Wrestling Gre-R,"AVLUCA, Nazmi",TUR,Men,74 - 84kg,M,Bronze
29206,Beijing,2008,Wrestling,Wrestling Gre-R,"MINGUZZI, Andrea",ITA,Men,74 - 84kg,M,Gold
29207,Beijing,2008,Wrestling,Wrestling Gre-R,"FODOR, Zoltan",HUN,Men,74 - 84kg,M,Silver
29208,Beijing,2008,Wrestling,Wrestling Gre-R,"MAMBETOV, Asset",KAZ,Men,84 - 96kg,M,Bronze
29209,Beijing,2008,Wrestling,Wrestling Gre-R,"WHEELER, Adam",USA,Men,84 - 96kg,M,Bronze
29210,Beijing,2008,Wrestling,Wrestling Gre-R,"KHUSHTOV, Aslanbek",RUS,Men,84 - 96kg,M,Gold
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

## Accessing Series

A Series is a one-dimensional labelled array-like object. It is capable of holding any data type, e.g. integers, floats, strings, Python objects, and so on. It can be seen as a data structure with two arrays: one functioning as the index, i.e. the labels, and the other one contains the actual data.

In [10]:
oo['Athlete']  # <-- Series

0                      HAJOS, Alfred
1                   HERSCHMANN, Otto
2                  DRIVAS, Dimitrios
3                 MALOKINIS, Ioannis
4                 CHASAPIS, Spiridon
5              CHOROPHAS, Efstathios
6                      HAJOS, Alfred
7                   ANDREOU, Joannis
8              CHOROPHAS, Efstathios
9                      NEUMANN, Paul
10                 PEPANOS, Antonios
11                     LANE, Francis
12                  SZOKOLYI, Alajos
13                     BURKE, Thomas
14                    HOFMANN, Fritz
15                    CURTIS, Thomas
16                GOULDING, Grantley
17                 LERMUSIAUX, Albin
18                      FLACK, Edwin
19                     BLAKE, Arthur
20                   GMELIN, Charles
21                     BURKE, Thomas
22                  JAMISON, Herbert
23                GOLEMIS, Dimitrios
24                      FLACK, Edwin
25                      DANI, Nandor
26                  VERSIS, Sotirios
27                   GARRETT, Robert
28       PARASKEVOPOULOS, Panagiotis
29                     CLARK, Ellery
                    ...
29186               MUTALIMOV, Marid
29187                TAYMAZOV, Artur
29188            AKHMEDOV, Bakhtiyar
29189                  AMOYAN, Roman
29190                 PARK, Eun-Chul
29191                 MANKIEV, Nazyr
29192              BAYRAMOV, Rovshan
29193          TENGIZBAYEV, Nurbakyt
29194             TIUMENBAEV, Ruslan
29195             ALBIEV, Islam-Beka
29196               RAHIMOV, Vitaliy
29197             SIAMIONAU, Mikhail
29198               VARDANYAN, Armen
29199                 GUENOT, Steeve
29200             BEGALIEV, Kanatbek
29201             GUENOT, Christophe
29202                YANAKIEV, Yavor
29203            KVIRKELIA, Manuchar
29204               CHANG, Yongxiang
29205                  AVLUCA, Nazmi
29206               MINGUZZI, Andrea
29207                  FODOR, Zoltan
29208                MAMBETOV, Asset
29209                  WHEELER, Adam
29210             KHUSHTOV, Aslanbek
29211                 ENGLICH, Mirko
29212           MIZGAITIS, Mindaugas
29213                PATRIKEEV, Yuri
29214                  LOPEZ, Mijain
29215                 BAROEV, Khasan
Name: Athlete, Length: 29216, dtype: object

In [11]:
athlete = oo['Athlete']

In [12]:
type(athlete)

pandas.core.series.Series

In [13]:
list(athlete)

['HAJOS, Alfred',
 'HERSCHMANN, Otto',
 'DRIVAS, Dimitrios',
 'MALOKINIS, Ioannis',
 'CHASAPIS, Spiridon',
 'CHOROPHAS, Efstathios',
 'HAJOS, Alfred',
 'ANDREOU, Joannis',
 'CHOROPHAS, Efstathios',
 'NEUMANN, Paul',
 'PEPANOS, Antonios',
 'LANE, Francis',
 'SZOKOLYI, Alajos',
 'BURKE, Thomas',
 'HOFMANN, Fritz',
 'CURTIS, Thomas',
 'GOULDING, Grantley',
 'LERMUSIAUX, Albin',
 'FLACK, Edwin',
 'BLAKE, Arthur',
 'GMELIN, Charles',
 'BURKE, Thomas',
 'JAMISON, Herbert',
 'GOLEMIS, Dimitrios',
 'FLACK, Edwin',
 'DANI, Nandor',
 'VERSIS, Sotirios',
 'GARRETT, Robert',
 'PARASKEVOPOULOS, Panagiotis',
 'CLARK, Ellery',
 'CONNOLLY, James',
 'GARRETT, Robert',
 'CONNOLLY, James',
 'CLARK, Ellery',
 'GARRETT, Robert',
 'KELLNER, Gyula',
 'LOUIS, Spyridon',
 'VASILAKOS, Kharilaos',
 'DAMASKOS, Evangelos',
 'THEODOROPOULOS, Ioannis',
 'HOYT, William Welles',
 'TYLER, Albert',
 'PAPASIDERIS, Georgios',
 'GARRETT, Robert',
 'GOUSKOS, Miltiadis',
 'PERSAKIS, Ioannis',
 'CONNOLLY, James',
 'TUFFERI, Alexandre',
 'BATTEL, Edward',
 'KONSTANTINIDIS, Aristidis',
 'GOEDRICH, August',
 'FLAMENG, Léon',
 'KOLETTIS, Georgios',
 'SCHMAL, Adolf',
 'MASSON, Paul',
 'FLAMENG, Léon',
 'SCHMAL, Adolf',
 'KEEPING, Frank',
 'SCHMAL, Adolf',
 'MASSON, Paul',
 'NIKOLOPOULOS, Stamatios',
 'FLAMENG, Léon',
 'MASSON, Paul',
 'NIKOLOPOULOS, Stamatios',
 'PIERRAKOS-MAVROMICHALIS, Perikles',
 'GRAVELOTTE, Eugène-Henri',
 'CALLOT, Henri',
 'PYRGOS, Leonidas',
 'PERRONNET, Maurice',
 'NIELSEN, Holger',
 'GEORGIADIS, Ioannis',
 'KARAKALOS, Telemachos',
 'WEINGÄRTNER, Hermann',
 'FLATOW, Alfred',
 'FLATOW, Alfred',
 'ZUTTER, Louis',
 'ZUTTER, Louis',
 'WEINGÄRTNER, Hermann',
 'PERSAKIS, Petros',
 'MITROPOULOS, Ioannis',
 'WEINGÄRTNER, Hermann',
 'HOFMANN, Fritz',
 'ANDRIAKOPOULOS, Nicolaos',
 'XENAKIS, Thomasios',
 'BÖCKER, Konrad',
 'FLATOW, Alfred',
 'FLATOW, Gustav Felix',
 'HILMAR, Georg',
 'HOFMANN, Fritz',
 'MANTEUFFEL, Fritz',
 'NEUKIRCH, Karl',
 'RÖSTEL, Richard',
 'SCHUFT, Gustav',
 'SCHUMANN, Carl',
 'WEINGÄRTNER, Hermann',
 'CHRYSAPHIS, Ioannis',
 'KARVELAS, Phillippos',
 'LOUNDRAS, Dimitrios',
 'MITROPOULOS, Ioannis',
 'BÖCKER, Konrad',
 'FLATOW, Alfred',
 'FLATOW, Gustav Felix',
 'HILMAR, Georg',
 'HOFMANN, Fritz',
 'MANTEUFFEL, Fritz',
 'NEUKIRCH, Karl',
 'RÖSTEL, Richard',
 'SCHUFT, Gustav',
 'SCHUMANN, Carl',
 'WEINGÄRTNER, Hermann',
 'ANDRIAKOPOULOS, Nicolaos',
 'ATHANASOPOULOS, Spyros',
 'PERSAKIS, Petros',
 'XENAKIS, Thomasios',
 'WEINGÄRTNER, Hermann',
 'SCHUMANN, Carl',
 'ZUTTER, Louis',
 'MORAKIS, Nikolaos',
 'PAINE, John',
 'PAINE, Sumner',
 'NIELSEN, Holger',
 'PHRANGOUDIS, Joannis',
 'ORPHANIDIS, Georgios',
 'PHRANGOUDIS, Joannis',
 'PAINE, Sumner',
 'NIELSEN, Holger',
 'TRIKUPIS, Nicolaos',
 'KARASEVDAS, Pantelis',
 'PAVLIDIS, Pavlos',
 'JENSEN, Viggo',
 'ORPHANIDIS, Georgios',
 'PHRANGOUDIS, Joannis',
 'FLACK, Edwin',
 'ROBERTSON, George Stuart',
 'BOLAND, John',
 'TRAUN, Friedrich',
 'KASDAGLIS, Dionysios',
 'PETROKOKKINOS, Demetrios',
 'PASPATIS, Konstantinos',
 'TAPAVICZA, Momcsillo',
 'BOLAND, John',
 'KASDAGLIS, Dionysios',
 'NIKOLOPOULOS, Alexandros',
 'ELLIOTT, Launceston',
 'JENSEN, Viggo',
 'VERSIS, Sotirios',
 'JENSEN, Viggo',
 'ELLIOTT, Launceston',
 'CHRISTOPOULOS, Stephanos',
 'SCHUMANN, Carl',
 'TSITAS, Georgios',
 'HALMAY, Zoltan',
 'JARVIS, John Arthur',
 'WAHLE, Otto',
 'DROST, Johannes',
 'HOPPENBERG, Ernst',
 'RUBERL, Karl',
 'RUBERL, Karl',
 'LANE, Frederick C.V.',
 'HALMAY, Zoltan',
 'KEMP, Peter',
 'LANE, Frederick C.V.',
 'WAHLE, Otto',
 'HOUBEN',
 'LEUILLIEUX, Jean',
 'MARTIN, Louis',
 'MERCHEZ, Désiré',
 'TARTARA',
 'FREY, Julius',
 'HAINLE, Max',
 'HOPPENBERG, Ernst',
 'SCHÖNE, Max',
 'VON PETERSDORFF, Herbert',
 'BERTRAND',
 'CADET',
 'HOCHEPIED, Maurice',
 'HOCHEPIED, Victor',
 'VERBECKE',
 'MARTIN, Louis',
 'JARVIS, John Arthur',
 'HALMAY, Zoltan',
 'LYKKEBERG, Peder',
 'DE VENDEVILLE, Charles',
 'SIX, André',
 'BURGESS, Thomas',
 'COULON',
 'DECUYPER, Alphonse',
 'DEVENOT',
 'FARDELLE',
 'FAVIER',
 'LAUFRAY, Louis',
 'LERICHE',
 'MARTIN, Louis',
 'MERCHEZ, Désiré',
 'PESLIER, Henri',
 'PESLOY',
 'TREFFEL, Charles',
 'VASSEUR, Paul',
 'COE, Thomas',
 'DERBYSHIRE, John Henry',
 'KEMP, Peter',
 'LISTER, William',
 'ROBERTSON, Arthur',
 'ROBINSON, Eric',
 'WILKINSON, George',
 'COHEN, Henri',
 'DE BACKER, Jean',
 'DE BEHR, Victor',
 'FEYAERTS, Fernand',
 'GREGOIRE, Oscar',
 'MICHANT, Albert',
 'SONNEMANS, Victor',
 'PETIT, Charles Frédéric',
 'VAN INNIS, Hubert',
 'THIBAUD, Victor',
 'MERCIER, Emile',
 'MOUGIN, Eugène',
 'HELLE, Henri',
 'PETIT, Charles Frédéric',
 'VAN INNIS, Hubert',
 'THIBAUD, Victor',
 'FISSEUX, Emile',
 'HEROUIN, Henri',
 'VAN INNIS, Hubert',
 'FOULON, Emmanuel',
 'DRUART, Jr.',
 'SERRURIER, Auguste',
 'GLINEUX, Louis',
 'GRUMIAUX, Emile',
 'SERRURIER, Auguste',
 'ROWLEY, Stanley',
 'JARVIS, Francis',
 'TEWKSBURY, Walter B. John',
 'MOLONEY, Frederick',
 'KRAENZLEIN, Alvin',
 'MCLEAN, John',
 'BRAY, John',
 'BENNETT, Charles',
 'DELOGE, Henri',
 'ROWLEY, Stanley',
 'TEWKSBURY, Walter B. John',
 'PRITCHARD, Norman',
 'TEWKSBURY, Walter B. John',
 'KRAENZLEIN, Alvin',
 'PRITCHARD, Norman',
 'CHASTANIE, Jacques',
 'ORTON, George',
 'ROBINSON, Sidney',
 'ROBINSON, Sidney',
 'RIMMER, John',
 'BENNETT, Charles',
 'SCHULTZ, Ernst',
 'LONG, Maxwell W.Maxey',
 'HOLLAND, William',
 'ORTON, George',
 'TEWKSBURY, Walter B. John',
 'TAUZIN, Henri',
 'BENNETT, Charles',
 'RIMMER, John',
 'ROBINSON, Sidney',
 'ROWLEY, Stanley',
 'TYSOE, Alfred',
 'CASTANET, André',
 'CHAMPOUDRY, Michel',
 'CHASTANIE, Jacques',
 'DELOGE, Henri',
 'RAGUENEAU, Gaston',
 'ROWLEY, Stanley',
 'KRAENZLEIN, Alvin',
 'TEWKSBURY, Walter B. John',
 'HALL, David',
 'TYSOE, Alfred',
 'CREGAN, John',
 'SHELDON, Richard',
 'BAUER, Rudolf',
 'JANDA, Frantisek',
 'MCCRACKEN, Josiah',
 'FLANAGAN, John Jesus',
 'HARE, Thomas Truxton',
 'GÖNCZY, Lajos',
 'BAXTER, Irving',
 'LEAHY, Patrick Joseph',
 'SHELDON, Lewis Pendleton',
 'EWRY, Ray',
 'BAXTER, Irving',
 'LEAHY, Patrick Joseph',
 'KRAENZLEIN, Alvin',
 'PRINSTEIN, Meyer',
 'TORCHEBOEUF, Emile',
 'EWRY, Ray',
 'BAXTER, Irving',
 'FAST, Ernst',
 'THEATO, Michel',
 'CHAMPION, Emile',
 'ANDERSEN, Carl Albert',
 'BAXTER, Irving',
 'COLKETT, Meredith Bright',
 'GARRETT, Robert',
 'SHELDON, Richard',
 'MCCRACKEN, Josiah',
 'SHELDON, Lewis Pendleton',
 'PRINSTEIN, Meyer',
 'CONNOLLY, James',
 'GARRETT, Robert',
 'EWRY, Ray',
 'BAXTER, Irving',
 'De AMEZOLA y ASPIZUA, José',
 'VILLOTA BAQUIOLA, Francisco',
 'DURQUETTY, Maurice',
 'ETCHEGARAY',
 'BEACHCROFT, Charles',
 'BIRKETT, Arthur Ernest',
 'BOWERMAN, Alfred James',
 'BUCKLEY, George John',
 'BURCHELL, Francis Romulus',
 'CHRISTIAN, Frederick William',
 'CORNER, Harry Richard',
 'CUMING, Frederick Wlliam',
 'DONNE, William Stephen',
 'POWLESLAND, Alfred James',
 'SYMES, John',
 'TOLLER, Montagu Henry',
 'ANDERSON, W.',
 'ATTRILL, W.T.',
 'BRAID, J.',
 'BROWNING, W.',
 'HORNE, R.',
 'JORDAN, T.H.',
 'MCEVOY, A.',
 'ROBINSON, D.',
 'ROQUES, F.',
 'SCHNEIDAU, A.J.',
 'TERRY, Henry John',
 'TOMALIN, P.H.',
 'AUMOITTE',
 'JOHIN',
 'WAYDELICH',
 'AUMOITTE',
 'JOHIN',
 'SAUTREAU',
 'WAYDELICH',
 'VIGNEROT',
 'DAUMAIN, .....',
 'BASTIEN, Louis',
 'HILDEBRAND, Louis',
 'LAKE, John Henry',
 'TAILLANDIER, Georges',
 'SANZ, Fernand',
 'VAN DE POELE, Georges',
 'GARDERES, Dominique Maximien',
 'TRISSINO, Gian Giorgio',
 'DE CHAMPSAVIN, Louis',
 'HAEGEMAN, Aimé',
 'VAN DE POELE, Georges',
 'DE BELLEGARDE',
 'VAN LANGHENDONCK, Constant',
 'TRISSINO, Gian Giorgio',
 'SEE, Léon',
 'FONST, Ramon',
 'PERREE, Louis',
 'SEE, Léon',
 'AYAT, Albert',
 'FONST, Ramon',
 'LAURENT, Henri',
 'AYAT, Albert',
 'BOUGNOL, Emile',
 'BOULENGER, Marcel Jacques',
 'COSTE, Emile',
 'MASSON, Henri',
 'MIMIAGUE, Jean-Baptiste',
 'MERIGNAC, Lucien',
 'KIRCHHOFFER, Alphonse',
 'FLESCH, Siegfried',
 'DE LA FALAISE, Georges',
 'THIEBAUT, Léon',
 'NERALIC, Milan',
 'CONTE, Antonio',
 'SANTELLI, Italo',
 'DELBECQUE, Albert',
 'KELECOM, R.',
 'LEBOUTTE, Marcel',
 'LONDOT',
 'MOREAU, Ernest',
 'NEEFS, E.',
 'PELGRIMS, Georges',
 'RENIER, Alphonse',
 'SPANNOGHE, E.',
 'THORNTON, Erich',
 'VAN HEUCKELUM',
 'BUCKENHAM, Claude Percy',
 'BURRIDGE, T.E.',
 'CHALK, Alfred Ernest',
 'GROSLING, William Sullivan',
 'HASLAM, A.',
 'JONES, J.H.',
 'NICHOLAS, J.',
 'QUASH, William Francis',
 'SPACKMAN, F.G.',
 'TURNER, R.R.',
 'ZEALLEY, James Edward',
 'ALLEMANE, Pierre',
 'BACH',
 'BLOCH, Jean',
 'CANELLE, Fernand',
 'DUPARC',
 'FRAYSSE',
 'GAILLARD',
 'GARNIER, René',
 'GRANDJEAN',
 'HUTEAU',
 'LAMBERT',
 'MACAIRE',
 'PELTIER',
 'ROBERTSON, David Donaldson',
 'SANDS, Charles Edward',
 'RUTHERFORD, Walter',
 'PRATT, Daria',
 'ABBOTT, Margaret Ives',
 'WHITTIER, Pauline',
 'DEMANET, Lucien',
 'SANDRAS, Gustave',
 'BAS, Noël',
 'BOUSSOD, Jean',
 'DUC DE BISACCIA, Louis',
 'FAUQUET LEMAITRE, A.',
 'RAOUL-DUVAL, Maurice',
 'DALY, Dennis',
 'KEENE, Foxhall Parker',
 'MACKEY, Frank Jay',
 'RAWLINSON, Alfred',
 'BUCKMASTER, Walter Selby',
 'COMTE DE MADRE, José Pierre M.J.',
 'FREAKE, Frederick Maitland',
 'MCCREERY, Walter Adolph',
 'BRANDT, Francois Antoine',
 'BROCKMANN, Hermanus Gerardus',
 'KLEIN, Roelof',
 'LEEGSTRA, Ruud Gerbens',
 'MIDDELBERG, Walter',
 'OFFERHAUS, Hendrik Karel',
 'THIJSSEN, Walter',
 'TROMP, Henricus',
 'VAN DIJK, Johannes Wilhelmus Maria',
 'ABELL, Louis',
 'CARR, William',
 'DEBAECKE, Harry',
 'EXLEY, John',
 'GEIGER, John',
 'HEDLEY, Edward',
 'JUVENAL, James',
 'LOCKWOOD, Roscoe',
 'MARSH, Edward',
 'BRUGGEMAN, Prospère',
 'DE BISSCHOP, Jules',
 'DE COCK, Oscar',
 'DE SOMVILLE, Oscar Charles',
 'HEMELSOET, Maurice',
 'ODBERG, Frank',
 'VAN CROMBRUGGHE, Marcel Lucien',
 'VAN LANDEGHEM, Alfred',
 'VERDONCK, Maurice',
 'CARSTENS, Wilhelm',
 'FELLE, Ernst',
 'FICKEISEN, Otto',
 'KÖRNER, Julius',
 'KRÖWERATH, Franz',
 'LEHLE, Carl',
 'MÖLLER, Adolf',
 'MOTHS, Gustav Adolf',
 'RÜSTER, Hugo',
 'WILKER, Hermann',
 'BOUCKAERT, Henri',
 'CAU, Jean',
 'CHARLOT',
 'DELCHAMBRE, Emile',
 'GOSSLER, Carl Heinrich',
 'GOSSLER, Gustav Ludwig',
 'GOSSLER, Oscar',
 'HAZEBROUCK, Henri',
 'KATZENSTEIN, Walther',
 'TIETGENS, Waldemar',
 'BROCKMANN, Hermanus Gerardus',
 'HIEBENDAAI, Coenraad Christiaan',
 'LOTSY, Gerhard Oswald',
 'LOTSY, Paulus Jan',
 'LUMPP, Georges',
 'PERRIN, Charles',
 'SOUBEYRAN, Daniel',
 'TERWOGT, Johannes Hester Lambertus',
 'WEGELIN, Emile',
 'DELTOUR, Carlos',
 'PAOLI, Raoul',
 'VEDRENNE, Antoine Erneste',
 'BRANDT, Francois Antoine',
 'BROCKMANN, Hermanus Gerardus',
 'KLEIN, Roelof',
 'MARTINET, Louis',
 'UNKNOWN COX / BARREUR INCONNU',
 'WALEFF',
 'ASHE, Saint-George',
 'BARRELET, Henri',
 'GAUDIN, André',
 'AITOFF, Vladimir',
 'ALBERT, A.',
 'BINOCHE, Jean, LÃ©on',
 'COLLAS, Jean',
 'GAUTIER, Jean Guy',
 'GIROUX, Auguste',
 'GONDOUIN, Charles',
 'HENRIQUEZ DE ZUBIERRA, Constantin',
 'HERVE, Jean',
 'LARDANCHET, Victor',
 'LEFEBVRE, Hubert',
 'OLIVIER, Joseph',
 'PHARAMOND, Alexandre',
 'REICHEL, Frantz',
 'RISCHMANN, André',
 'ROOSEVELT, Albert',
 'SARRADE, Emile',
 'AMRHEIN, Albert',
 'BAYLISS, F.C.',
 'BETTING, Hugo',
 'BIRTLES, J.Henry',
 'CAUTLON, J.',
 'DARBY, Artur John',
 'DEYKIN, C.P.',
 'HERRMANN, Jacob',
 'HOFMEISTER, Willy',
 'HOOD, L.',
 'KREUZER, Hermann',
 'LANDVOIGT, Arnold',
 'LATSCHA, Hans',
 'LOGAN, M.L.',
 'LOVEITT, H.A.',
 'LUDWIG, Erich',
 'LUDWIG, Richard',
 'MÜLLER, Fritz',
 'NICOL, N.S.',
 'POPPE, Eduard',
 'REITZ, Heinrich',
 'SCHMIERER, August',
 'SMITH, V.',
 'STOCKHAUSEN, Adolf',
 'TALBOT, M.W.',
 'WALLIS, J.G.',
 'WENDEROTH, Georg',
 'WHITTINDALE, Claud',
 'WHITTINDALE, Raymond',
 'WILSON, Francis Henry',
 'MICHELET, E.',
 'MICHELET, F.',
 'GRETTON, John H.',
 'HOPE, Linton',
 'LORD CURRIE, Lorne Campbell',
 'BAUDRIER, Jacques',
 'LEBRET, Jean',
 'MARCOTTE',
 'MARTIN, William',
 'VALTON',
 'HORE, Edward',
 'BILLARD, Emile',
 'PERQUER, P.',
 'LE DUC DECAZES, Jean',
 'MACHENRY, M.',
 'TAYLOR, Howard',
 'GUFFLET, Maurice',
 'MICHELET, E.',
 'MICHELET, F.',
 'GRETTON, John H.',
 'HOPE, Linton',
 'LORD CURRIE, Lorne Campbell',
 'NAUE, Georg',
 'PETERS, Heinrich',
 'WEISE, Ottokar',
 'WIESNER, Martin',
 'BALME, Eugène',
 'LARROUY, Maurice',
 'MOREAUX, Léon',
 'BOUWENS, Antonius',
 'SILLEM, Henrik',
 'SWEYS, Anthony Ahasuerus',
 'VAN DEN BERGH, Solko Johannes',
 'VAN HAAN, Gerardus',
 'LÜTHI, Friedrich',
 'PROBST, Paul',
 'RICHARDET, Louis-Marc',
 'RÖDERER, Karl Konrad',
 'STÄHELI, Konrad',
 'DUFFOY, Louis',
 'LECOQ, Maurice',
 'MOREAUX, Léon',
 'PAROCHE, Achille',
 'TRINITE',
 'STÄHELI, Konrad',
 'RÖDERER, Karl Konrad',
 'PAROCHE, Achille',
 'ÖSTMO, Ole',
 'VAN ASBROECK, Paul',
 'KELLENBERGER, Emil',
 'NIELSEN, Anders Peter',
 'STÄHELI, Konrad',
 'KELLENBERGER, Emil',
 'NIELSEN, Anders Peter',
 'ÖSTMO, Ole',
 'PAROCHE, Achille',
 'NIELSEN, Anders Peter',
 'PAUMIER DU VERGIER, Charles',
 'MADSEN, Lars Jörgen',
 'ÖSTMO, Ole',
 'CAVADINI, Auguste',
 'LECOQ, Maurice',
 'MOREAUX, Léon',
 'PAROCHE, Achille',
 'THOMAS, René',
 'BÖCKLI, Franz',
 'GRÜTER, Alfred',
 'KELLENBERGER, Emil',
 'RICHARDET, Louis-Marc',
 'STÄHELI, Konrad',
 'FRYDENLUND, Olaf Emil',
 'HERMANDSEN, Hellmer',
 'ÖSTMO, Ole',
 'SAETHER, Ole Andreas',
 'SEEBERG, Tom',
 'DE CLARY, Justinien',
 'DE BARBARIN, Roger',
 'GUYOT, René',
 'DE LA CHAPELLE, Georges',
 'MAHONY, Harold Sergerson',
 'NORRIS, Arthur B.J.',
 'PREVOST, André',
 'DOHERTY, Hugh Lawrence',
 'DOHERTY, Reginald Frank',
 'DE GARMENDIA, Basil Spalding',
 'DECUGIS, Max',
 'DOHERTY, Hugh Lawrence',
 'WARDEN, Archibald A.',
 'DOHERTY, Reginald Frank',
 'MAHONY, Harold Sergerson',
 'JONES, Marion',
 'ROSENBAUM, Hedwig',
 'COOPER, Charlotte',
 'PREVOST, Hélène',
 'DOHERTY, Reginald Frank',
 'NORRIS, Arthur B.J.',
 'DOHERTY, Hugh Lawrence',
 'MAHONY, Harold Sergerson',
 'JONES, Marion',
 'ROSENBAUM, Hedwig',
 'COOPER, Charlotte',
 'PREVOST, Hélène',
 'AABYE, Edgar',
 'NILSSON, August',
 'SCHMIDT, Eugen',
 'SÖDERSTRÖM, Gustaf',
 'STAAF, Karl Gustav',
 'WINCKLER, Charles',
 'BASSET, Pierre',
 'COLLAS, Jean',
 'GONDOUIN, Charles',
 'HENRIQUEZ DE ZUBIERRA, Constantin',
 'ROFFO, Joseph',
 'SARRADE, Emile',
 'BRAUNSCHWEIGER, Alfred',
 'KEHOE, Frank',
 'SHELDON, George',
 'HOFFMANN, Georg',
 'GOODWIN, Leo Budd',
 'DICKEY, William Paul',
 'ADAMS, Edgar H.',
 'ZACHARIAS, Georg',
 'BRACK, Walter',
 'HOFFMANN, Georg',
 'LEARY, J. Scott',
 'HALMAY, Zoltan',
 'DANIELS, Charles',
 'GAILEY, Francis',
 'RAUSCH, Emil',
 'KISS, Geza',
 'RAUSCH, Emil',
 'DANIELS, Charles',
 'GAILEY, Francis',
 'HANDY, Hehry Jamison',
 'ZACHARIAS, Georg',
 'BRACK, Walter',
 'WAHLE, Otto',
 'DANIELS, Charles',
 'GAILEY, Francis',
 'EVANS, Gwynne',
 'ORTHWEIN, William Robert',
 'REYBURN, Amadee',
 'SCHWARTZ, Marquard',
 'DANIELS, Charles',
 'GOODWIN, Leo Budd',
 'HANDLEY, Louis De Breda',
 'RUDDY, Joseph A.',
 'GOETZ, Hugo',
 'HAMMOND, David',
 'THORNE, Raymond',
 'TUTTLE, William',
 'DANIELS, Charles',
 'HALMAY, Zoltan',
 'LEARY, J. Scott',
 'KISS, Geza',
 'RAUSCH, Emil',
 'GAILEY, Francis',
 'THOMPSON, William Henry',
 'BRYANT, George Philipp',
 'WILLIAMS, Robert',
 'POLLOCK, Jessie',
 'HOWELL, Matilda Scott',
 'COOKE, Emma C.',
 'POLLOCK, Jessie',
 'HOWELL, Matilda Scott',
 'COOKE, Emma C.',
 'THOMPSON, William Henry',
 'BRYANT, George Philipp',
 'WILLIAMS, Robert',
 'BRYANT, George Philipp',
 'BRYANT, Wallace',
 'DALLIN, Cyrus Edwin',
 'RICHARDSON, Henry Barber',
 'MAXSON, Louis W.',
 'SPENCER, Galen Carter',
 'THOMPSON, William Henry',
 'WILLIAMS, Robert',
 'CLARK, William A.',
 'DUVALL, Samuel Harding',
 'HUBBARD, Charles R.',
 'WOODRUFF, Charles S.',
 'HOWELL, Matilda Scott',
 'POLLOCK, Jessie',
 'TAYLOR, Louise',
 'WOODRUFF, Laura',
 'COOKE, Emma C.',
 'TAYLOR, Mabel',
 'HOGENSON, William',
 'HAHN, Archie',
 'CARTMELL, John Nathaniel',
 'ASHBURNER, Lesley',
 'SCHULE, Frederick',
 'SHIDELER, Thaddeus',
 'HEARN, Lacey',
 'LIGHTBODY, James',
 'VERNER, William Frank',
 'HOGENSON, William',
 'HAHN, Archie',
 'CARTMELL, John Nathaniel',
 'POAGE, George',
 'HILLMAN, Harry',
 'CASTLEMAN, Frank',
 'NEWTON, Arthur',
 'LIGHTBODY, James',
 'DALY, John',
 'GROMAN, Herman',
 'HILLMAN, Harry',
 'WALLER, Frank',
 'POAGE, George',
 'HILLMAN, Harry',
 'WALLER, Frank',
 'MUNSON, David Curtis',
 'NEWTON, Arthur',
 'PILGRIM, Paul Harry',
 'UNDERWOOD, George',
 'VALENTINE, Howard',
 'CORAY, Albert',
 'HATCH, Sidney',
 'HEARN, Lacey',
 'LIGHTBODY, James',
 'VERNER, William Frank',
 'MITCHELL, James',
 'DESMARTEAU, Etienne',
 'FLANAGAN, John Jesus',
 'MOULTON, Fay',
 'HAHN, Archie',
 'HOGENSON, William',
 'BREITKREUTZ, Emil',
 'LIGHTBODY, James',
 'VALENTINE, Howard',
 'HARE, Thomas Truxton',
 'KIELY, Thomas Francis',
 'GUNN, Adam',
 'GEORGANDAS, Nicolaos',
 'SHERIDAN, Martin',
 'ROSE, Ralph',
 'ROSE, Ralph',
 'FLANAGAN, John Jesus',
 'DEWITT, John',
 'WEINSTEIN, Paul',
 'JONES, Samuel',
 'SERVISS, Garrett',
 'ROBERTSON, Lawson N.',
 'EWRY, Ray',
 'STADLER, Joseph F.',
 'STANGLAND, Robert',
 'PRINSTEIN, Meyer',
 'FRANK, Daniel',
 'BILLER, John',
 'EWRY, Ray',
 'KING, Charles',
 'NEWTON, Arthur',
 'HICKS, Thomas',
 'CORAY, Albert',
 'WILKINS, Louis',
 'DVORAK, Charles',
 'SAMSE, Leroy',
 'FEUERBACH, Lawrence E. Joseph',
 'ROSE, Ralph',
 'COE, William Wesley',
 'MERZ, William',
 'EMMERICH, Max',
 'GRIEB, John',
 'STANGLAND, Robert',
 'PRINSTEIN, Meyer',
 'ENGLEHARDT, Frederick',
 'STADLER, Joseph F.',
 'EWRY, Ray',
 'KING, Charles',
 'FINNEGAN, George',
 'BURKE, Miles',
 'MICHAELS, William',
 'BERGER, Samuel',
 'MAYER, Charles',
 'KIRK, Oliver L.',
 'FINNEGAN, George',
 'GILMORE, Frederick',
 'KIRK, Oliver L.',
 'HALLER, Frank',
 'VAN HORN, Russell',
 'SPANGER, Harry J.',
 'EAGAN, James Jack',
 'EAGAN, James Jack',
 'LYDON, Joseph',
 'YOUNG, Albert',
 'SPANGER, Harry J.',
 'MAYER, Charles',
 'SPRADLEY, Benjamin',
 'BILLINGTON, Edward',
 'HURLEY, Marcus',
 'DOWNING, Burton',
 'DOWNING, Burton',
 'HURLEY, Marcus',
 'BILLINGTON, Edward',
 'BILLINGTON, Edward',
 'HURLEY, Marcus',
 'DOWNING, Burton',
 'BILLINGTON, Edward',
 'HURLEY, Marcus',
 'DOWNING, Burton',
 'HURLEY, Marcus',
 'DOWNING, Burton',
 'GOERKE, Oscar',
 'WILEY, George',
 'DOWNING, Burton',
 'ANDREWS, Arthur F.',
 'ANDREWS, Arthur F.',
 'SCHLEE, Charles',
 'WILEY, George',
 'VAN ZO POST, Albertson',
 'FONST, Ramon',
 'TATHAM, Charles',
 'TATHAM, Charles',
 'FONST, Ramon',
 'VAN ZO POST, Albertson',
 'DIAZ, Manuel',
 'FONST, Ramon',
 'VAN ZO POST, Albertson',
 'FOX, Arthur',
 'TATHAM, Charles',
 'TOWNSEND, Charles Fitzhugh',
 'VAN ZO POST, Albertson',
 'DIAZ, Manuel',
 'GREBE, William',
 'GREBE, William',
 'VAN ZO POST, Albertson',
 "O'CONNOR, William Scott",
 'BRADY, Joseph J.',
 'COOKE, George Edwin',
 'COOKE, Thomas J.',
 'COSTGROVE, Cormic F.',
 'DIERKES',
 'DOOLING, Martin T.',
 'FROST, Frank',
 'JAMESON, Claude Stanley',
 'JAMESON, Henry Wood',
 'JOHNSON, -',
 "O'CONNELL",
 'TATE, Harry',
 'BARTLIFF, Charles Albert',
 'BRADY, Joseph J.',
 'BRITTINGHAM, Warren G.',
 'BROCKMEYER, Oscar B.',
 'COOKE, George Edwin',
 'COOKE, Thomas J.',
 'COSTGROVE, Cormic F.',
 'CUDMORE, Alexander',
 'DIERKES',
 'DOOLING, Martin T.',
 'DUCKER, George',
 'FRASER, John Alexander',
 'FROST, Frank',
 'GOURLEY, John',
 'HALL, Alexander',
 'JAMESON, Claude Stanley',
 'JAMESON, Henry Wood',
 'JANUARY, Charles James',
 'JANUARY, John Hartnett',
 'JANUARY, Thomas Thurston',
 'JOHNSON, -',
 'JOHNSON, Albert',
 'LANE, Robert',
 'LAWLER, Raymond E.',
 'LINTON, Ernest',
 'LYDON, Joseph',
 'MACDONALD, Gordon',
 'MENGES, Louis John',
 "O'CONNELL",
 'RATICAN, Peter Joseph',
 'STEEP, Frederick',
 'TATE, Harry',
 'TAYLOR, Thomas',
 'TWAITS, William',
 'BARTLIFF, Charles Albert',
 'BRITTINGHAM, Warren G.',
 'BROCKMEYER, Oscar B.',
 'CUDMORE, Alexander',
 'JANUARY, Charles James',
 'JANUARY, John Hartnett',
 'JANUARY, Thomas Thurston',
 'LAWLER, Raymond E.',
 'LYDON, Joseph',
 'MENGES, Louis John',
 'RATICAN, Peter Joseph',
 'MCKINNIE, Burt P.',
 'NEWTON, Francis Clement',
 'LYON, George Seymour',
 'EGAN, Henri Chandler',
 'CUMMINS, Edward M.',
 'EDWARDS, Kenneth Paine',
 'EGAN, Henri Chandler',
 'EGAN, Walter Eugene',
 'HUNTER, Robert Edward',
 'MOORE, Nathaniel Fish',
 'PHELPS, Mason Elliot',
 'SAWYER, Danieledward',
 'SMOOT, Clement E.',

In [14]:
oo[['City','Edition','Athlete']]

          City  Edition                      Athlete
0       Athens     1896                HAJOS, Alfred
1       Athens     1896             HERSCHMANN, Otto
2       Athens     1896            DRIVAS, Dimitrios
3       Athens     1896           MALOKINIS, Ioannis
4       Athens     1896           CHASAPIS, Spiridon
5       Athens     1896        CHOROPHAS, Efstathios
6       Athens     1896                HAJOS, Alfred
7       Athens     1896             ANDREOU, Joannis
8       Athens     1896        CHOROPHAS, Efstathios
9       Athens     1896                NEUMANN, Paul
10      Athens     1896            PEPANOS, Antonios
11      Athens     1896                LANE, Francis
12      Athens     1896             SZOKOLYI, Alajos
13      Athens     1896                BURKE, Thomas
14      Athens     1896               HOFMANN, Fritz
15      Athens     1896               CURTIS, Thomas
16      Athens     1896           GOULDING, Grantley
17      Athens     1896            LERMUSIAUX, Albin
18      Athens     1896                 FLACK, Edwin
19      Athens     1896                BLAKE, Arthur
20      Athens     1896              GMELIN, Charles
21      Athens     1896                BURKE, Thomas
22      Athens     1896             JAMISON, Herbert
23      Athens     1896           GOLEMIS, Dimitrios
24      Athens     1896                 FLACK, Edwin
25      Athens     1896                 DANI, Nandor
26      Athens     1896             VERSIS, Sotirios
27      Athens     1896              GARRETT, Robert
28      Athens     1896  PARASKEVOPOULOS, Panagiotis
29      Athens     1896                CLARK, Ellery
...        ...      ...                          ...
29186  Beijing     2008             MUTALIMOV, Marid
29187  Beijing     2008              TAYMAZOV, Artur
29188  Beijing     2008          AKHMEDOV, Bakhtiyar
29189  Beijing     2008                AMOYAN, Roman
29190  Beijing     2008               PARK, Eun-Chul
29191  Beijing     2008               MANKIEV, Nazyr
29192  Beijing     2008            BAYRAMOV, Rovshan
29193  Beijing     2008        TENGIZBAYEV, Nurbakyt
29194  Beijing     2008           TIUMENBAEV, Ruslan
29195  Beijing     2008           ALBIEV, Islam-Beka
29196  Beijing     2008             RAHIMOV, Vitaliy
29197  Beijing     2008           SIAMIONAU, Mikhail
29198  Beijing     2008             VARDANYAN, Armen
29199  Beijing     2008               GUENOT, Steeve
29200  Beijing     2008           BEGALIEV, Kanatbek
29201  Beijing     2008           GUENOT, Christophe
29202  Beijing     2008              YANAKIEV, Yavor
29203  Beijing     2008          KVIRKELIA, Manuchar
29204  Beijing     2008             CHANG, Yongxiang
29205  Beijing     2008                AVLUCA, Nazmi
29206  Beijing     2008             MINGUZZI, Andrea
29207  Beijing     2008                FODOR, Zoltan
29208  Beijing     2008              MAMBETOV, Asset
29209  Beijing     2008                WHEELER, Adam
29210  Beijing     2008           KHUSHTOV, Aslanbek
29211  Beijing     2008               ENGLICH, Mirko
29212  Beijing     2008         MIZGAITIS, Mindaugas
29213  Beijing     2008              PATRIKEEV, Yuri
29214  Beijing     2008                LOPEZ, Mijain
29215  Beijing     2008               BAROEV, Khasan

[29216 rows x 3 columns]

In [15]:
type(oo[['City','Edition','Athlete']])

pandas.core.frame.DataFrame

In [16]:
type(oo)

pandas.core.frame.DataFrame

In [17]:
oo.City

0         Athens
1         Athens
2         Athens
3         Athens
4         Athens
5         Athens
6         Athens
7         Athens
8         Athens
9         Athens
10        Athens
11        Athens
12        Athens
13        Athens
14        Athens
15        Athens
16        Athens
17        Athens
18        Athens
19        Athens
20        Athens
21        Athens
22        Athens
23        Athens
24        Athens
25        Athens
26        Athens
27        Athens
28        Athens
29        Athens
          ...
29186    Beijing
29187    Beijing
29188    Beijing
29189    Beijing
29190    Beijing
29191    Beijing
29192    Beijing
29193    Beijing
29194    Beijing
29195    Beijing
29196    Beijing
29197    Beijing
29198    Beijing
29199    Beijing
29200    Beijing
29201    Beijing
29202    Beijing
29203    Beijing
29204    Beijing
29205    Beijing
29206    Beijing
29207    Beijing
29208    Beijing
29209    Beijing
29210    Beijing
29211    Beijing
29212    Beijing
29213    Beijing
29214    Beijing
29215    Beijing
Name: City, Length: 29216, dtype: object

In [18]:
type(oo.City)

pandas.core.series.Series

In [19]:
type(oo[['City','Edition','Athlete']])

pandas.core.frame.DataFrame

In [20]:
oo.columns.values  # <-- get list of columns of dataframe

array(['City', 'Edition', 'Sport', 'Discipline', 'Athlete', 'NOC',
       'Gender', 'Event', 'Event_gender', 'Medal'], dtype=object)

In [21]:
type(oo.columns.values)

numpy.ndarray

In [22]:
list(oo.columns.values)  # <-- convertion to list

['City',
 'Edition',
 'Sport',
 'Discipline',
 'Athlete',
 'NOC',
 'Gender',
 'Event',
 'Event_gender',
 'Medal']

In [23]:
oo.Edition.mean()

1967.7131708652794

In [24]:
oo.Edition.median()

1976.0

In [25]:
oo.Edition.std()

32.406292648907794

## Data validation

`info` provides a summary of the data frame including the number of entries, the data type, and the number of non-null entries for each series in the data frame. This is important because often when working with a real data set, there will be missing data. You want a view of this to determine how you will handle this missing data. Let's head back to the Jupyter notebook. So I enter the name of the data frame. We can see that we do not have any missing data in this data set.

In [26]:
oo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29216 entries, 0 to 29215
Data columns (total 10 columns):
City            29216 non-null object
Edition         29216 non-null int64
Sport           29216 non-null object
Discipline      29216 non-null object
Athlete         29216 non-null object
NOC             29216 non-null object
Gender          29216 non-null object
Event           29216 non-null object
Event_gender    29216 non-null object
Medal           29216 non-null object
dtypes: int64(1), object(9)
memory usage: 2.2+ MB

In [27]:
rows = oo.shape[0]

In [28]:
columns = oo.shape[1]

In [29]:
rows, columns

(29216, 10)

In [30]:
oo.dtypes

City            object
Edition          int64
Sport           object
Discipline      object
Athlete         object
NOC             object
Gender          object
Event           object
Event_gender    object
Medal           object
dtype: object

In [31]:
oo['City'] = oo.City.astype('str')  # <-- converting object field to string field

In [32]:
oo.dtypes

City            object
Edition          int64
Sport           object
Discipline      object
Athlete         object
NOC             object
Gender          object
Event           object
Event_gender    object
Medal           object
dtype: object

### head() and tail()

In [33]:
oo.head(2)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver

In [34]:
oo.tail(3)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

## Basic data analysis

In [35]:
oo.describe()  # <-- just number fields

            Edition
count  29216.000000
mean    1967.713171
std       32.406293
min     1896.000000
25%     1948.000000
50%     1976.000000
75%     1996.000000
max     2008.000000

### value_counts()

`value_counts` is one of the most useful methods in pandas. It returns a series object, counting all the unique values. There are two things in particular to be aware of value_counts. As this is returning a count of the unique values, the first value is the most frequently occurring element. The second, the second most frequently occurring element and so on. This order can be reversed by just setting the ascending flag to True.

In [36]:
oo.Edition.value_counts()

2008    2042
2000    2015
2004    1998
1996    1859
1992    1705
1988    1546
1984    1459
1980    1387
1976    1305
1920    1298
1972    1185
1968    1031
1964    1010
1952     889
1912     885
1956     885
1924     884
1960     882
1936     875
1948     814
1908     804
1928     710
1932     615
1900     512
1904     470
1896     151
Name: Edition, dtype: int64

`dropna`, one of the parameters within the `value_counts` is `True` by default and you will not get a count of the na values. The na values remember are the missing data values. If your data set has a significant number of na values, this can be misleading and you can turn this feature off by setting `dropna` to `False`. Let's now head over now to our Jupyter notebook, to look at `value_counts`. As we've done previously, let's import pandas as pd and read the CSV file into our data frame.

In [37]:
oo.Gender.value_counts(ascending=True,dropna=False)

Women     7495
Men      21721
Name: Gender, dtype: int64

In [38]:
val_counts = oo.Gender.value_counts()

In [39]:
type(val_counts)

pandas.core.series.Series

### sort_values()

`sort_values()` sorts the values in a series. As axis is equal to zero, you are sorting along the column and in ascending order by default. So if you visualize a series as being a single column, you are sorting the contents of that column in ascending order. By default, the NaNs, or missing data, are put right at the end. `sort_values()`, when used in conjunction with a DataFrame, is particularly useful as you can sort multiple series in ascending and descending order.

The `inplace` argument is one we will see often. And by default, `inplace` is equal to `False`, which means a new series will be returned.

In [40]:
ath = oo.Athlete.sort_values()
ath

651                    AABYE, Edgar
2849          AALTONEN, Arvo Ossian
2852          AALTONEN, Arvo Ossian
7716       AALTONEN, Paavo Johannes
7730       AALTONEN, Paavo Johannes
7773       AALTONEN, Paavo Johannes
7709       AALTONEN, Paavo Johannes
8563       AALTONEN, Paavo Johannes
28460              AAMODT, Ragnhild
3436               AANING, Alf Lied
19062         AARDENBURG, Willemien
22769             AARDEWIJN, Pepijn
22267          AARONES, Ann Kristin
3437                  AAS, Karl Jan
2601           AAS, Thomas Valentin
28134              ABAJO, Jose Luis
27691              ABAKUMOVA, Maria
27983           ABALMASAU, Aliaksei
28417                    ABALO, Luc
24202         ABANDA ETONG, Patrice
21538            ABARCA, Jose Maria
27125                 ABAS, Stephen
16390     ABASCAL GARCIA, Alejandro
16806    ABASCAL GOMEZ, Jose Manuel
26049             ABASSOVA, Tamilla
28418                   ABATI, Joel
20477                   ABAY, Peter
6380             ABAY-NEMES, Oszkar
7003                  ABBA, Silvano
24757           ABBAGNALE, Agostino
                    ...
10948                ZYBINA, Galina
9128                 ZYBINA, Galina
8235                 ZYBINA, Galina
15817                ZYCH, Boguslaw
23611                ZYKINA, Olesya
25639                ZYKINA, Olesya
10596              ZÄHRINGER, Klaus
19282               ZÜHLKE, Steffen
18534                ZÜLOW, Andreas
1138                 ZÜRNER, Albert
1939                 ZÜRNER, Albert
15711           ÖRSTED, Hans-Henrik
2691                ÖRTEGREN, Ruben
3745                    ÖRVIG, Erik
3746                    ÖRVIG, Olav
3747                    ÖRVIG, Thor
3868                ÖSTENSEN, Östen
4009                ÖSTENSEN, Östen
3870                ÖSTENSEN, Östen
2730                ÖSTENSEN, Östen
3942                ÖSTENSEN, Östen
3737              ÖSTERVOLD, Henrik
3738           ÖSTERVOLD, Jan Olsen
3739      ÖSTERVOLD, Kristian Olsen
3740           ÖSTERVOLD, Ole Olsen
603                      ÖSTMO, Ole
608                      ÖSTMO, Ole
621                      ÖSTMO, Ole
596                      ÖSTMO, Ole
8051              ÖSTRAND, Per-Olof
Name: Athlete, Length: 29216, dtype: object

In [41]:
oo.sort_values(by=['Edition','Athlete'])

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
7,Athens,1896,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200m freestyle,M,Silver
82,Athens,1896,Gymnastics,Artistic G.,"ANDRIAKOPOULOS, Nicolaos",GRE,Men,rope climbing,M,Gold
110,Athens,1896,Gymnastics,Artistic G.,"ANDRIAKOPOULOS, Nicolaos",GRE,Men,"team, parallel bars",M,Silver
111,Athens,1896,Gymnastics,Artistic G.,"ATHANASOPOULOS, Spyros",GRE,Men,"team, parallel bars",M,Silver
48,Athens,1896,Cycling,Cycling Road,"BATTEL, Edward",GBR,Men,individual road race,M,Bronze
19,Athens,1896,Athletics,Athletics,"BLAKE, Arthur",USA,Men,1500m,M,Silver
134,Athens,1896,Tennis,Tennis,"BOLAND, John",ZZX,Men,doubles,M,Gold
140,Athens,1896,Tennis,Tennis,"BOLAND, John",GBR,Men,singles,M,Gold
13,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
21,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,400m,M,Gold
84,Athens,1896,Gymnastics,Artistic G.,"BÖCKER, Konrad",GER,Men,"team, horizontal bar",M,Gold
99,Athens,1896,Gymnastics,Artistic G.,"BÖCKER, Konrad",GER,Men,"team, parallel bars",M,Gold
66,Athens,1896,Fencing,Fencing,"CALLOT, Henri",FRA,Men,foil individual,M,Silver
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
5,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200m freestyle,M,Bronze
8,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400m freestyle,M,Bronze
148,Athens,1896,Wrestling,Wrestling Gre-R,"CHRISTOPOULOS, Stephanos",GRE,Men,open event,M,Bronze
95,Athens,1896,Gymnastics,Artistic G.,"CHRYSAPHIS, Ioannis",GRE,Men,"team, parallel bars",M,Bronze
29,Athens,1896,Athletics,Athletics,"CLARK, Ellery",USA,Men,high jump,M,Gold
33,Athens,1896,Athletics,Athletics,"CLARK, Ellery",USA,Men,long jump,M,Gold
30,Athens,1896,Athletics,Athletics,"CONNOLLY, James",USA,Men,high jump,M,Silver
32,Athens,1896,Athletics,Athletics,"CONNOLLY, James",USA,Men,long jump,M,Bronze
46,Athens,1896,Athletics,Athletics,"CONNOLLY, James",USA,Men,triple jump,M,Gold
15,Athens,1896,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110m hurdles,M,Gold
38,Athens,1896,Athletics,Athletics,"DAMASKOS, Evangelos",GRE,Men,pole vault,M,Bronze
25,Athens,1896,Athletics,Athletics,"DANI, Nandor",HUN,Men,800m,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
143,Athens,1896,Weightlifting,Weightlifting,"ELLIOTT, Launceston",GBR,Men,heavyweight - one hand lift,M,Gold
147,Athens,1896,Weightlifting,Weightlifting,"ELLIOTT, Launceston",GBR,Men,heavyweight - two hand lift,M,Silver
18,Athens,1896,Athletics,Athletics,"FLACK, Edwin",AUS,Men,1500m,M,Gold
...,...,...,...,...,...,...,...,...,...,...
28583,Beijing,2008,Hockey,Hockey,"ZHANG, Yimeng",CHN,Women,hockey,W,Silver
28940,Beijing,2008,Table Tennis,Table Tennis,"ZHANG, Yining",CHN,Women,singles,W,Gold
28956,Beijing,2008,Table Tennis,Table Tennis,"ZHANG, Yining",CHN,Women,team,W,Gold
27893,Beijing,2008,Boxing,Boxing,"ZHANG, Zhilei",CHN,Men,+ 91kg (super heavyweight),M,Silver
27340,Beijing,2008,Aquatics,Swimming,"ZHAO, Jing",CHN,Women,4x100m medley relay,W,Bronze
29074,Beijing,2008,Volleyball,Volleyball,"ZHAO, Ruirui",CHN,Women,volleyball,W,Bronze
28584,Beijing,2008,Hockey,Hockey,"ZHAO, Yudiao",CHN,Women,hockey,W,Silver
28999,Beijing,2008,Tennis,Tennis,"ZHENG, Jie",CHN,Women,doubles,W,Bronze
28641,Beijing,2008,Judo,Judo,"ZHITKEYEV, Askhat",KAZ,Men,90 - 100kg (half-heavyweight),M,Silver
28169,Beijing,2008,Fencing,Fencing,"ZHONG, Man",CHN,Men,sabre individual,M,Gold
27701,Beijing,2008,Athletics,Athletics,"ZHOU, Chunxiu",CHN,Women,marathon,W,Bronze
27176,Beijing,2008,Aquatics,Diving,"ZHOU, Luxin",CHN,Men,10m platform,M,Silver
29075,Beijing,2008,Volleyball,Volleyball,"ZHOU, Suhong",CHN,Women,volleyball,W,Bronze
28585,Beijing,2008,Hockey,Hockey,"ZHOU, Wanfeng",CHN,Women,hockey,W,Silver
27341,Beijing,2008,Aquatics,Swimming,"ZHOU, Yafei",CHN,Women,4x100m medley relay,W,Bronze
28191,Beijing,2008,Fencing,Fencing,"ZHOVNIR, Olha",UKR,Women,sabre team,W,Gold
28989,Beijing,2008,Taekwondo,Taekwondo,"ZHU, Guo",CHN,Men,68 - 80 kg,M,Bronze
27394,Beijing,2008,Aquatics,Swimming,"ZHU, Qianwei",CHN,Women,4x200m freestyle relay,W,Silver
28857,Beijing,2008,Shooting,Shooting,"ZHU, Qinan",CHN,Men,10m air rifle (60 shots),M,Silver
28396,Beijing,2008,Gymnastics,Rhythmic G.,"ZHUKOVA, Inna",BLR,Women,individual all-round,W,Silver
29172,Beijing,2008,Wrestling,Wrestling Free.,"ZLATEVA, Stanka",BUL,Women,63 - 72kg,W,Silver
28308,Beijing,2008,Gymnastics,Artistic G.,"ZOU, Kai",CHN,Men,floor exercises,M,Gold
28314,Beijing,2008,Gymnastics,Artistic G.,"ZOU, Kai",CHN,Men,horizontal bar,M,Gold
28342,Beijing,2008,Gymnastics,Artistic G.,"ZOU, Kai",CHN,Men,team competition,M,Gold
27900,Beijing,2008,Boxing,Boxing,"ZOU, Shiming",CHN,Men,48kg (light flywieght),M,Gold
28095,Beijing,2008,Equestrian,Dressage,"ZU-SAYN WITTGENSTEIN, Nathalie",DEN,Women,team,X,Bronze
28819,Beijing,2008,Sailing,Sailing,"ZUBARI, Shahar",ISR,Men,RS:X - Windsurfer,M,Bronze
28977,Beijing,2008,Taekwondo,Taekwondo,"ZUBCIC, Martina",CRO,Women,49 - 57 kg,W,Bronze
28387,Beijing,2008,Gymnastics,Rhythmic G.,"ZUEVA, Natalia",RUS,Women,group competition,W,Gold
29007,Beijing,2008,Tennis,Tennis,"ZVONAREVA, Vera",RUS,Women,singles,W,Bronze

## loc[...]

In [42]:
oo

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
5,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200m freestyle,M,Bronze
6,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold
7,Athens,1896,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200m freestyle,M,Silver
8,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400m freestyle,M,Bronze
9,Athens,1896,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400m freestyle,M,Gold
10,Athens,1896,Aquatics,Swimming,"PEPANOS, Antonios",GRE,Men,400m freestyle,M,Silver
11,Athens,1896,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze
12,Athens,1896,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze
13,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
14,Athens,1896,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100m,M,Silver
15,Athens,1896,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110m hurdles,M,Gold
16,Athens,1896,Athletics,Athletics,"GOULDING, Grantley",GBR,Men,110m hurdles,M,Silver
17,Athens,1896,Athletics,Athletics,"LERMUSIAUX, Albin",FRA,Men,1500m,M,Bronze
18,Athens,1896,Athletics,Athletics,"FLACK, Edwin",AUS,Men,1500m,M,Gold
19,Athens,1896,Athletics,Athletics,"BLAKE, Arthur",USA,Men,1500m,M,Silver
20,Athens,1896,Athletics,Athletics,"GMELIN, Charles",GBR,Men,400m,M,Bronze
21,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,400m,M,Gold
22,Athens,1896,Athletics,Athletics,"JAMISON, Herbert",USA,Men,400m,M,Silver
23,Athens,1896,Athletics,Athletics,"GOLEMIS, Dimitrios",GRE,Men,800m,M,Bronze
24,Athens,1896,Athletics,Athletics,"FLACK, Edwin",AUS,Men,800m,M,Gold
25,Athens,1896,Athletics,Athletics,"DANI, Nandor",HUN,Men,800m,M,Silver
26,Athens,1896,Athletics,Athletics,"VERSIS, Sotirios",GRE,Men,discus throw,M,Bronze
27,Athens,1896,Athletics,Athletics,"GARRETT, Robert",USA,Men,discus throw,M,Gold
28,Athens,1896,Athletics,Athletics,"PARASKEVOPOULOS, Panagiotis",GRE,Men,discus throw,M,Silver
29,Athens,1896,Athletics,Athletics,"CLARK, Ellery",USA,Men,high jump,M,Gold
...,...,...,...,...,...,...,...,...,...,...
29186,Beijing,2008,Wrestling,Wrestling Free.,"MUTALIMOV, Marid",KAZ,Men,96 - 120kg,M,Bronze
29187,Beijing,2008,Wrestling,Wrestling Free.,"TAYMAZOV, Artur",UZB,Men,96 - 120kg,M,Gold
29188,Beijing,2008,Wrestling,Wrestling Free.,"AKHMEDOV, Bakhtiyar",RUS,Men,96 - 120kg,M,Silver
29189,Beijing,2008,Wrestling,Wrestling Gre-R,"AMOYAN, Roman",ARM,Men,- 55kg,M,Bronze
29190,Beijing,2008,Wrestling,Wrestling Gre-R,"PARK, Eun-Chul",KOR,Men,- 55kg,M,Bronze
29191,Beijing,2008,Wrestling,Wrestling Gre-R,"MANKIEV, Nazyr",RUS,Men,- 55kg,M,Gold
29192,Beijing,2008,Wrestling,Wrestling Gre-R,"BAYRAMOV, Rovshan",AZE,Men,- 55kg,M,Silver
29193,Beijing,2008,Wrestling,Wrestling Gre-R,"TENGIZBAYEV, Nurbakyt",KAZ,Men,55 - 60kg,M,Bronze
29194,Beijing,2008,Wrestling,Wrestling Gre-R,"TIUMENBAEV, Ruslan",KGZ,Men,55 - 60kg,M,Bronze
29195,Beijing,2008,Wrestling,Wrestling Gre-R,"ALBIEV, Islam-Beka",RUS,Men,55 - 60kg,M,Gold
29196,Beijing,2008,Wrestling,Wrestling Gre-R,"RAHIMOV, Vitaliy",AZE,Men,55 - 60kg,M,Silver
29197,Beijing,2008,Wrestling,Wrestling Gre-R,"SIAMIONAU, Mikhail",BLR,Men,60 - 66kg,M,Bronze
29198,Beijing,2008,Wrestling,Wrestling Gre-R,"VARDANYAN, Armen",UKR,Men,60 - 66kg,M,Bronze
29199,Beijing,2008,Wrestling,Wrestling Gre-R,"GUENOT, Steeve",FRA,Men,60 - 66kg,M,Gold
29200,Beijing,2008,Wrestling,Wrestling Gre-R,"BEGALIEV, Kanatbek",KGZ,Men,60 - 66kg,M,Silver
29201,Beijing,2008,Wrestling,Wrestling Gre-R,"GUENOT, Christophe",FRA,Men,66 - 74kg,M,Bronze
29202,Beijing,2008,Wrestling,Wrestling Gre-R,"YANAKIEV, Yavor",BUL,Men,66 - 74kg,M,Bronze
29203,Beijing,2008,Wrestling,Wrestling Gre-R,"KVIRKELIA, Manuchar",GEO,Men,66 - 74kg,M,Gold
29204,Beijing,2008,Wrestling,Wrestling Gre-R,"CHANG, Yongxiang",CHN,Men,66 - 74kg,M,Silver
29205,Beijing,2008,Wrestling,Wrestling Gre-R,"AVLUCA, Nazmi",TUR,Men,74 - 84kg,M,Bronze
29206,Beijing,2008,Wrestling,Wrestling Gre-R,"MINGUZZI, Andrea",ITA,Men,74 - 84kg,M,Gold
29207,Beijing,2008,Wrestling,Wrestling Gre-R,"FODOR, Zoltan",HUN,Men,74 - 84kg,M,Silver
29208,Beijing,2008,Wrestling,Wrestling Gre-R,"MAMBETOV, Asset",KAZ,Men,84 - 96kg,M,Bronze
29209,Beijing,2008,Wrestling,Wrestling Gre-R,"WHEELER, Adam",USA,Men,84 - 96kg,M,Bronze
29210,Beijing,2008,Wrestling,Wrestling Gre-R,"KHUSHTOV, Aslanbek",RUS,Men,84 - 96kg,M,Gold
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [43]:
oo.loc['BOLT, Usain']  # <-- search key in index, if can't find then error

KeyError: 'the label [BOLT, Usain] is not in the [index]'

In [44]:
oo.set_index('Athlete', inplace=True)  # inplace changing values in place

In [45]:
oo

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver
"CHOROPHAS, Efstathios",Athens,1896,Aquatics,Swimming,GRE,Men,1200m freestyle,M,Bronze
"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,1200m freestyle,M,Gold
"ANDREOU, Joannis",Athens,1896,Aquatics,Swimming,GRE,Men,1200m freestyle,M,Silver
"CHOROPHAS, Efstathios",Athens,1896,Aquatics,Swimming,GRE,Men,400m freestyle,M,Bronze
"NEUMANN, Paul",Athens,1896,Aquatics,Swimming,AUT,Men,400m freestyle,M,Gold
"PEPANOS, Antonios",Athens,1896,Aquatics,Swimming,GRE,Men,400m freestyle,M,Silver
"LANE, Francis",Athens,1896,Athletics,Athletics,USA,Men,100m,M,Bronze
"SZOKOLYI, Alajos",Athens,1896,Athletics,Athletics,HUN,Men,100m,M,Bronze
"BURKE, Thomas",Athens,1896,Athletics,Athletics,USA,Men,100m,M,Gold
"HOFMANN, Fritz",Athens,1896,Athletics,Athletics,GER,Men,100m,M,Silver
"CURTIS, Thomas",Athens,1896,Athletics,Athletics,USA,Men,110m hurdles,M,Gold
"GOULDING, Grantley",Athens,1896,Athletics,Athletics,GBR,Men,110m hurdles,M,Silver
"LERMUSIAUX, Albin",Athens,1896,Athletics,Athletics,FRA,Men,1500m,M,Bronze
"FLACK, Edwin",Athens,1896,Athletics,Athletics,AUS,Men,1500m,M,Gold
"BLAKE, Arthur",Athens,1896,Athletics,Athletics,USA,Men,1500m,M,Silver
"GMELIN, Charles",Athens,1896,Athletics,Athletics,GBR,Men,400m,M,Bronze
"BURKE, Thomas",Athens,1896,Athletics,Athletics,USA,Men,400m,M,Gold
"JAMISON, Herbert",Athens,1896,Athletics,Athletics,USA,Men,400m,M,Silver
"GOLEMIS, Dimitrios",Athens,1896,Athletics,Athletics,GRE,Men,800m,M,Bronze
"FLACK, Edwin",Athens,1896,Athletics,Athletics,AUS,Men,800m,M,Gold
"DANI, Nandor",Athens,1896,Athletics,Athletics,HUN,Men,800m,M,Silver
"VERSIS, Sotirios",Athens,1896,Athletics,Athletics,GRE,Men,discus throw,M,Bronze
"GARRETT, Robert",Athens,1896,Athletics,Athletics,USA,Men,discus throw,M,Gold
"PARASKEVOPOULOS, Panagiotis",Athens,1896,Athletics,Athletics,GRE,Men,discus throw,M,Silver
"CLARK, Ellery",Athens,1896,Athletics,Athletics,USA,Men,high jump,M,Gold
...,...,...,...,...,...,...,...,...,...
"MUTALIMOV, Marid",Beijing,2008,Wrestling,Wrestling Free.,KAZ,Men,96 - 120kg,M,Bronze
"TAYMAZOV, Artur",Beijing,2008,Wrestling,Wrestling Free.,UZB,Men,96 - 120kg,M,Gold
"AKHMEDOV, Bakhtiyar",Beijing,2008,Wrestling,Wrestling Free.,RUS,Men,96 - 120kg,M,Silver
"AMOYAN, Roman",Beijing,2008,Wrestling,Wrestling Gre-R,ARM,Men,- 55kg,M,Bronze
"PARK, Eun-Chul",Beijing,2008,Wrestling,Wrestling Gre-R,KOR,Men,- 55kg,M,Bronze
"MANKIEV, Nazyr",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,- 55kg,M,Gold
"BAYRAMOV, Rovshan",Beijing,2008,Wrestling,Wrestling Gre-R,AZE,Men,- 55kg,M,Silver
"TENGIZBAYEV, Nurbakyt",Beijing,2008,Wrestling,Wrestling Gre-R,KAZ,Men,55 - 60kg,M,Bronze
"TIUMENBAEV, Ruslan",Beijing,2008,Wrestling,Wrestling Gre-R,KGZ,Men,55 - 60kg,M,Bronze
"ALBIEV, Islam-Beka",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,55 - 60kg,M,Gold
"RAHIMOV, Vitaliy",Beijing,2008,Wrestling,Wrestling Gre-R,AZE,Men,55 - 60kg,M,Silver
"SIAMIONAU, Mikhail",Beijing,2008,Wrestling,Wrestling Gre-R,BLR,Men,60 - 66kg,M,Bronze
"VARDANYAN, Armen",Beijing,2008,Wrestling,Wrestling Gre-R,UKR,Men,60 - 66kg,M,Bronze
"GUENOT, Steeve",Beijing,2008,Wrestling,Wrestling Gre-R,FRA,Men,60 - 66kg,M,Gold
"BEGALIEV, Kanatbek",Beijing,2008,Wrestling,Wrestling Gre-R,KGZ,Men,60 - 66kg,M,Silver
"GUENOT, Christophe",Beijing,2008,Wrestling,Wrestling Gre-R,FRA,Men,66 - 74kg,M,Bronze
"YANAKIEV, Yavor",Beijing,2008,Wrestling,Wrestling Gre-R,BUL,Men,66 - 74kg,M,Bronze
"KVIRKELIA, Manuchar",Beijing,2008,Wrestling,Wrestling Gre-R,GEO,Men,66 - 74kg,M,Gold
"CHANG, Yongxiang",Beijing,2008,Wrestling,Wrestling Gre-R,CHN,Men,66 - 74kg,M,Silver
"AVLUCA, Nazmi",Beijing,2008,Wrestling,Wrestling Gre-R,TUR,Men,74 - 84kg,M,Bronze
"MINGUZZI, Andrea",Beijing,2008,Wrestling,Wrestling Gre-R,ITA,Men,74 - 84kg,M,Gold
"FODOR, Zoltan",Beijing,2008,Wrestling,Wrestling Gre-R,HUN,Men,74 - 84kg,M,Silver
"MAMBETOV, Asset",Beijing,2008,Wrestling,Wrestling Gre-R,KAZ,Men,84 - 96kg,M,Bronze
"WHEELER, Adam",Beijing,2008,Wrestling,Wrestling Gre-R,USA,Men,84 - 96kg,M,Bronze
"KHUSHTOV, Aslanbek",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,84 - 96kg,M,Gold
"ENGLICH, Mirko",Beijing,2008,Wrestling,Wrestling Gre-R,GER,Men,84 - 96kg,M,Silver
"MIZGAITIS, Mindaugas",Beijing,2008,Wrestling,Wrestling Gre-R,LTU,Men,96 - 120kg,M,Bronze
"PATRIKEEV, Yuri",Beijing,2008,Wrestling,Wrestling Gre-R,ARM,Men,96 - 120kg,M,Bronze
"LOPEZ, Mijain",Beijing,2008,Wrestling,Wrestling Gre-R,CUB,Men,96 - 120kg,M,Gold
"BAROEV, Khasan",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,96 - 120kg,M,Silver

In [46]:
oo.loc['BOLT, Usain']

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"BOLT, Usain",Beijing,2008,Athletics,Athletics,JAM,Men,100m,M,Gold
"BOLT, Usain",Beijing,2008,Athletics,Athletics,JAM,Men,200m,M,Gold
"BOLT, Usain",Beijing,2008,Athletics,Athletics,JAM,Men,4x100m relay,M,Gold

In [47]:
oo.reset_index(inplace=True)

In [48]:
oo

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
0,"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
1,"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
2,"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
3,"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
4,"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver
5,"CHOROPHAS, Efstathios",Athens,1896,Aquatics,Swimming,GRE,Men,1200m freestyle,M,Bronze
6,"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,1200m freestyle,M,Gold
7,"ANDREOU, Joannis",Athens,1896,Aquatics,Swimming,GRE,Men,1200m freestyle,M,Silver
8,"CHOROPHAS, Efstathios",Athens,1896,Aquatics,Swimming,GRE,Men,400m freestyle,M,Bronze
9,"NEUMANN, Paul",Athens,1896,Aquatics,Swimming,AUT,Men,400m freestyle,M,Gold
10,"PEPANOS, Antonios",Athens,1896,Aquatics,Swimming,GRE,Men,400m freestyle,M,Silver
11,"LANE, Francis",Athens,1896,Athletics,Athletics,USA,Men,100m,M,Bronze
12,"SZOKOLYI, Alajos",Athens,1896,Athletics,Athletics,HUN,Men,100m,M,Bronze
13,"BURKE, Thomas",Athens,1896,Athletics,Athletics,USA,Men,100m,M,Gold
14,"HOFMANN, Fritz",Athens,1896,Athletics,Athletics,GER,Men,100m,M,Silver
15,"CURTIS, Thomas",Athens,1896,Athletics,Athletics,USA,Men,110m hurdles,M,Gold
16,"GOULDING, Grantley",Athens,1896,Athletics,Athletics,GBR,Men,110m hurdles,M,Silver
17,"LERMUSIAUX, Albin",Athens,1896,Athletics,Athletics,FRA,Men,1500m,M,Bronze
18,"FLACK, Edwin",Athens,1896,Athletics,Athletics,AUS,Men,1500m,M,Gold
19,"BLAKE, Arthur",Athens,1896,Athletics,Athletics,USA,Men,1500m,M,Silver
20,"GMELIN, Charles",Athens,1896,Athletics,Athletics,GBR,Men,400m,M,Bronze
21,"BURKE, Thomas",Athens,1896,Athletics,Athletics,USA,Men,400m,M,Gold
22,"JAMISON, Herbert",Athens,1896,Athletics,Athletics,USA,Men,400m,M,Silver
23,"GOLEMIS, Dimitrios",Athens,1896,Athletics,Athletics,GRE,Men,800m,M,Bronze
24,"FLACK, Edwin",Athens,1896,Athletics,Athletics,AUS,Men,800m,M,Gold
25,"DANI, Nandor",Athens,1896,Athletics,Athletics,HUN,Men,800m,M,Silver
26,"VERSIS, Sotirios",Athens,1896,Athletics,Athletics,GRE,Men,discus throw,M,Bronze
27,"GARRETT, Robert",Athens,1896,Athletics,Athletics,USA,Men,discus throw,M,Gold
28,"PARASKEVOPOULOS, Panagiotis",Athens,1896,Athletics,Athletics,GRE,Men,discus throw,M,Silver
29,"CLARK, Ellery",Athens,1896,Athletics,Athletics,USA,Men,high jump,M,Gold
...,...,...,...,...,...,...,...,...,...,...
29186,"MUTALIMOV, Marid",Beijing,2008,Wrestling,Wrestling Free.,KAZ,Men,96 - 120kg,M,Bronze
29187,"TAYMAZOV, Artur",Beijing,2008,Wrestling,Wrestling Free.,UZB,Men,96 - 120kg,M,Gold
29188,"AKHMEDOV, Bakhtiyar",Beijing,2008,Wrestling,Wrestling Free.,RUS,Men,96 - 120kg,M,Silver
29189,"AMOYAN, Roman",Beijing,2008,Wrestling,Wrestling Gre-R,ARM,Men,- 55kg,M,Bronze
29190,"PARK, Eun-Chul",Beijing,2008,Wrestling,Wrestling Gre-R,KOR,Men,- 55kg,M,Bronze
29191,"MANKIEV, Nazyr",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,- 55kg,M,Gold
29192,"BAYRAMOV, Rovshan",Beijing,2008,Wrestling,Wrestling Gre-R,AZE,Men,- 55kg,M,Silver
29193,"TENGIZBAYEV, Nurbakyt",Beijing,2008,Wrestling,Wrestling Gre-R,KAZ,Men,55 - 60kg,M,Bronze
29194,"TIUMENBAEV, Ruslan",Beijing,2008,Wrestling,Wrestling Gre-R,KGZ,Men,55 - 60kg,M,Bronze
29195,"ALBIEV, Islam-Beka",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,55 - 60kg,M,Gold
29196,"RAHIMOV, Vitaliy",Beijing,2008,Wrestling,Wrestling Gre-R,AZE,Men,55 - 60kg,M,Silver
29197,"SIAMIONAU, Mikhail",Beijing,2008,Wrestling,Wrestling Gre-R,BLR,Men,60 - 66kg,M,Bronze
29198,"VARDANYAN, Armen",Beijing,2008,Wrestling,Wrestling Gre-R,UKR,Men,60 - 66kg,M,Bronze
29199,"GUENOT, Steeve",Beijing,2008,Wrestling,Wrestling Gre-R,FRA,Men,60 - 66kg,M,Gold
29200,"BEGALIEV, Kanatbek",Beijing,2008,Wrestling,Wrestling Gre-R,KGZ,Men,60 - 66kg,M,Silver
29201,"GUENOT, Christophe",Beijing,2008,Wrestling,Wrestling Gre-R,FRA,Men,66 - 74kg,M,Bronze
29202,"YANAKIEV, Yavor",Beijing,2008,Wrestling,Wrestling Gre-R,BUL,Men,66 - 74kg,M,Bronze
29203,"KVIRKELIA, Manuchar",Beijing,2008,Wrestling,Wrestling Gre-R,GEO,Men,66 - 74kg,M,Gold
29204,"CHANG, Yongxiang",Beijing,2008,Wrestling,Wrestling Gre-R,CHN,Men,66 - 74kg,M,Silver
29205,"AVLUCA, Nazmi",Beijing,2008,Wrestling,Wrestling Gre-R,TUR,Men,74 - 84kg,M,Bronze
29206,"MINGUZZI, Andrea",Beijing,2008,Wrestling,Wrestling Gre-R,ITA,Men,74 - 84kg,M,Gold
29207,"FODOR, Zoltan",Beijing,2008,Wrestling,Wrestling Gre-R,HUN,Men,74 - 84kg,M,Silver
29208,"MAMBETOV, Asset",Beijing,2008,Wrestling,Wrestling Gre-R,KAZ,Men,84 - 96kg,M,Bronze
29209,"WHEELER, Adam",Beijing,2008,Wrestling,Wrestling Gre-R,USA,Men,84 - 96kg,M,Bronze
29210,"KHUSHTOV, Aslanbek",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,84 - 96kg,M,Gold
29211,"ENGLICH, Mirko",Beijing,2008,Wrestling,Wrestling Gre-R,GER,Men,84 - 96kg,M,Silver
29212,"MIZGAITIS, Mindaugas",Beijing,2008,Wrestling,Wrestling Gre-R,LTU,Men,96 - 120kg,M,Bronze
29213,"PATRIKEEV, Yuri",Beijing,2008,Wrestling,Wrestling Gre-R,ARM,Men,96 - 120kg,M,Bronze
29214,"LOPEZ, Mijain",Beijing,2008,Wrestling,Wrestling Gre-R,CUB,Men,96 - 120kg,M,Gold
29215,"BAROEV, Khasan",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,96 - 120kg,M,Silver

In [49]:
# SELECT NOC FROM oo WHERE athlete = 'BOLT, Usain'
oo[oo.Athlete == 'BOLT, Usain']['NOC']

27552    JAM
27570    JAM
27603    JAM
Name: NOC, dtype: object

In [50]:
# SELECT * FROM oo WHERE athlete = 'BOLT, Usain'
oo[oo.Athlete == 'BOLT, Usain']

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
27552,"BOLT, Usain",Beijing,2008,Athletics,Athletics,JAM,Men,100m,M,Gold
27570,"BOLT, Usain",Beijing,2008,Athletics,Athletics,JAM,Men,200m,M,Gold
27603,"BOLT, Usain",Beijing,2008,Athletics,Athletics,JAM,Men,4x100m relay,M,Gold

In [51]:
oo.loc[oo.Athlete == 'BOLT, Usain']  # faster

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
27552,"BOLT, Usain",Beijing,2008,Athletics,Athletics,JAM,Men,100m,M,Gold
27570,"BOLT, Usain",Beijing,2008,Athletics,Athletics,JAM,Men,200m,M,Gold
27603,"BOLT, Usain",Beijing,2008,Athletics,Athletics,JAM,Men,4x100m relay,M,Gold

In [52]:
oo.loc[oo.shape[0] - 1, ['Athlete', 'NOC']]

Athlete    BAROEV, Khasan
NOC                   RUS
Name: 29215, dtype: object

## iloc[...]

In [53]:
oo.head()

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
0,"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
1,"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
2,"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
3,"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
4,"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

In [54]:
oo.shape[0] // 2

14608

In [55]:
oo.iloc[14608]  # <-- integer position based

Athlete         NIKOLAY, Michael
City                    Montreal
Edition                     1976
Sport                 Gymnastics
Discipline           Artistic G.
NOC                          GDR
Gender                       Men
Event               pommel horse
Event_gender                   M
Medal                     Bronze
Name: 14608, dtype: object

In [56]:
oo.iloc[[100, 200, 1700]]

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
100,"FLATOW, Alfred",Athens,1896,Gymnastics,Artistic G.,GER,Men,"team, parallel bars",M,Gold
200,"KEMP, Peter",Paris,1900,Aquatics,Water polo,GBR,Men,water polo,M,Gold
1700,"RABOT, Pierre",London,1908,Sailing,Sailing,FRA,Men,6m,X,Bronze

In [57]:
oo.iloc[:]  # <-- one of the advantages of iloc is that it allows for the traditional Pythonic slicing

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
0,"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
1,"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
2,"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
3,"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
4,"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver
5,"CHOROPHAS, Efstathios",Athens,1896,Aquatics,Swimming,GRE,Men,1200m freestyle,M,Bronze
6,"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,1200m freestyle,M,Gold
7,"ANDREOU, Joannis",Athens,1896,Aquatics,Swimming,GRE,Men,1200m freestyle,M,Silver
8,"CHOROPHAS, Efstathios",Athens,1896,Aquatics,Swimming,GRE,Men,400m freestyle,M,Bronze
9,"NEUMANN, Paul",Athens,1896,Aquatics,Swimming,AUT,Men,400m freestyle,M,Gold
10,"PEPANOS, Antonios",Athens,1896,Aquatics,Swimming,GRE,Men,400m freestyle,M,Silver
11,"LANE, Francis",Athens,1896,Athletics,Athletics,USA,Men,100m,M,Bronze
12,"SZOKOLYI, Alajos",Athens,1896,Athletics,Athletics,HUN,Men,100m,M,Bronze
13,"BURKE, Thomas",Athens,1896,Athletics,Athletics,USA,Men,100m,M,Gold
14,"HOFMANN, Fritz",Athens,1896,Athletics,Athletics,GER,Men,100m,M,Silver
15,"CURTIS, Thomas",Athens,1896,Athletics,Athletics,USA,Men,110m hurdles,M,Gold
16,"GOULDING, Grantley",Athens,1896,Athletics,Athletics,GBR,Men,110m hurdles,M,Silver
17,"LERMUSIAUX, Albin",Athens,1896,Athletics,Athletics,FRA,Men,1500m,M,Bronze
18,"FLACK, Edwin",Athens,1896,Athletics,Athletics,AUS,Men,1500m,M,Gold
19,"BLAKE, Arthur",Athens,1896,Athletics,Athletics,USA,Men,1500m,M,Silver
20,"GMELIN, Charles",Athens,1896,Athletics,Athletics,GBR,Men,400m,M,Bronze
21,"BURKE, Thomas",Athens,1896,Athletics,Athletics,USA,Men,400m,M,Gold
22,"JAMISON, Herbert",Athens,1896,Athletics,Athletics,USA,Men,400m,M,Silver
23,"GOLEMIS, Dimitrios",Athens,1896,Athletics,Athletics,GRE,Men,800m,M,Bronze
24,"FLACK, Edwin",Athens,1896,Athletics,Athletics,AUS,Men,800m,M,Gold
25,"DANI, Nandor",Athens,1896,Athletics,Athletics,HUN,Men,800m,M,Silver
26,"VERSIS, Sotirios",Athens,1896,Athletics,Athletics,GRE,Men,discus throw,M,Bronze
27,"GARRETT, Robert",Athens,1896,Athletics,Athletics,USA,Men,discus throw,M,Gold
28,"PARASKEVOPOULOS, Panagiotis",Athens,1896,Athletics,Athletics,GRE,Men,discus throw,M,Silver
29,"CLARK, Ellery",Athens,1896,Athletics,Athletics,USA,Men,high jump,M,Gold
...,...,...,...,...,...,...,...,...,...,...
29186,"MUTALIMOV, Marid",Beijing,2008,Wrestling,Wrestling Free.,KAZ,Men,96 - 120kg,M,Bronze
29187,"TAYMAZOV, Artur",Beijing,2008,Wrestling,Wrestling Free.,UZB,Men,96 - 120kg,M,Gold
29188,"AKHMEDOV, Bakhtiyar",Beijing,2008,Wrestling,Wrestling Free.,RUS,Men,96 - 120kg,M,Silver
29189,"AMOYAN, Roman",Beijing,2008,Wrestling,Wrestling Gre-R,ARM,Men,- 55kg,M,Bronze
29190,"PARK, Eun-Chul",Beijing,2008,Wrestling,Wrestling Gre-R,KOR,Men,- 55kg,M,Bronze
29191,"MANKIEV, Nazyr",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,- 55kg,M,Gold
29192,"BAYRAMOV, Rovshan",Beijing,2008,Wrestling,Wrestling Gre-R,AZE,Men,- 55kg,M,Silver
29193,"TENGIZBAYEV, Nurbakyt",Beijing,2008,Wrestling,Wrestling Gre-R,KAZ,Men,55 - 60kg,M,Bronze
29194,"TIUMENBAEV, Ruslan",Beijing,2008,Wrestling,Wrestling Gre-R,KGZ,Men,55 - 60kg,M,Bronze
29195,"ALBIEV, Islam-Beka",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,55 - 60kg,M,Gold
29196,"RAHIMOV, Vitaliy",Beijing,2008,Wrestling,Wrestling Gre-R,AZE,Men,55 - 60kg,M,Silver
29197,"SIAMIONAU, Mikhail",Beijing,2008,Wrestling,Wrestling Gre-R,BLR,Men,60 - 66kg,M,Bronze
29198,"VARDANYAN, Armen",Beijing,2008,Wrestling,Wrestling Gre-R,UKR,Men,60 - 66kg,M,Bronze
29199,"GUENOT, Steeve",Beijing,2008,Wrestling,Wrestling Gre-R,FRA,Men,60 - 66kg,M,Gold
29200,"BEGALIEV, Kanatbek",Beijing,2008,Wrestling,Wrestling Gre-R,KGZ,Men,60 - 66kg,M,Silver
29201,"GUENOT, Christophe",Beijing,2008,Wrestling,Wrestling Gre-R,FRA,Men,66 - 74kg,M,Bronze
29202,"YANAKIEV, Yavor",Beijing,2008,Wrestling,Wrestling Gre-R,BUL,Men,66 - 74kg,M,Bronze
29203,"KVIRKELIA, Manuchar",Beijing,2008,Wrestling,Wrestling Gre-R,GEO,Men,66 - 74kg,M,Gold
29204,"CHANG, Yongxiang",Beijing,2008,Wrestling,Wrestling Gre-R,CHN,Men,66 - 74kg,M,Silver
29205,"AVLUCA, Nazmi",Beijing,2008,Wrestling,Wrestling Gre-R,TUR,Men,74 - 84kg,M,Bronze
29206,"MINGUZZI, Andrea",Beijing,2008,Wrestling,Wrestling Gre-R,ITA,Men,74 - 84kg,M,Gold
29207,"FODOR, Zoltan",Beijing,2008,Wrestling,Wrestling Gre-R,HUN,Men,74 - 84kg,M,Silver
29208,"MAMBETOV, Asset",Beijing,2008,Wrestling,Wrestling Gre-R,KAZ,Men,84 - 96kg,M,Bronze
29209,"WHEELER, Adam",Beijing,2008,Wrestling,Wrestling Gre-R,USA,Men,84 - 96kg,M,Bronze
29210,"KHUSHTOV, Aslanbek",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,84 - 96kg,M,Gold
29211,"ENGLICH, Mirko",Beijing,2008,Wrestling,Wrestling Gre-R,GER,Men,84 - 96kg,M,Silver
29212,"MIZGAITIS, Mindaugas",Beijing,2008,Wrestling,Wrestling Gre-R,LTU,Men,96 - 120kg,M,Bronze
29213,"PATRIKEEV, Yuri",Beijing,2008,Wrestling,Wrestling Gre-R,ARM,Men,96 - 120kg,M,Bronze
29214,"LOPEZ, Mijain",Beijing,2008,Wrestling,Wrestling Gre-R,CUB,Men,96 - 120kg,M,Gold
29215,"BAROEV, Khasan",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,96 - 120kg,M,Silver

### Boolean indexing

In [58]:
oo[oo.Medal == 'Gold']

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
0,"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
3,"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
6,"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,1200m freestyle,M,Gold
9,"NEUMANN, Paul",Athens,1896,Aquatics,Swimming,AUT,Men,400m freestyle,M,Gold
13,"BURKE, Thomas",Athens,1896,Athletics,Athletics,USA,Men,100m,M,Gold
15,"CURTIS, Thomas",Athens,1896,Athletics,Athletics,USA,Men,110m hurdles,M,Gold
18,"FLACK, Edwin",Athens,1896,Athletics,Athletics,AUS,Men,1500m,M,Gold
21,"BURKE, Thomas",Athens,1896,Athletics,Athletics,USA,Men,400m,M,Gold
24,"FLACK, Edwin",Athens,1896,Athletics,Athletics,AUS,Men,800m,M,Gold
27,"GARRETT, Robert",Athens,1896,Athletics,Athletics,USA,Men,discus throw,M,Gold
29,"CLARK, Ellery",Athens,1896,Athletics,Athletics,USA,Men,high jump,M,Gold
33,"CLARK, Ellery",Athens,1896,Athletics,Athletics,USA,Men,long jump,M,Gold
36,"LOUIS, Spyridon",Athens,1896,Athletics,Athletics,GRE,Men,marathon,M,Gold
40,"HOYT, William Welles",Athens,1896,Athletics,Athletics,USA,Men,pole vault,M,Gold
43,"GARRETT, Robert",Athens,1896,Athletics,Athletics,USA,Men,shot put,M,Gold
46,"CONNOLLY, James",Athens,1896,Athletics,Athletics,USA,Men,triple jump,M,Gold
49,"KONSTANTINIDIS, Aristidis",Athens,1896,Cycling,Cycling Road,GRE,Men,individual road race,M,Gold
51,"FLAMENG, Léon",Athens,1896,Cycling,Cycling Track,FRA,Men,100km,M,Gold
54,"MASSON, Paul",Athens,1896,Cycling,Cycling Track,FRA,Men,10km,M,Gold
56,"SCHMAL, Adolf",Athens,1896,Cycling,Cycling Track,AUT,Men,12-hour race,M,Gold
59,"MASSON, Paul",Athens,1896,Cycling,Cycling Track,FRA,Men,1km time trial,M,Gold
62,"MASSON, Paul",Athens,1896,Cycling,Cycling Track,FRA,Men,Sprint indivual,M,Gold
65,"GRAVELOTTE, Eugène-Henri",Athens,1896,Fencing,Fencing,FRA,Men,foil individual,M,Gold
67,"PYRGOS, Leonidas",Athens,1896,Fencing,Fencing,GRE,Men,"foil, masters",M,Gold
70,"GEORGIADIS, Ioannis",Athens,1896,Fencing,Fencing,GRE,Men,sabre individual,M,Gold
72,"WEINGÄRTNER, Hermann",Athens,1896,Gymnastics,Artistic G.,GER,Men,horizontal bar,M,Gold
74,"FLATOW, Alfred",Athens,1896,Gymnastics,Artistic G.,GER,Men,parallel bars,M,Gold
76,"ZUTTER, Louis",Athens,1896,Gymnastics,Artistic G.,SUI,Men,pommel horse,M,Gold
79,"MITROPOULOS, Ioannis",Athens,1896,Gymnastics,Artistic G.,GRE,Men,rings,M,Gold
82,"ANDRIAKOPOULOS, Nicolaos",Athens,1896,Gymnastics,Artistic G.,GRE,Men,rope climbing,M,Gold
...,...,...,...,...,...,...,...,...,...,...
29110,"ARAMNAU, Andrei",Beijing,2008,Weightlifting,Weightlifting,BLR,Men,105kg,M,Gold
29113,"CHEN, Xiexia",Beijing,2008,Weightlifting,Weightlifting,CHN,Women,48kg,W,Gold
29116,"JAROENRATTANATARAKOON, Prapawadee",Beijing,2008,Weightlifting,Weightlifting,THA,Women,53kg,W,Gold
29119,"CHEN, Yanqing",Beijing,2008,Weightlifting,Weightlifting,CHN,Women,58kg,W,Gold
29122,"ZHANG, Xiangxiang",Beijing,2008,Weightlifting,Weightlifting,CHN,Men,62kg,M,Gold
29125,"PAK, Hyon Suk",Beijing,2008,Weightlifting,Weightlifting,PRK,Women,63kg,W,Gold
29128,"LIAO, Hui",Beijing,2008,Weightlifting,Weightlifting,CHN,Men,69kg,M,Gold
29131,"LIU, Chunhong",Beijing,2008,Weightlifting,Weightlifting,CHN,Women,69kg,W,Gold
29134,"CAO, Lei",Beijing,2008,Weightlifting,Weightlifting,CHN,Women,75kg,W,Gold
29137,"SA, Jaehyouk",Beijing,2008,Weightlifting,Weightlifting,KOR,Men,77kg,M,Gold
29140,"LU, Yong",Beijing,2008,Weightlifting,Weightlifting,CHN,Men,85kg,M,Gold
29143,"ILIN, Ilya",Beijing,2008,Weightlifting,Weightlifting,KAZ,Men,94kg,M,Gold
29147,"HUYNH, Carol",Beijing,2008,Wrestling,Wrestling Free.,CAN,Women,- 48kg,W,Gold
29151,"CEJUDO, Henry",Beijing,2008,Wrestling,Wrestling Free.,USA,Men,- 55kg,M,Gold
29155,"YOSHIDA, Saori",Beijing,2008,Wrestling,Wrestling Free.,JPN,Women,48 - 55kg,W,Gold
29159,"BATIROV, Mavlet",Beijing,2008,Wrestling,Wrestling Free.,RUS,Men,55 - 60kg,M,Gold
29163,"ICHO, Kaori",Beijing,2008,Wrestling,Wrestling Free.,JPN,Women,55 - 63kg,W,Gold
29167,"SAHIN, Ramazan",Beijing,2008,Wrestling,Wrestling Free.,TUR,Men,60 - 66kg,M,Gold
29171,"WANG, Jiao",Beijing,2008,Wrestling,Wrestling Free.,CHN,Women,63 - 72kg,W,Gold
29175,"SAYTIEV, Buvaysa",Beijing,2008,Wrestling,Wrestling Free.,RUS,Men,66 - 74kg,M,Gold
29179,"MINDORASHVILI, Revazi",Beijing,2008,Wrestling,Wrestling Free.,GEO,Men,74 - 84kg,M,Gold
29183,"MURADOV, Shirvani",Beijing,2008,Wrestling,Wrestling Free.,RUS,Men,84 - 96kg,M,Gold
29187,"TAYMAZOV, Artur",Beijing,2008,Wrestling,Wrestling Free.,UZB,Men,96 - 120kg,M,Gold
29191,"MANKIEV, Nazyr",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,- 55kg,M,Gold
29195,"ALBIEV, Islam-Beka",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,55 - 60kg,M,Gold
29199,"GUENOT, Steeve",Beijing,2008,Wrestling,Wrestling Gre-R,FRA,Men,60 - 66kg,M,Gold
29203,"KVIRKELIA, Manuchar",Beijing,2008,Wrestling,Wrestling Gre-R,GEO,Men,66 - 74kg,M,Gold
29206,"MINGUZZI, Andrea",Beijing,2008,Wrestling,Wrestling Gre-R,ITA,Men,74 - 84kg,M,Gold
29210,"KHUSHTOV, Aslanbek",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,84 - 96kg,M,Gold
29214,"LOPEZ, Mijain",Beijing,2008,Wrestling,Wrestling Gre-R,CUB,Men,96 - 120kg,M,Gold

In [59]:
# SELECT * FROM oo WHERE oo.Medal = 'Gold' and oo.Gender = 'Women';
oo[(oo.Medal == 'Gold') & (oo.Gender == 'Women')]

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
417,"ABBOTT, Margaret Ives",Paris,1900,Golf,Golf,USA,Women,individual,W,Gold
641,"COOPER, Charlotte",Paris,1900,Tennis,Tennis,GBR,Women,mixed doubles,X,Gold
649,"COOPER, Charlotte",Paris,1900,Tennis,Tennis,GBR,Women,singles,W,Gold
710,"HOWELL, Matilda Scott",St Louis,1904,Archery,Archery,USA,Women,double columbia round (50y - 40y - 30y),W,Gold
713,"HOWELL, Matilda Scott",St Louis,1904,Archery,Archery,USA,Women,double national round (60y - 50y),W,Gold
730,"HOWELL, Matilda Scott",St Louis,1904,Archery,Archery,USA,Women,teams FITA round,W,Gold
731,"POLLOCK, Jessie",St Louis,1904,Archery,Archery,USA,Women,teams FITA round,W,Gold
732,"TAYLOR, Louise",St Louis,1904,Archery,Archery,USA,Women,teams FITA round,W,Gold
733,"WOODRUFF, Laura",St Louis,1904,Archery,Archery,USA,Women,teams FITA round,W,Gold
1185,"NEWALL, Sybil Fenton Quenni",London,1908,Archery,Archery,GBR,Women,national round (60y - 50y),W,Gold
1843,"SYERS, Florence",London,1908,Skating,Figure skating,GBR,Women,individual,W,Gold
1849,"HÜBLER, Anna",London,1908,Skating,Figure skating,GER,Women,pairs,X,Gold
1870,"CHAMBERS, Dorothy Katherine",London,1908,Tennis,Tennis,GBR,Women,singles,W,Gold
1876,"EASTLAKE-SMITH, Gwendoline",London,1908,Tennis,Tennis,GBR,Women,singles indoor,W,Gold
1941,"JOHANSSON, Greta",Stockholm,1912,Aquatics,Diving,SWE,Women,10m platform,W,Gold
1956,"DURACK, Fanny",Stockholm,1912,Aquatics,Swimming,ANZ,Women,100m freestyle,W,Gold
1974,"FLETCHER, Jennie",Stockholm,1912,Aquatics,Swimming,GBR,Women,4x100m freestyle relay,W,Gold
1975,"MOORE, Isabella Mary",Stockholm,1912,Aquatics,Swimming,GBR,Women,4x100m freestyle relay,W,Gold
1976,"SPEIRS, Annie",Stockholm,1912,Aquatics,Swimming,GBR,Women,4x100m freestyle relay,W,Gold
1977,"STEER, Irene",Stockholm,1912,Aquatics,Swimming,GBR,Women,4x100m freestyle relay,W,Gold
2771,"KÖRING, Dora",Stockholm,1912,Tennis,Tennis,GER,Women,mixed doubles,X,Gold
2777,"HANNAM, Edith Margaret",Stockholm,1912,Tennis,Tennis,GBR,Women,mixed doubles indoor,X,Gold
2783,"BROQUEDIS, Marguerite",Stockholm,1912,Tennis,Tennis,FRA,Women,singles,W,Gold
2789,"HANNAM, Edith Margaret",Stockholm,1912,Tennis,Tennis,GBR,Women,singles indoor,W,Gold
2826,"FRYLAND CLAUSEN, Stefani",Antwerp,1920,Aquatics,Diving,DEN,Women,10m platform,W,Gold
2832,"RIGGIN, Aileen",Antwerp,1920,Aquatics,Diving,USA,Women,3m springboard,W,Gold
2844,"BLEIBTREY, Ethelda",Antwerp,1920,Aquatics,Swimming,USA,Women,100m freestyle,W,Gold
2859,"BLEIBTREY, Ethelda",Antwerp,1920,Aquatics,Swimming,USA,Women,400m freestyle,W,Gold
2865,"BLEIBTREY, Ethelda",Antwerp,1920,Aquatics,Swimming,USA,Women,4x100m freestyle relay,W,Gold
2866,"GUEST, Irene",Antwerp,1920,Aquatics,Swimming,USA,Women,4x100m freestyle relay,W,Gold
...,...,...,...,...,...,...,...,...,...,...
28982,"HWANG, Kyung Sun",Beijing,2008,Taekwondo,Taekwondo,KOR,Women,57 - 67 kg,W,Gold
29000,"WILLIAMS, Serena",Beijing,2008,Tennis,Tennis,USA,Women,doubles,W,Gold
29001,"WILLIAMS, Venus",Beijing,2008,Tennis,Tennis,USA,Women,doubles,W,Gold
29008,"DEMENTIEVA, Elena",Beijing,2008,Tennis,Tennis,RUS,Women,singles,W,Gold
29014,"SNOWSILL, Emma",Beijing,2008,Triathlon,Triathlon,AUS,Women,Individual,W,Gold
29024,"MAY-TREANOR, Misty",Beijing,2008,Volleyball,Beach volley.,USA,Women,beach volleyball,W,Gold
29025,"WALSH, Kerri",Beijing,2008,Volleyball,Beach volley.,USA,Women,beach volleyball,W,Gold
29076,"ALBUQUERQUE, Carolina",Beijing,2008,Volleyball,Volleyball,BRA,Women,volleyball,W,Gold
29077,"CARVALHO, Jaqueline",Beijing,2008,Volleyball,Volleyball,BRA,Women,volleyball,W,Gold
29078,"CASTRO, Sheilla",Beijing,2008,Volleyball,Volleyball,BRA,Women,volleyball,W,Gold
29079,"CLAUDINO, Fabiana",Beijing,2008,Volleyball,Volleyball,BRA,Women,volleyball,W,Gold
29080,"DE OLIVEIRA, Fabiana",Beijing,2008,Volleyball,Volleyball,BRA,Women,volleyball,W,Gold
29081,"GONZAGA, Welissa",Beijing,2008,Volleyball,Volleyball,BRA,Women,volleyball,W,Gold
29082,"MENEZES, Thaisa",Beijing,2008,Volleyball,Volleyball,BRA,Women,volleyball,W,Gold
29083,"MENEZES, Valeska",Beijing,2008,Volleyball,Volleyball,BRA,Women,volleyball,W,Gold
29084,"OLIVEIRA, Walewska",Beijing,2008,Volleyball,Volleyball,BRA,Women,volleyball,W,Gold
29085,"PEQUENO, Paula",Beijing,2008,Volleyball,Volleyball,BRA,Women,volleyball,W,Gold
29086,"SOUZA, Helia",Beijing,2008,Volleyball,Volleyball,BRA,Women,volleyball,W,Gold
29087,"STEINBRECHER, Marianne",Beijing,2008,Volleyball,Volleyball,BRA,Women,volleyball,W,Gold
29107,"JANG, Miran",Beijing,2008,Weightlifting,Weightlifting,KOR,Women,+ 75kg,W,Gold
29113,"CHEN, Xiexia",Beijing,2008,Weightlifting,Weightlifting,CHN,Women,48kg,W,Gold
29116,"JAROENRATTANATARAKOON, Prapawadee",Beijing,2008,Weightlifting,Weightlifting,THA,Women,53kg,W,Gold
29119,"CHEN, Yanqing",Beijing,2008,Weightlifting,Weightlifting,CHN,Women,58kg,W,Gold
29125,"PAK, Hyon Suk",Beijing,2008,Weightlifting,Weightlifting,PRK,Women,63kg,W,Gold
29131,"LIU, Chunhong",Beijing,2008,Weightlifting,Weightlifting,CHN,Women,69kg,W,Gold
29134,"CAO, Lei",Beijing,2008,Weightlifting,Weightlifting,CHN,Women,75kg,W,Gold
29147,"HUYNH, Carol",Beijing,2008,Wrestling,Wrestling Free.,CAN,Women,- 48kg,W,Gold
29155,"YOSHIDA, Saori",Beijing,2008,Wrestling,Wrestling Free.,JPN,Women,48 - 55kg,W,Gold
29163,"ICHO, Kaori",Beijing,2008,Wrestling,Wrestling Free.,JPN,Women,55 - 63kg,W,Gold
29171,"WANG, Jiao",Beijing,2008,Wrestling,Wrestling Free.,CHN,Women,63 - 72kg,W,Gold

In [60]:
# SELECT * FROM oo WHERE oo.Medal = 'Gold' or oo.Gender = 'Women';
oo[(oo.Medal == 'Gold') | (oo.Gender == 'Women')]

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
0,"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
3,"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
6,"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,1200m freestyle,M,Gold
9,"NEUMANN, Paul",Athens,1896,Aquatics,Swimming,AUT,Men,400m freestyle,M,Gold
13,"BURKE, Thomas",Athens,1896,Athletics,Athletics,USA,Men,100m,M,Gold
15,"CURTIS, Thomas",Athens,1896,Athletics,Athletics,USA,Men,110m hurdles,M,Gold
18,"FLACK, Edwin",Athens,1896,Athletics,Athletics,AUS,Men,1500m,M,Gold
21,"BURKE, Thomas",Athens,1896,Athletics,Athletics,USA,Men,400m,M,Gold
24,"FLACK, Edwin",Athens,1896,Athletics,Athletics,AUS,Men,800m,M,Gold
27,"GARRETT, Robert",Athens,1896,Athletics,Athletics,USA,Men,discus throw,M,Gold
29,"CLARK, Ellery",Athens,1896,Athletics,Athletics,USA,Men,high jump,M,Gold
33,"CLARK, Ellery",Athens,1896,Athletics,Athletics,USA,Men,long jump,M,Gold
36,"LOUIS, Spyridon",Athens,1896,Athletics,Athletics,GRE,Men,marathon,M,Gold
40,"HOYT, William Welles",Athens,1896,Athletics,Athletics,USA,Men,pole vault,M,Gold
43,"GARRETT, Robert",Athens,1896,Athletics,Athletics,USA,Men,shot put,M,Gold
46,"CONNOLLY, James",Athens,1896,Athletics,Athletics,USA,Men,triple jump,M,Gold
49,"KONSTANTINIDIS, Aristidis",Athens,1896,Cycling,Cycling Road,GRE,Men,individual road race,M,Gold
51,"FLAMENG, Léon",Athens,1896,Cycling,Cycling Track,FRA,Men,100km,M,Gold
54,"MASSON, Paul",Athens,1896,Cycling,Cycling Track,FRA,Men,10km,M,Gold
56,"SCHMAL, Adolf",Athens,1896,Cycling,Cycling Track,AUT,Men,12-hour race,M,Gold
59,"MASSON, Paul",Athens,1896,Cycling,Cycling Track,FRA,Men,1km time trial,M,Gold
62,"MASSON, Paul",Athens,1896,Cycling,Cycling Track,FRA,Men,Sprint indivual,M,Gold
65,"GRAVELOTTE, Eugène-Henri",Athens,1896,Fencing,Fencing,FRA,Men,foil individual,M,Gold
67,"PYRGOS, Leonidas",Athens,1896,Fencing,Fencing,GRE,Men,"foil, masters",M,Gold
70,"GEORGIADIS, Ioannis",Athens,1896,Fencing,Fencing,GRE,Men,sabre individual,M,Gold
72,"WEINGÄRTNER, Hermann",Athens,1896,Gymnastics,Artistic G.,GER,Men,horizontal bar,M,Gold
74,"FLATOW, Alfred",Athens,1896,Gymnastics,Artistic G.,GER,Men,parallel bars,M,Gold
76,"ZUTTER, Louis",Athens,1896,Gymnastics,Artistic G.,SUI,Men,pommel horse,M,Gold
79,"MITROPOULOS, Ioannis",Athens,1896,Gymnastics,Artistic G.,GRE,Men,rings,M,Gold
82,"ANDRIAKOPOULOS, Nicolaos",Athens,1896,Gymnastics,Artistic G.,GRE,Men,rope climbing,M,Gold
...,...,...,...,...,...,...,...,...,...,...
29145,"MERLENI, Irini",Beijing,2008,Wrestling,Wrestling Free.,UKR,Women,- 48kg,W,Bronze
29146,"STADNIK, Mariya",Beijing,2008,Wrestling,Wrestling Free.,AZE,Women,- 48kg,W,Bronze
29147,"HUYNH, Carol",Beijing,2008,Wrestling,Wrestling Free.,CAN,Women,- 48kg,W,Gold
29148,"ICHO, Chiharu",Beijing,2008,Wrestling,Wrestling Free.,JPN,Women,- 48kg,W,Silver
29151,"CEJUDO, Henry",Beijing,2008,Wrestling,Wrestling Free.,USA,Men,- 55kg,M,Gold
29153,"RENTERIA, Jackeline",Beijing,2008,Wrestling,Wrestling Free.,COL,Women,48 - 55kg,W,Bronze
29154,"VERBEEK, Tonya",Beijing,2008,Wrestling,Wrestling Free.,CAN,Women,48 - 55kg,W,Bronze
29155,"YOSHIDA, Saori",Beijing,2008,Wrestling,Wrestling Free.,JPN,Women,48 - 55kg,W,Gold
29156,"XU, Li",Beijing,2008,Wrestling,Wrestling Free.,CHN,Women,48 - 55kg,W,Silver
29159,"BATIROV, Mavlet",Beijing,2008,Wrestling,Wrestling Free.,RUS,Men,55 - 60kg,M,Gold
29161,"MILLER, Randi",Beijing,2008,Wrestling,Wrestling Free.,USA,Women,55 - 63kg,W,Bronze
29162,"SHALYGINA, Yelena",Beijing,2008,Wrestling,Wrestling Free.,KAZ,Women,55 - 63kg,W,Bronze
29163,"ICHO, Kaori",Beijing,2008,Wrestling,Wrestling Free.,JPN,Women,55 - 63kg,W,Gold
29164,"KARTASHOVA, Alena",Beijing,2008,Wrestling,Wrestling Free.,RUS,Women,55 - 63kg,W,Silver
29167,"SAHIN, Ramazan",Beijing,2008,Wrestling,Wrestling Free.,TUR,Men,60 - 66kg,M,Gold
29169,"HAMAGUCHI, Kyoko",Beijing,2008,Wrestling,Wrestling Free.,JPN,Women,63 - 72kg,W,Bronze
29170,"WIESZCZEK, Agnieszka",Beijing,2008,Wrestling,Wrestling Free.,POL,Women,63 - 72kg,W,Bronze
29171,"WANG, Jiao",Beijing,2008,Wrestling,Wrestling Free.,CHN,Women,63 - 72kg,W,Gold
29172,"ZLATEVA, Stanka",Beijing,2008,Wrestling,Wrestling Free.,BUL,Women,63 - 72kg,W,Silver
29175,"SAYTIEV, Buvaysa",Beijing,2008,Wrestling,Wrestling Free.,RUS,Men,66 - 74kg,M,Gold
29179,"MINDORASHVILI, Revazi",Beijing,2008,Wrestling,Wrestling Free.,GEO,Men,74 - 84kg,M,Gold
29183,"MURADOV, Shirvani",Beijing,2008,Wrestling,Wrestling Free.,RUS,Men,84 - 96kg,M,Gold
29187,"TAYMAZOV, Artur",Beijing,2008,Wrestling,Wrestling Free.,UZB,Men,96 - 120kg,M,Gold
29191,"MANKIEV, Nazyr",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,- 55kg,M,Gold
29195,"ALBIEV, Islam-Beka",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,55 - 60kg,M,Gold
29199,"GUENOT, Steeve",Beijing,2008,Wrestling,Wrestling Gre-R,FRA,Men,60 - 66kg,M,Gold
29203,"KVIRKELIA, Manuchar",Beijing,2008,Wrestling,Wrestling Gre-R,GEO,Men,66 - 74kg,M,Gold
29206,"MINGUZZI, Andrea",Beijing,2008,Wrestling,Wrestling Gre-R,ITA,Men,74 - 84kg,M,Gold
29210,"KHUSHTOV, Aslanbek",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,84 - 96kg,M,Gold
29214,"LOPEZ, Mijain",Beijing,2008,Wrestling,Wrestling Gre-R,CUB,Men,96 - 120kg,M,Gold

### String handling

In [61]:
oo[oo.Athlete.str.contains('Florence')]

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
1843,"SYERS, Florence",London,1908,Skating,Figure skating,GBR,Women,individual,W,Gold
1848,"SYERS, Florence",London,1908,Skating,Figure skating,GBR,Women,pairs,X,Bronze
4173,"BARKER, Florence",Paris,1924,Aquatics,Swimming,GBR,Women,4x100m freestyle relay,W,Silver
8162,"FOULDS-PAUL, June Florence",Helsinki,1952,Athletics,Athletics,GBR,Women,4x100m relay,W,Bronze
9060,"FOULDS-PAUL, June Florence",Melbourne / Stockholm,1956,Athletics,Athletics,GBR,Women,4x100m relay,W,Silver
10849,"AMOORE-POLLOCK, Judith Florence",Tokyo,1964,Athletics,Athletics,AUS,Women,400m,W,Bronze
16817,"GRIFFITH-JOYNER, Florence",Los Angeles,1984,Athletics,Athletics,USA,Women,200m,W,Silver
18287,"GRIFFITH-JOYNER, Florence",Seoul,1988,Athletics,Athletics,USA,Women,100m,W,Gold
18305,"GRIFFITH-JOYNER, Florence",Seoul,1988,Athletics,Athletics,USA,Women,200m,W,Gold
18347,"GRIFFITH-JOYNER, Florence",Seoul,1988,Athletics,Athletics,USA,Women,4x100m relay,W,Gold
18374,"GRIFFITH-JOYNER, Florence",Seoul,1988,Athletics,Athletics,USA,Women,4x400m relay,W,Silver

## Exercise:

Which country has won the most men's gold medals in singles badminton over the years? Sort the results alphabetically by the players' names.

In [62]:
a = oo[(oo.Medal == 'Gold') & \
       (oo.Gender == 'Men') & \
       (oo.Event == 'singles') & \
       (oo.Sport == 'Badminton')].sort_values(by='Athlete')
countries = a['NOC']
countries.value_counts() # China on the top!

INA    2
CHN    2
DEN    1
Name: NOC, dtype: int64

## Exercise:

Which three countries have won the most medals in years?

In [63]:
rec = oo[oo.Edition >= 1984]
rec.NOC.value_counts()[:3]

USA    1837
AUS     762
GER     691
Name: NOC, dtype: int64

# Groupby

In [64]:
oo.groupby('Edition')

In [65]:
type(oo.groupby('Edition'))

pandas.core.groupby.DataFrameGroupBy

In [66]:
list(oo.groupby('Edition'))

[(1896,                          Athlete    City  Edition          Sport  \
  0                  HAJOS, Alfred  Athens     1896       Aquatics
  1               HERSCHMANN, Otto  Athens     1896       Aquatics
  2              DRIVAS, Dimitrios  Athens     1896       Aquatics
  3             MALOKINIS, Ioannis  Athens     1896       Aquatics
  4             CHASAPIS, Spiridon  Athens     1896       Aquatics
  5          CHOROPHAS, Efstathios  Athens     1896       Aquatics
  6                  HAJOS, Alfred  Athens     1896       Aquatics
  7               ANDREOU, Joannis  Athens     1896       Aquatics
  8          CHOROPHAS, Efstathios  Athens     1896       Aquatics
  9                  NEUMANN, Paul  Athens     1896       Aquatics
  10             PEPANOS, Antonios  Athens     1896       Aquatics
  11                 LANE, Francis  Athens     1896      Athletics
  12              SZOKOLYI, Alajos  Athens     1896      Athletics
  13                 BURKE, Thomas  Athens     1896      Athletics
  14                HOFMANN, Fritz  Athens     1896      Athletics
  15                CURTIS, Thomas  Athens     1896      Athletics
  16            GOULDING, Grantley  Athens     1896      Athletics
  17             LERMUSIAUX, Albin  Athens     1896      Athletics
  18                  FLACK, Edwin  Athens     1896      Athletics
  19                 BLAKE, Arthur  Athens     1896      Athletics
  20               GMELIN, Charles  Athens     1896      Athletics
  21                 BURKE, Thomas  Athens     1896      Athletics
  22              JAMISON, Herbert  Athens     1896      Athletics
  23            GOLEMIS, Dimitrios  Athens     1896      Athletics
  24                  FLACK, Edwin  Athens     1896      Athletics
  25                  DANI, Nandor  Athens     1896      Athletics
  26              VERSIS, Sotirios  Athens     1896      Athletics
  27               GARRETT, Robert  Athens     1896      Athletics
  28   PARASKEVOPOULOS, Panagiotis  Athens     1896      Athletics
  29                 CLARK, Ellery  Athens     1896      Athletics
  ..                           ...     ...      ...            ...
  121         PHRANGOUDIS, Joannis  Athens     1896       Shooting
  122         ORPHANIDIS, Georgios  Athens     1896       Shooting
  123         PHRANGOUDIS, Joannis  Athens     1896       Shooting
  124                PAINE, Sumner  Athens     1896       Shooting
  125              NIELSEN, Holger  Athens     1896       Shooting
  126           TRIKUPIS, Nicolaos  Athens     1896       Shooting
  127         KARASEVDAS, Pantelis  Athens     1896       Shooting
  128             PAVLIDIS, Pavlos  Athens     1896       Shooting
  129                JENSEN, Viggo  Athens     1896       Shooting
  130         ORPHANIDIS, Georgios  Athens     1896       Shooting
  131         PHRANGOUDIS, Joannis  Athens     1896       Shooting
  132                 FLACK, Edwin  Athens     1896         Tennis
  133     ROBERTSON, George Stuart  Athens     1896         Tennis
  134                 BOLAND, John  Athens     1896         Tennis
  135             TRAUN, Friedrich  Athens     1896         Tennis
  136         KASDAGLIS, Dionysios  Athens     1896         Tennis
  137     PETROKOKKINOS, Demetrios  Athens     1896         Tennis
  138       PASPATIS, Konstantinos  Athens     1896         Tennis
  139         TAPAVICZA, Momcsillo  Athens     1896         Tennis
  140                 BOLAND, John  Athens     1896         Tennis
  141         KASDAGLIS, Dionysios  Athens     1896         Tennis
  142     NIKOLOPOULOS, Alexandros  Athens     1896  Weightlifting
  143          ELLIOTT, Launceston  Athens     1896  Weightlifting
  144                JENSEN, Viggo  Athens     1896  Weightlifting
  145             VERSIS, Sotirios  Athens     1896  Weightlifting
  146                JENSEN, Viggo  Athens     1896  Weightlifting
  147          ELLIOTT, Launceston  Athens     1896  Weightlifting
  148     CHRISTOPOULOS, Stephanos  Athens     1896      Wrestling
  149               SCHUMANN, Carl  Athens     1896      Wrestling
  150             TSITAS, Georgios  Athens     1896      Wrestling

            Discipline  NOC Gender                             Event  \
  0           Swimming  HUN    Men                    100m freestyle
  1           Swimming  AUT    Men                    100m freestyle
  2           Swimming  GRE    Men        100m freestyle for sailors
  3           Swimming  GRE    Men        100m freestyle for sailors
  4           Swimming  GRE    Men        100m freestyle for sailors
  5           Swimming  GRE    Men                   1200m freestyle
  6           Swimming  HUN    Men                   1200m freestyle
  7           Swimming  GRE    Men                   1200m freestyle
  8           Swimming  GRE    Men                    400m freestyle
  9           Swimming  AUT    Men                    400m freestyle
  10          Swimming  GRE    Men                    400m freestyle
  11         Athletics  USA    Men                              100m
  12         Athletics  HUN    Men                              100m
  13         Athletics  USA    Men                              100m
  14         Athletics  GER    Men                              100m
  15         Athletics  USA    Men                      110m hurdles
  16         Athletics  GBR    Men                      110m hurdles
  17         Athletics  FRA    Men                             1500m
  18         Athletics  AUS    Men                             1500m
  19         Athletics  USA    Men                             1500m
  20         Athletics  GBR    Men                              400m
  21         Athletics  USA    Men                              400m
  22         Athletics  USA    Men                              400m
  23         Athletics  GRE    Men                              800m
  24         Athletics  AUS    Men                              800m
  25         Athletics  HUN    Men                              800m
  26         Athletics  GRE    Men                      discus throw
  27         Athletics  USA    Men                      discus throw
  28         Athletics  GRE    Men                      discus throw
  29         Athletics  USA    Men                         high jump
  ..               ...  ...    ...                               ...
  121         Shooting  GRE    Men  25m rapid fire pistol (60 shots)
  122         Shooting  GRE    Men  25m rapid fire pistol (60 shots)
  123         Shooting  GRE    Men             50m pistol (60 shots)
  124         Shooting  USA    Men             50m pistol (60 shots)
  125         Shooting  DEN    Men             50m pistol (60 shots)
  126         Shooting  GRE    Men                  army rifle, 200m
  127         Shooting  GRE    Men                  army rifle, 200m
  128         Shooting  GRE    Men                  army rifle, 200m
  129         Shooting  DEN    Men                  army rifle, 300m
  130         Shooting  GRE    Men                  army rifle, 300m
  131         Shooting  GRE    Men                  army rifle, 300m
  132           Tennis  ZZX    Men                           doubles
  133           Tennis  ZZX    Men                           doubles
  134           Tennis  ZZX    Men                           doubles
  135           Tennis  ZZX    Men                           doubles
  136           Tennis  ZZX    Men                           doubles
  137           Tennis  ZZX    Men                           doubles
  138           Tennis  GRE    Men                           singles
  139           Tennis  HUN    Men                           singles
  140           Tennis  GBR    Men                           singles
  141           Tennis  GRE    Men                           singles
  142    Weightlifting  GRE    Men       heavyweight - one hand lift
  143    Weightlifting  GBR    Men       heavyweight - one hand lift
  144    Weightlifting  DEN    Men       heavyweight - one hand lift
  145    Weightlifting  GRE    Men       heavyweight - two hand lift
  146    Weightlifting  DEN    Men       heavyweight - two hand lift
  147    Weightlifting  GBR    Men       heavyweight - two hand lift
  148  Wrestling Gre-R  GRE    Men                        open event
  149  Wrestling Gre-R  GER    Men                        open event
  150  Wrestling Gre-R  GRE    Men                        open event

      Event_gender   Medal
  0              M    Gold
  1              M  Silver
  2              M  Bronze
  3              M    Gold
  4              M  Silver
  5              M  Bronze
  6              M    Gold
  7              M  Silver
  8              M  Bronze
  9              M    Gold
  10             M  Silver
  11             M  Bronze
  12             M  Bronze
  13             M    Gold
  14             M  Silver
  15             M    Gold
  16             M  Silver
  17             M  Bronze
  18             M    Gold
  19             M  Silver
  20             M  Bronze
  21             M    Gold
  22             M  Silver
  23             M  Bronze
  24             M    Gold
  25             M  Silver
  26             M  Bronze
  27             M    Gold
  28             M  Silver
  29             M    Gold
  ..           ...     ...
  121            M    Gold
  122            M  Silver
  123            M  Bronze
  124            M    Gold
  125            M  Silver
  126            M  Bronze
  127            M    Gold
  128            M  Silver
  129            M  Bronze
  130            M    Gold
  131            M  Silver
  132            M  Bronze
  133            M  Bronze
  134            M    Gold
  135            M    Gold
  136            M  Silver
  137            M  Silver
  138            M  Bronze
  139            M  Bronze
  140            M    Gold
  141            M  Silver
  142            M  Bronze
  143            M    Gold
  144            M  Silver
  145            M  Bronze
  146            M    Gold
  147            M  Silver
  148            M  Bronze
  149            M    Gold
  150            M  Silver

  [151 rows x 10 columns]),
 (1900,                                Athlete   City  Edition       Sport  \
  151                     HALMAY, Zoltan  Paris     1900    Aquatics
  152                JARVIS, John Arthur  Paris     1900    Aquatics
  153                        WAHLE, Otto  Paris     1900    Aquatics
  154                    DROST, Johannes  Paris     1900    Aquatics
  155                  HOPPENBERG, Ernst  Paris     1900    Aquatics
  156                       RUBERL, Karl  Paris     1900    Aquatics
  157                       RUBERL, Karl  Paris     1900    Aquatics
  158               LANE, Frederick C.V.  Paris     1900    Aquatics
  159                     HALMAY, Zoltan  Paris     1900    Aquatics
  160                        KEMP, Peter  Paris     1900    Aquatics
  161               LANE, Frederick C.V.  Paris     1900    Aquatics
  162                        WAHLE, Otto  Paris     1900    Aquatics
  163                             HOUBEN  Paris     1900    Aquatics
  164                   LEUILLIEUX, Jean  Paris     1900    Aquatics
  165                      MARTIN, Louis  Paris     1900    Aquatics
  166                    MERCHEZ, Désiré  Paris     1900    Aquatics
  167                            TARTARA  Paris     1900    Aquatics
  168                       FREY, Julius  Paris     1900    Aquatics
  169                        HAINLE, Max  Paris     1900    Aquatics
  170                  HOPPENBERG, Ernst  Paris     1900    Aquatics
  171                        SCHÖNE, Max  Paris     1900    Aquatics
  172           VON PETERSDORFF, Herbert  Paris     1900    Aquatics
  173                           BERTRAND  Paris     1900    Aquatics
  174                              CADET  Paris     1900    Aquatics
  175                 HOCHEPIED, Maurice  Paris     1900    Aquatics
  176                  HOCHEPIED, Victor  Paris     1900    Aquatics
  177                           VERBECKE  Paris     1900    Aquatics
  178                      MARTIN, Louis  Paris     1900    Aquatics
  179                JARVIS, John Arthur  Paris     1900    Aquatics
  180                     HALMAY, Zoltan  Paris     1900    Aquatics
  ..                                 ...    ...      ...         ...
  633       DE GARMENDIA, Basil Spalding  Paris     1900      Tennis
  634                       DECUGIS, Max  Paris     1900      Tennis
  635             DOHERTY, Hugh Lawrence  Paris     1900      Tennis
  636               WARDEN, Archibald A.  Paris     1900      Tennis
  637            DOHERTY, Reginald Frank  Paris     1900      Tennis
  638           MAHONY, Harold Sergerson  Paris     1900      Tennis
  639                      JONES, Marion  Paris     1900      Tennis
  640                  ROSENBAUM, Hedwig  Paris     1900      Tennis
  641                  COOPER, Charlotte  Paris     1900      Tennis
  642                    PREVOST, Hélène  Paris     1900      Tennis
  643            DOHERTY, Reginald Frank  Paris     1900      Tennis
  644                NORRIS, Arthur B.J.  Paris     1900      Tennis
  645             DOHERTY, Hugh Lawrence  Paris     1900      Tennis
  646           MAHONY, Harold Sergerson  Paris     1900      Tennis
  647                      JONES, Marion  Paris     1900      Tennis
  648                  ROSENBAUM, Hedwig  Paris     1900      Tennis
  649                  COOPER, Charlotte  Paris     1900      Tennis
  650                    PREVOST, Hélène  Paris     1900      Tennis
  651                       AABYE, Edgar  Paris     1900  Tug of War
  652                    NILSSON, August  Paris     1900  Tug of War
  653                     SCHMIDT, Eugen  Paris     1900  Tug of War
  654                 SÖDERSTRÖM, Gustaf  Paris     1900  Tug of War
  655                 STAAF, Karl Gustav  Paris     1900  Tug of War
  656                  WINCKLER, Charles  Paris     1900  Tug of War
  657                     BASSET, Pierre  Paris     1900  Tug of War
  658                       COLLAS, Jean  Paris     1900  Tug of War
  659                  GONDOUIN, Charles  Paris     1900  Tug of War
  660  HENRIQUEZ DE ZUBIERRA, Constantin  Paris     1900  Tug of War
  661                      ROFFO, Joseph  Paris     1900  Tug of War
  662                     SARRADE, Emile  Paris     1900  Tug of War

       Discipline  NOC Gender                Event Event_gender   Medal
  151    Swimming  HUN    Men      1500m freestyle            M  Bronze
  152    Swimming  GBR    Men      1500m freestyle            M    Gold
  153    Swimming  AUT    Men      1500m freestyle            M  Silver
  154    Swimming  NED    Men      200m backstroke            M  Bronze
  155    Swimming  GER    Men      200m backstroke            M    Gold
  156    Swimming  AUT    Men      200m backstroke            M  Silver
  157    Swimming  AUT    Men       200m freestyle            M  Bronze
  158    Swimming  AUS    Men       200m freestyle            M    Gold
  159    Swimming  HUN    Men       200m freestyle            M  Silver
  160    Swimming  GBR    Men  200m obstacle event            M  Bronze
  161    Swimming  AUS    Men  200m obstacle event            M    Gold
  162    Swimming  AUT    Men  200m obstacle event            M  Silver
  163    Swimming  FRA    Men   200m team swimming            M  Bronze
  164    Swimming  FRA    Men   200m team swimming            M  Bronze
  165    Swimming  FRA    Men   200m team swimming            M  Bronze
  166    Swimming  FRA    Men   200m team swimming            M  Bronze
  167    Swimming  FRA    Men   200m team swimming            M  Bronze
  168    Swimming  GER    Men   200m team swimming            M    Gold
  169    Swimming  GER    Men   200m team swimming            M    Gold
  170    Swimming  GER    Men   200m team swimming            M    Gold
  171    Swimming  GER    Men   200m team swimming            M    Gold
  172    Swimming  GER    Men   200m team swimming            M    Gold
  173    Swimming  FRA    Men   200m team swimming            M  Silver
  174    Swimming  FRA    Men   200m team swimming            M  Silver
  175    Swimming  FRA    Men   200m team swimming            M  Silver
  176    Swimming  FRA    Men   200m team swimming            M  Silver
  177    Swimming  FRA    Men   200m team swimming            M  Silver
  178    Swimming  FRA    Men      4000m freestyle            M  Bronze
  179    Swimming  GBR    Men      4000m freestyle            M    Gold
  180    Swimming  HUN    Men      4000m freestyle            M  Silver
  ..          ...  ...    ...                  ...          ...     ...
  633      Tennis  ZZX    Men              doubles            M  Silver
  634      Tennis  ZZX    Men              doubles            M  Silver
  635      Tennis  ZZX    Men        mixed doubles            X  Bronze
  636      Tennis  ZZX    Men        mixed doubles            X  Bronze
  637      Tennis  GBR    Men        mixed doubles            X    Gold
  638      Tennis  ZZX    Men        mixed doubles            X  Silver
  639      Tennis  ZZX  Women        mixed doubles            X  Bronze
  640      Tennis  ZZX  Women        mixed doubles            X  Bronze
  641      Tennis  GBR  Women        mixed doubles            X    Gold
  642      Tennis  ZZX  Women        mixed doubles            X  Silver
  643      Tennis  GBR    Men              singles            M  Bronze
  644      Tennis  GBR    Men              singles            M  Bronze
  645      Tennis  GBR    Men              singles            M    Gold
  646      Tennis  GBR    Men              singles            M  Silver
  647      Tennis  USA  Women              singles            W  Bronze
  648      Tennis  BOH  Women              singles            W  Bronze
  649      Tennis  GBR  Women              singles            W    Gold
  650      Tennis  FRA  Women              singles            W  Silver
  651  Tug of War  ZZX    Men           tug of war            M    Gold
  652  Tug of War  ZZX    Men           tug of war            M    Gold
  653  Tug of War  ZZX    Men           tug of war            M    Gold
  654  Tug of War  ZZX    Men           tug of war            M    Gold
  655  Tug of War  ZZX    Men           tug of war            M    Gold
  656  Tug of War  ZZX    Men           tug of war            M    Gold
  657  Tug of War  FRA    Men           tug of war            M  Silver
  658  Tug of War  FRA    Men           tug of war            M  Silver
  659  Tug of War  FRA    Men           tug of war            M  Silver
  660  Tug of War  FRA    Men           tug of war            M  Silver
  661  Tug of War  FRA    Men           tug of war            M  Silver
  662  Tug of War  FRA    Men           tug of war            M  Silver

  [512 rows x 10 columns]),
 (1904,                           Athlete      City  Edition          Sport  \
  663        BRAUNSCHWEIGER, Alfred  St Louis     1904       Aquatics
  664                  KEHOE, Frank  St Louis     1904       Aquatics
  665               SHELDON, George  St Louis     1904       Aquatics
  666               HOFFMANN, Georg  St Louis     1904       Aquatics
  667             GOODWIN, Leo Budd  St Louis     1904       Aquatics
  668          DICKEY, William Paul  St Louis     1904       Aquatics
  669               ADAMS, Edgar H.  St Louis     1904       Aquatics
  670              ZACHARIAS, Georg  St Louis     1904       Aquatics
  671                 BRACK, Walter  St Louis     1904       Aquatics
  672               HOFFMANN, Georg  St Louis     1904       Aquatics
  673               LEARY, J. Scott  St Louis     1904       Aquatics
  674                HALMAY, Zoltan  St Louis     1904       Aquatics
  675              DANIELS, Charles  St Louis     1904       Aquatics
  676               GAILEY, Francis  St Louis     1904       Aquatics

# Iterate by group

In [67]:
for group_key, group_value in oo.groupby('Edition'):
    print(group_key)
    print(group_value)

1896
                         Athlete    City  Edition          Sport  \
0                  HAJOS, Alfred  Athens     1896       Aquatics
1               HERSCHMANN, Otto  Athens     1896       Aquatics
2              DRIVAS, Dimitrios  Athens     1896       Aquatics
3             MALOKINIS, Ioannis  Athens     1896       Aquatics
4             CHASAPIS, Spiridon  Athens     1896       Aquatics
5          CHOROPHAS, Efstathios  Athens     1896       Aquatics
6                  HAJOS, Alfred  Athens     1896       Aquatics
7               ANDREOU, Joannis  Athens     1896       Aquatics
8          CHOROPHAS, Efstathios  Athens     1896       Aquatics
9                  NEUMANN, Paul  Athens     1896       Aquatics
10             PEPANOS, Antonios  Athens     1896       Aquatics
11                 LANE, Francis  Athens     1896      Athletics
12              SZOKOLYI, Alajos  Athens     1896      Athletics
13                 BURKE, Thomas  Athens     1896      Athletics
14                HOFMANN, Fritz  Athens     1896      Athletics
15                CURTIS, Thomas  Athens     1896      Athletics
16            GOULDING, Grantley  Athens     1896      Athletics
17             LERMUSIAUX, Albin  Athens     1896      Athletics
18                  FLACK, Edwin  Athens     1896      Athletics
19                 BLAKE, Arthur  Athens     1896      Athletics
20               GMELIN, Charles  Athens     1896      Athletics
21                 BURKE, Thomas  Athens     1896      Athletics
22              JAMISON, Herbert  Athens     1896      Athletics
23            GOLEMIS, Dimitrios  Athens     1896      Athletics
24                  FLACK, Edwin  Athens     1896      Athletics
25                  DANI, Nandor  Athens     1896      Athletics
26              VERSIS, Sotirios  Athens     1896      Athletics
27               GARRETT, Robert  Athens     1896      Athletics
28   PARASKEVOPOULOS, Panagiotis  Athens     1896      Athletics
29                 CLARK, Ellery  Athens     1896      Athletics
..                           ...     ...      ...            ...
121         PHRANGOUDIS, Joannis  Athens     1896       Shooting
122         ORPHANIDIS, Georgios  Athens     1896       Shooting
123         PHRANGOUDIS, Joannis  Athens     1896       Shooting
124                PAINE, Sumner  Athens     1896       Shooting
125              NIELSEN, Holger  Athens     1896       Shooting
126           TRIKUPIS, Nicolaos  Athens     1896       Shooting
127         KARASEVDAS, Pantelis  Athens     1896       Shooting
128             PAVLIDIS, Pavlos  Athens     1896       Shooting
129                JENSEN, Viggo  Athens     1896       Shooting
130         ORPHANIDIS, Georgios  Athens     1896       Shooting
131         PHRANGOUDIS, Joannis  Athens     1896       Shooting
132                 FLACK, Edwin  Athens     1896         Tennis
133     ROBERTSON, George Stuart  Athens     1896         Tennis
134                 BOLAND, John  Athens     1896         Tennis
135             TRAUN, Friedrich  Athens     1896         Tennis
136         KASDAGLIS, Dionysios  Athens     1896         Tennis
137     PETROKOKKINOS, Demetrios  Athens     1896         Tennis
138       PASPATIS, Konstantinos  Athens     1896         Tennis
139         TAPAVICZA, Momcsillo  Athens     1896         Tennis
140                 BOLAND, John  Athens     1896         Tennis
141         KASDAGLIS, Dionysios  Athens     1896         Tennis
142     NIKOLOPOULOS, Alexandros  Athens     1896  Weightlifting
143          ELLIOTT, Launceston  Athens     1896  Weightlifting
144                JENSEN, Viggo  Athens     1896  Weightlifting
145             VERSIS, Sotirios  Athens     1896  Weightlifting
146                JENSEN, Viggo  Athens     1896  Weightlifting
147          ELLIOTT, Launceston  Athens     1896  Weightlifting
148     CHRISTOPOULOS, Stephanos  Athens     1896      Wrestling
149               SCHUMANN, Carl  Athens     1896      Wrestling
150             TSITAS, Georgios  Athens     1896      Wrestling

          Discipline  NOC Gender                             Event  \
0           Swimming  HUN    Men                    100m freestyle
1           Swimming  AUT    Men                    100m freestyle
2           Swimming  GRE    Men        100m freestyle for sailors
3           Swimming  GRE    Men        100m freestyle for sailors
4           Swimming  GRE    Men        100m freestyle for sailors
5           Swimming  GRE    Men                   1200m freestyle
6           Swimming  HUN    Men                   1200m freestyle
7           Swimming  GRE    Men                   1200m freestyle
8           Swimming  GRE    Men                    400m freestyle
9           Swimming  AUT    Men                    400m freestyle
10          Swimming  GRE    Men                    400m freestyle
11         Athletics  USA    Men                              100m
12         Athletics  HUN    Men                              100m
13         Athletics  USA    Men                              100m
14         Athletics  GER    Men                              100m
15         Athletics  USA    Men                      110m hurdles
16         Athletics  GBR    Men                      110m hurdles
17         Athletics  FRA    Men                             1500m
18         Athletics  AUS    Men                             1500m
19         Athletics  USA    Men                             1500m
20         Athletics  GBR    Men                              400m
21         Athletics  USA    Men                              400m
22         Athletics  USA    Men                              400m
23         Athletics  GRE    Men                              800m
24         Athletics  AUS    Men                              800m
25         Athletics  HUN    Men                              800m
26         Athletics  GRE    Men                      discus throw
27         Athletics  USA    Men                      discus throw
28         Athletics  GRE    Men                      discus throw
29         Athletics  USA    Men                         high jump
..               ...  ...    ...                               ...
121         Shooting  GRE    Men  25m rapid fire pistol (60 shots)
122         Shooting  GRE    Men  25m rapid fire pistol (60 shots)
123         Shooting  GRE    Men             50m pistol (60 shots)
124         Shooting  USA    Men             50m pistol (60 shots)
125         Shooting  DEN    Men             50m pistol (60 shots)
126         Shooting  GRE    Men                  army rifle, 200m
127         Shooting  GRE    Men                  army rifle, 200m
128         Shooting  GRE    Men                  army rifle, 200m
129         Shooting  DEN    Men                  army rifle, 300m
130         Shooting  GRE    Men                  army rifle, 300m
131         Shooting  GRE    Men                  army rifle, 300m
132           Tennis  ZZX    Men                           doubles
133           Tennis  ZZX    Men                           doubles
134           Tennis  ZZX    Men                           doubles
135           Tennis  ZZX    Men                           doubles
136           Tennis  ZZX    Men                           doubles
137           Tennis  ZZX    Men                           doubles
138           Tennis  GRE    Men                           singles
139           Tennis  HUN    Men                           singles
140           Tennis  GBR    Men                           singles
141           Tennis  GRE    Men                           singles
142    Weightlifting  GRE    Men       heavyweight - one hand lift
143    Weightlifting  GBR    Men       heavyweight - one hand lift
144    Weightlifting  DEN    Men       heavyweight - one hand lift
145    Weightlifting  GRE    Men       heavyweight - two hand lift
146    Weightlifting  DEN    Men       heavyweight - two hand lift
147    Weightlifting  GBR    Men       heavyweight - two hand lift
148  Wrestling Gre-R  GRE    Men                        open event
149  Wrestling Gre-R  GER    Men                        open event
150  Wrestling Gre-R  GRE    Men                        open event

    Event_gender   Medal
0              M    Gold
1              M  Silver
2              M  Bronze
3              M    Gold
4              M  Silver
5              M  Bronze
6              M    Gold
7              M  Silver
8              M  Bronze
9              M    Gold
10             M  Silver
11             M  Bronze
12             M  Bronze
13             M    Gold
14             M  Silver
15             M    Gold
16             M  Silver
17             M  Bronze
18             M    Gold
19             M  Silver
20             M  Bronze
21             M    Gold
22             M  Silver
23             M  Bronze
24             M    Gold
25             M  Silver
26             M  Bronze
27             M    Gold
28             M  Silver
29             M    Gold
..           ...     ...
121            M    Gold
122            M  Silver
123            M  Bronze
124            M    Gold
125            M  Silver
126            M  Bronze
127            M    Gold
128            M  Silver
129            M  Bronze
130            M    Gold
131            M  Silver
132            M  Bronze
133            M  Bronze
134            M    Gold
135            M    Gold
136            M  Silver
137            M  Silver
138            M  Bronze
139            M  Bronze
140            M    Gold
141            M  Silver
142            M  Bronze
143            M    Gold
144            M  Silver
145            M  Bronze
146            M    Gold
147            M  Silver
148            M  Bronze
149            M    Gold
150            M  Silver

[151 rows x 10 columns]
1900
                               Athlete   City  Edition       Sport  \
151                     HALMAY, Zoltan  Paris     1900    Aquatics
152                JARVIS, John Arthur  Paris     1900    Aquatics
153                        WAHLE, Otto  Paris     1900    Aquatics
154                    DROST, Johannes  Paris     1900    Aquatics
155                  HOPPENBERG, Ernst  Paris     1900    Aquatics
156                       RUBERL, Karl  Paris     1900    Aquatics
157                       RUBERL, Karl  Paris     1900    Aquatics
158               LANE, Frederick C.V.  Paris     1900    Aquatics
159                     HALMAY, Zoltan  Paris     1900    Aquatics
160                        KEMP, Peter  Paris     1900    Aquatics
161               LANE, Frederick C.V.  Paris     1900    Aquatics
162                        WAHLE, Otto  Paris     1900    Aquatics
163                             HOUBEN  Paris     1900    Aquatics
164                   LEUILLIEUX, Jean  Paris     1900    Aquatics
165                      MARTIN, Louis  Paris     1900    Aquatics
166                    MERCHEZ, Désiré  Paris     1900    Aquatics
167                            TARTARA  Paris     1900    Aquatics
168                       FREY, Julius  Paris     1900    Aquatics
169                        HAINLE, Max  Paris     1900    Aquatics
170                  HOPPENBERG, Ernst  Paris     1900    Aquatics
171                        SCHÖNE, Max  Paris     1900    Aquatics
172           VON PETERSDORFF, Herbert  Paris     1900    Aquatics
173                           BERTRAND  Paris     1900    Aquatics
174                              CADET  Paris     1900    Aquatics
175                 HOCHEPIED, Maurice  Paris     1900    Aquatics
176                  HOCHEPIED, Victor  Paris     1900    Aquatics
177                           VERBECKE  Paris     1900    Aquatics
178                      MARTIN, Louis  Paris     1900    Aquatics
179                JARVIS, John Arthur  Paris     1900    Aquatics
180                     HALMAY, Zoltan  Paris     1900    Aquatics
..                                 ...    ...      ...         ...
633       DE GARMENDIA, Basil Spalding  Paris     1900      Tennis
634                       DECUGIS, Max  Paris     1900      Tennis
635             DOHERTY, Hugh Lawrence  Paris     1900      Tennis
636               WARDEN, Archibald A.  Paris     1900      Tennis
637            DOHERTY, Reginald Frank  Paris     1900      Tennis
638           MAHONY, Harold Sergerson  Paris     1900      Tennis
639                      JONES, Marion  Paris     1900      Tennis
640                  ROSENBAUM, Hedwig  Paris     1900      Tennis
641                  COOPER, Charlotte  Paris     1900      Tennis
642                    PREVOST, Hélène  Paris     1900      Tennis
643            DOHERTY, Reginald Frank  Paris     1900      Tennis
644                NORRIS, Arthur B.J.  Paris     1900      Tennis
645             DOHERTY, Hugh Lawrence  Paris     1900      Tennis
646           MAHONY, Harold Sergerson  Paris     1900      Tennis
647                      JONES, Marion  Paris     1900      Tennis
648                  ROSENBAUM, Hedwig  Paris     1900      Tennis
649                  COOPER, Charlotte  Paris     1900      Tennis
650                    PREVOST, Hélène  Paris     1900      Tennis
651                       AABYE, Edgar  Paris     1900  Tug of War
652                    NILSSON, August  Paris     1900  Tug of War
653                     SCHMIDT, Eugen  Paris     1900  Tug of War
654                 SÖDERSTRÖM, Gustaf  Paris     1900  Tug of War
655                 STAAF, Karl Gustav  Paris     1900  Tug of War
656                  WINCKLER, Charles  Paris     1900  Tug of War
657                     BASSET, Pierre  Paris     1900  Tug of War
658                       COLLAS, Jean  Paris     1900  Tug of War
659                  GONDOUIN, Charles  Paris     1900  Tug of War
660  HENRIQUEZ DE ZUBIERRA, Constantin  Paris     1900  Tug of War
661                      ROFFO, Joseph  Paris     1900  Tug of War
662                     SARRADE, Emile  Paris     1900  Tug of War

     Discipline  NOC Gender                Event Event_gender   Medal
151    Swimming  HUN    Men      1500m freestyle            M  Bronze
152    Swimming  GBR    Men      1500m freestyle            M    Gold
153    Swimming  AUT    Men      1500m freestyle            M  Silver
154    Swimming  NED    Men      200m backstroke            M  Bronze
155    Swimming  GER    Men      200m backstroke            M    Gold
156    Swimming  AUT    Men      200m backstroke            M  Silver
157    Swimming  AUT    Men       200m freestyle            M  Bronze
158    Swimming  AUS    Men       200m freestyle            M    Gold
159    Swimming  HUN    Men       200m freestyle            M  Silver
160    Swimming  GBR    Men  200m obstacle event            M  Bronze
161    Swimming  AUS    Men  200m obstacle event            M    Gold
162    Swimming  AUT    Men  200m obstacle event            M  Silver
163    Swimming  FRA    Men   200m team swimming            M  Bronze
164    Swimming  FRA    Men   200m team swimming            M  Bronze
165    Swimming  FRA    Men   200m team swimming            M  Bronze
166    Swimming  FRA    Men   200m team swimming            M  Bronze
167    Swimming  FRA    Men   200m team swimming            M  Bronze
168    Swimming  GER    Men   200m team swimming            M    Gold
169    Swimming  GER    Men   200m team swimming            M    Gold
170    Swimming  GER    Men   200m team swimming            M    Gold
171    Swimming  GER    Men   200m team swimming            M    Gold
172    Swimming  GER    Men   200m team swimming            M    Gold
173    Swimming  FRA    Men   200m team swimming            M  Silver
174    Swimming  FRA    Men   200m team swimming            M  Silver
175    Swimming  FRA    Men   200m team swimming            M  Silver
176    Swimming  FRA    Men   200m team swimming            M  Silver
177    Swimming  FRA    Men   200m team swimming            M  Silver
178    Swimming  FRA    Men      4000m freestyle            M  Bronze
179    Swimming  GBR    Men      4000m freestyle            M    Gold
180    Swimming  HUN    Men      4000m freestyle            M  Silver
..          ...  ...    ...                  ...          ...     ...
633      Tennis  ZZX    Men              doubles            M  Silver
634      Tennis  ZZX    Men              doubles            M  Silver
635      Tennis  ZZX    Men        mixed doubles            X  Bronze
636      Tennis  ZZX    Men        mixed doubles            X  Bronze
637      Tennis  GBR    Men        mixed doubles            X    Gold
638      Tennis  ZZX    Men        mixed doubles            X  Silver
639      Tennis  ZZX  Women        mixed doubles            X  Bronze
640      Tennis  ZZX  Women        mixed doubles            X  Bronze
641      Tennis  GBR  Women        mixed doubles            X    Gold
642      Tennis  ZZX  Women        mixed doubles            X  Silver
643      Tennis  GBR    Men              singles            M  Bronze
644      Tennis  GBR    Men              singles            M  Bronze
645      Tennis  GBR    Men              singles            M    Gold
646      Tennis  GBR    Men              singles            M  Silver
647      Tennis  USA  Women              singles            W  Bronze
648      Tennis  BOH  Women              singles            W  Bronze
649      Tennis  GBR  Women              singles            W    Gold
650      Tennis  FRA  Women              singles            W  Silver
651  Tug of War  ZZX    Men           tug of war            M    Gold
652  Tug of War  ZZX    Men           tug of war            M    Gold
653  Tug of War  ZZX    Men           tug of war            M    Gold
654  Tug of War  ZZX    Men           tug of war            M    Gold
655  Tug of War  ZZX    Men           tug of war            M    Gold
656  Tug of War  ZZX    Men           tug of war            M    Gold
657  Tug of War  FRA    Men           tug of war            M  Silver
658  Tug of War  FRA    Men           tug of war            M  Silver
659  Tug of War  FRA    Men           tug of war            M  Silver
660  Tug of War  FRA    Men           tug of war            M  Silver
661  Tug of War  FRA    Men           tug of war            M  Silver
662  Tug of War  FRA    Men           tug of war            M  Silver

[512 rows x 10 columns]
1904
                          Athlete      City  Edition          Sport  \
663        BRAUNSCHWEIGER, Alfred  St Louis     1904       Aquatics
664                  KEHOE, Frank  St Louis     1904       Aquatics
665               SHELDON, George  St Louis     1904       Aquatics
666               HOFFMANN, Georg  St Louis     1904       Aquatics
667             GOODWIN, Leo Budd  St Louis     1904       Aquatics
668          DICKEY, William Paul  St Louis     1904       Aquatics
669               ADAMS, Edgar H.  St Louis     1904       Aquatics
670              ZACHARIAS, Georg  St Louis     1904       Aquatics
671                 BRACK, Walter  St Louis     1904       Aquatics
672               HOFFMANN, Georg  St Louis     1904       Aquatics
673               LEARY, J. Scott  St Louis     1904       Aquatics
674                HALMAY, Zoltan  St Louis     1904       Aquatics
675              DANIELS, Charles  St Louis     1904       Aquatics
676               GAILEY, Francis  St Louis     1904       Aquatics
677                  RAUSCH, Emil  St Louis     1904       Aquatics
678                    KISS, Geza  St Louis     1904       Aquatics
679                  RAUSCH, Emil  St Louis     1904       Aquatics
680              DANIELS, Charles  St Louis     1904       Aquatics
681               GAILEY, Francis  St Louis     1904       Aquatics
682          HANDY, Hehry Jamison  St Louis     1904       Aquatics
683              ZACHARIAS, Georg  St Louis     1904       Aquatics
684                 BRACK, Walter  St Louis     1904       Aquatics
685                   WAHLE, Otto  St Louis     1904       Aquatics

                             Athlete         City  Edition      Sport  \
5714              KURTZ, Frank Allen  Los Angeles     1932   Aquatics
5715             SMITH, Harold Edwin  Los Angeles     1932   Aquatics
5716         GALITZEN, Michael Riley  Los Angeles     1932   Aquatics
5717              ROPER, Marion Dale  Los Angeles     1932   Aquatics
5718           POYNTON-HILL, Dorothy  Los Angeles     1932   Aquatics
5719             COLEMAN, Georgia V.  Los Angeles     1932   Aquatics
5720       DEGENER, Richard Kempster  Los Angeles     1932   Aquatics
5721         GALITZEN, Michael Riley  Los Angeles     1932   Aquatics
5722             SMITH, Harold Edwin  Los Angeles     1932   Aquatics
5723                    FAUNTZ, Jane  Los Angeles     1932   Aquatics
5724             COLEMAN, Georgia V.  Los Angeles     1932   Aquatics
5725         RAWLS, Katherine Louise  Los Angeles     1932   Aquatics
5726                KAWATSU, Kentaro  Los Angeles     1932   Aquatics
5727                KIYOKAWA, Masaji  Los Angeles     1932   Aquatics
5728                   IRIYE, Toshio  Los Angeles     1932   Aquatics
5729       DAVIES, Elizabeth Valerie  Los Angeles     1932   Aquatics
5730                   HOLM, Eleanor  Los Angeles     1932   Aquatics
5731      MEALING, Philomenia Alecia  Los Angeles     1932   Aquatics
5732                SCHWARTZ, Albert  Los Angeles     1932   Aquatics
5733               MIOYAZAKI, Yasuji  Los Angeles     1932   Aquatics
5734               KAWAISHI, Tatsugo  Los Angeles     1932   Aquatics
5735                SAVILLE, Eleanor  Los Angeles     1932   Aquatics
5736                 MADISON, Helene  Los Angeles     1932   Aquatics
5737  DEN OUDEN, Willemyntje (Willy)  Los Angeles     1932   Aquatics
5738         CRISTY, James Crapo Jr.  Los Angeles     1932   Aquatics
5739                 KITAMURA, Kusuo  Los Angeles     1932   Aquatics
5740                   MAKINO, Shozo  Los Angeles     1932   Aquatics
5741              YLDEFONSO, Teofilo  Los Angeles     1932   Aquatics
5742              TSURUTA, Yoshiyuki  Los Angeles     1932   Aquatics
5743                    KOIKE, Reizo  Los Angeles     1932   Aquatics
...                              ...          ...      ...        ...
6299             LEINO, Eino Aukusti  Los Angeles     1932  Wrestling
6300        VAN BEBBER, Jack Francis  Los Angeles     1932  Wrestling
6301               MACDONALD, Daniel  Los Angeles     1932  Wrestling
6302                 TUNYOGI, Jozsef  Los Angeles     1932  Wrestling
6303                 JOHANSSON, Ivar  Los Angeles     1932  Wrestling
6304          LUUKKO, Kyösti Aukusti  Los Angeles     1932  Wrestling
6305           SCARF, Richard Edward  Los Angeles     1932  Wrestling
6306         MEHRINGER, Peter Joseph  Los Angeles     1932  Wrestling
6307                 SJÖSTEDT, Thure  Los Angeles     1932  Wrestling
6308                 FRANCOIS, Louis  Los Angeles     1932  Wrestling
6309                  BRENDEL, Jacob  Los Angeles     1932  Wrestling
6310               NIZZOLA, Marcello  Los Angeles     1932  Wrestling
6311               HIRSCHL, Nikolaus  Los Angeles     1932  Wrestling
6312                WESTERGREN, Carl  Los Angeles     1932  Wrestling
6313                    URBAN, Josef  Los Angeles     1932  Wrestling
6314                  KOSKELA, Lauri  Los Angeles     1932  Wrestling
6315                 GOZZI, Giovanni  Los Angeles     1932  Wrestling
6316                  EHRL, Wolfgang  Los Angeles     1932  Wrestling
6317                SPERLING, Eduard  Los Angeles     1932  Wrestling
6318                  MALMBERG, Eric  Los Angeles     1932  Wrestling
6319                KURLAND, Abraham  Los Angeles     1932  Wrestling
6320               GALLEGATI, Ercole  Los Angeles     1932  Wrestling
6321                 JOHANSSON, Ivar  Los Angeles     1932  Wrestling
6322                 KAJANDER, Väinö  Los Angeles     1932  Wrestling
6323                    CADIER, Axel  Los Angeles     1932  Wrestling
6324         KOKKINEN, Väinö Anselmi  Los Angeles     1932  Wrestling
6325                   FÖLDEÁK, Jean  Los Angeles     1932  Wrestling
6326                GRUPPIONI, Mario  Los Angeles     1932  Wrestling
6327                SVENSSON, Rudolf  Los Angeles     1932  Wrestling
6328                  PELLINEN, Onni  Los Angeles     1932  Wrestling

           Discipline  NOC Gender                          Event Event_gender  \
5714           Diving  USA    Men                   10m platform            M
5715           Diving  USA    Men                   10m platform            M
5716           Diving  USA    Men                   10m platform            M
5717           Diving  USA  Women                   10m platform            W
5718           Diving  USA  Women                   10m platform            W
5719           Diving  USA  Women                   10m platform            W
5720           Diving  USA    Men                 3m springboard            M
5721           Diving  USA    Men                 3m springboard            M
5722           Diving  USA    Men                 3m springboard            M
5723           Diving  USA  Women                 3m springboard            W
5724           Diving  USA  Women                 3m springboard            W
5725           Diving  USA  Women                 3m springboard            W
5726         Swimming  JPN    Men                100m backstroke            M
5727         Swimming  JPN    Men                100m backstroke            M
5728         Swimming  JPN    Men                100m backstroke            M
5729         Swimming  GBR  Women                100m backstroke            W
5730         Swimming  USA  Women                100m backstroke            W
5731         Swimming  AUS  Women                100m backstroke            W
5732         Swimming  USA    Men                 100m freestyle            M
5733         Swimming  JPN    Men                 100m freestyle            M
5734         Swimming  JPN    Men                 100m freestyle            M
5735         Swimming  USA  Women                 100m freestyle            W
5736         Swimming  USA  Women                 100m freestyle            W
5737         Swimming  NED  Women                 100m freestyle            W
5738         Swimming  USA    Men                1500m freestyle            M
5739         Swimming  JPN    Men                1500m freestyle            M
5740         Swimming  JPN    Men                1500m freestyle            M
5741         Swimming  PHI    Men              200m breaststroke            M
5742         Swimming  JPN    Men              200m breaststroke            M
5743         Swimming  JPN    Men              200m breaststroke            M
...               ...  ...    ...                            ...          ...
6299  Wrestling Free.  FIN    Men       66 - 72kg (welterweight)            M
6300  Wrestling Free.  USA    Men       66 - 72kg (welterweight)            M
6301  Wrestling Free.  CAN    Men       66 - 72kg (welterweight)            M
6302  Wrestling Free.  HUN    Men       72 - 79kg (middleweight)            M
6303  Wrestling Free.  SWE    Men       72 - 79kg (middleweight)            M
6304  Wrestling Free.  FIN    Men       72 - 79kg (middleweight)            M
6305  Wrestling Free.  AUS    Men  79 - 87kg (light-heavyweight)            M
6306  Wrestling Free.  USA    Men  79 - 87kg (light-heavyweight)            M
6307  Wrestling Free.  SWE    Men  79 - 87kg (light-heavyweight)            M
6308  Wrestling Gre-R  FRA    Men          - 56kg (bantamweight)            M
6309  Wrestling Gre-R  GER    Men          - 56kg (bantamweight)            M
6310  Wrestling Gre-R  ITA    Men          - 56kg (bantamweight)            M
6311  Wrestling Gre-R  AUT    Men     + 87kg (super heavyweight)            M
6312  Wrestling Gre-R  SWE    Men     + 87kg (super heavyweight)            M
6313  Wrestling Gre-R  TCH    Men     + 87kg (super heavyweight)            M
6314  Wrestling Gre-R  FIN    Men      56 - 61kg (featherweight)            M
6315  Wrestling Gre-R  ITA    Men      56 - 61kg (featherweight)            M
6316  Wrestling Gre-R  GER    Men      56 - 61kg (featherweight)            M
6317  Wrestling Gre-R  GER    Men        61 - 66kg (lightweight)            M
6318  Wrestling Gre-R  SWE    Men        61 - 66kg (lightweight)            M
6319  Wrestling Gre-R  DEN    Men        61 - 66kg (lightweight)            M
6320  Wrestling Gre-R  ITA    Men       66 - 72kg (welterweight)            M
6321  Wrestling Gre-R  SWE    Men       66 - 72kg (welterweight)            M
6322  Wrestling Gre-R  FIN    Men       66 - 72kg (welterweight)            M
6323  Wrestling Gre-R  SWE    Men       72 - 79kg (middleweight)            M
6324  Wrestling Gre-R  FIN    Men       72 - 79kg (middleweight)            M
6325  Wrestling Gre-R  GER    Men       72 - 79kg (middleweight)            M
6326  Wrestling Gre-R  ITA    Men  79 - 87kg (light-heavyweight)            M
6327  Wrestling Gre-R  SWE    Men  79 - 87kg (light-heavyweight)            M
6328  Wrestling Gre-R  FIN    Men  79 - 87kg (light-heavyweight)            M

       Medal
5714  Bronze
5715    Gold
5716  Silver
5717  Bronze
5718    Gold
5719  Silver
5720  Bronze
5721    Gold
5722  Silver
5723  Bronze
5724    Gold
5725  Silver
5726  Bronze
5727    Gold
5728  Silver
5729  Bronze
5730    Gold
5731  Silver
5732  Bronze
5733    Gold
5734  Silver
5735  Bronze
5736    Gold
5737  Silver
5738  Bronze
5739    Gold
5740  Silver
5741  Bronze
5742    Gold
5743  Silver
...      ...
6299  Bronze
6300    Gold
6301  Silver
6302  Bronze
6303    Gold
6304  Silver
6305  Bronze
6306    Gold
6307  Silver
6308  Bronze
6309    Gold
6310  Silver
6311  Bronze
6312    Gold
6313  Silver
6314  Bronze
6315    Gold
6316  Silver
6317  Bronze
6318    Gold
6319  Silver
6320  Bronze
6321    Gold
6322  Silver
6323  Bronze
6324    Gold
6325  Silver
6326  Bronze
6327    Gold
6328  Silver

[615 rows x 10 columns]
1936
                           Athlete    City  Edition      Sport  \
6329                STORK, Hermann  Berlin     1936   Aquatics
6330               WAYNE, Marshall  Berlin     1936   Aquatics
6331           ROOT, Elbert Alonzo  Berlin     1936   Aquatics
6332                 KÖHLER, Käthe  Berlin     1936   Aquatics
6333         POYNTON-HILL, Dorothy  Berlin     1936   Aquatics
6334   DUNN PLOESSEL, Velma Clancy  Berlin     1936   Aquatics
6335                  GREENE, Alan  Berlin     1936   Aquatics
6336     DEGENER, Richard Kempster  Berlin     1936   Aquatics
6337               WAYNE, Marshall  Berlin     1936   Aquatics
6338         POYNTON-HILL, Dorothy  Berlin     1936   Aquatics
6339            GESTRING, Marjorie  Berlin     1936   Aquatics
6340       RAWLS, Katherine Louise  Berlin     1936   Aquatics
6341              KIYOKAWA, Masaji  Berlin     1936   Aquatics
6342         KIEFER, Adolph Gustav  Berlin     1936   Aquatics
6343          VAN DE WEGHE, Albert  Berlin     1936   Aquatics
6344             BRIDGES, Alice W.  Berlin     1936   Aquatics
6345  SENFF, Dina Willemina Jacoba  Berlin     1936   Aquatics
6346         MASTENBROEK, Hendrika  Berlin     1936   Aquatics
6347                  ARAI, Shigeo  Berlin     1936   Aquatics
6348                  CSIK, Ferenc  Berlin     1936   Aquatics
6349                YUSA, Masanori  Berlin     1936   Aquatics
6350         ARENDT-JACOBS, Gisela  Berlin     1936   Aquatics
6351         MASTENBROEK, Hendrika  Berlin     1936   Aquatics
6352     CAMPBELL, Jeanette Morven  Berlin     1936   Aquatics
6353                  UTO, Shunpei  Berlin     1936   Aquatics
6354                TERADA, Noboru  Berlin     1936   Aquatics
6355               MEDICA, Jack C.  Berlin     1936   Aquatics
6356                  KOIKE, Reizo  Berlin     1936   Aquatics
6357                HAMURO, Tetsuo  Berlin     1936   Aquatics
6358                 SIETAS, Erwin  Berlin     1936   Aquatics
...                            ...     ...      ...        ...
7174             SCHLEIMER, Joseph  Berlin     1936  Wrestling
7175            LEWIS, Frank Wyatt  Berlin     1936  Wrestling
7176              ANDERSSON, Thure  Berlin     1936  Wrestling
7177                KIREÇÇI, Ahmet  Berlin     1936  Wrestling
7178                 POILVE, Emile  Berlin     1936  Wrestling
7179      VOLIVA, Richard Lawrence  Berlin     1936  Wrestling
7180                SIEBERT, Erich  Berlin     1936  Wrestling
7181                 FRIDELL, Knut  Berlin     1936  Wrestling
7182             NEO, Ago (August)  Berlin     1936  Wrestling
7183                BRENDEL, Jacob  Berlin     1936  Wrestling
7184               LÖRINCZ, Marton  Berlin     1936  Wrestling
7185                SVENSSON, Egon  Berlin     1936  Wrestling
7186             HORNFISCHER, Kurt  Berlin     1936  Wrestling
7187            PALUSALU, Kristjan  Berlin     1936  Wrestling
7188                   NYMAN, John  Berlin     1936  Wrestling
7189               KARLSSON, Einar  Berlin     1936  Wrestling
7190                  ERKAN, Yasar  Berlin     1936  Wrestling
7191           REINI, Aarne Eemeli  Berlin     1936  Wrestling
7192                VÄLI, Voldemar  Berlin     1936  Wrestling
7193                KOSKELA, Lauri  Berlin     1936  Wrestling
7194                  HERDA, Josef  Berlin     1936  Wrestling
7195          VIRTANEN, Eino Mauno  Berlin     1936  Wrestling
7196              SVEDBERG, Rudolf  Berlin     1936  Wrestling
7197                SCHAFER, Fritz  Berlin     1936  Wrestling
7198               PALOTAS, Jozsef  Berlin     1936  Wrestling
7199               JOHANSSON, Ivar  Berlin     1936  Wrestling
7200            SCHWEIKERT, Ludwig  Berlin     1936  Wrestling
7201             NEO, Ago (August)  Berlin     1936  Wrestling
7202                  CADIER, Axel  Berlin     1936  Wrestling
7203               BIETAGS, Edwins  Berlin     1936  Wrestling

           Discipline  NOC Gender                          Event Event_gender  \
6329           Diving  GER    Men                   10m platform            M
6330           Diving  USA    Men                   10m platform            M
6331           Diving  USA    Men                   10m platform            M
6332           Diving  GER  Women                   10m platform            W
6333           Diving  USA  Women                   10m platform            W
6334           Diving  USA  Women                   10m platform            W
6335           Diving  USA    Men                 3m springboard            M
6336           Diving  USA    Men                 3m springboard            M
6337           Diving  USA    Men                 3m springboard            M
6338           Diving  USA  Women                 3m springboard            W
6339           Diving  USA  Women                 3m springboard            W
6340           Diving  USA  Women                 3m springboard            W
6341         Swimming  JPN    Men                100m backstroke            M
6342         Swimming  USA    Men                100m backstroke            M
6343         Swimming  USA    Men                100m backstroke            M
6344         Swimming  USA  Women                100m backstroke            W
6345         Swimming  NED  Women                100m backstroke            W
6346         Swimming  NED  Women                100m backstroke            W
6347         Swimming  JPN    Men                 100m freestyle            M
6348         Swimming  HUN    Men                 100m freestyle            M
6349         Swimming  JPN    Men                 100m freestyle            M
6350         Swimming  GER  Women                 100m freestyle            W
6351         Swimming  NED  Women                 100m freestyle            W
6352         Swimming  ARG  Women                 100m freestyle            W
6353         Swimming  JPN    Men                1500m freestyle            M
6354         Swimming  JPN    Men                1500m freestyle            M
6355         Swimming  USA    Men                1500m freestyle            M
6356         Swimming  JPN    Men              200m breaststroke            M
6357         Swimming  JPN    Men              200m breaststroke            M
6358         Swimming  GER    Men              200m breaststroke            M
...               ...  ...    ...                            ...          ...
7174  Wrestling Free.  CAN    Men       66 - 72kg (welterweight)            M
7175  Wrestling Free.  USA    Men       66 - 72kg (welterweight)            M
7176  Wrestling Free.  SWE    Men       66 - 72kg (welterweight)            M
7177  Wrestling Free.  TUR    Men       72 - 79kg (middleweight)            M
7178  Wrestling Free.  FRA    Men       72 - 79kg (middleweight)            M
7179  Wrestling Free.  USA    Men       72 - 79kg (middleweight)            M
7180  Wrestling Free.  GER    Men  79 - 87kg (light-heavyweight)            M
7181  Wrestling Free.  SWE    Men  79 - 87kg (light-heavyweight)            M
7182  Wrestling Free.  EST    Men  79 - 87kg (light-heavyweight)            M
7183  Wrestling Gre-R  GER    Men          - 56kg (bantamweight)            M
7184  Wrestling Gre-R  HUN    Men          - 56kg (bantamweight)            M
7185  Wrestling Gre-R  SWE    Men          - 56kg (bantamweight)            M
7186  Wrestling Gre-R  GER    Men     + 87kg (super heavyweight)            M
7187  Wrestling Gre-R  EST    Men     + 87kg (super heavyweight)            M
7188  Wrestling Gre-R  SWE    Men     + 87kg (super heavyweight)            M
7189  Wrestling Gre-R  SWE    Men      56 - 61kg (featherweight)            M
7190  Wrestling Gre-R  TUR    Men      56 - 61kg (featherweight)            M
7191  Wrestling Gre-R  FIN    Men      56 - 61kg (featherweight)            M
7192  Wrestling Gre-R  EST    Men        61 - 66kg (lightweight)            M
7193  Wrestling Gre-R  FIN    Men        61 - 66kg (lightweight)            M
7194  Wrestling Gre-R  TCH    Men        61 - 66kg (lightweight)            M
7195  Wrestling Gre-R  FIN    Men       66 - 72kg (welterweight)            M
7196  Wrestling Gre-R  SWE    Men       66 - 72kg (welterweight)            M
7197  Wrestling Gre-R  GER    Men       66 - 72kg (welterweight)            M
7198  Wrestling Gre-R  HUN    Men       72 - 79kg (middleweight)            M
7199  Wrestling Gre-R  SWE    Men       72 - 79kg (middleweight)            M
7200  Wrestling Gre-R  GER    Men       72 - 79kg (middleweight)            M
7201  Wrestling Gre-R  EST    Men  79 - 87kg (light-heavyweight)            M
7202  Wrestling Gre-R  SWE    Men  79 - 87kg (light-heavyweight)            M
7203  Wrestling Gre-R  LAT    Men  79 - 87kg (light-heavyweight)            M

       Medal
6329  Bronze
6330    Gold
6331  Silver
6332  Bronze
6333    Gold
6334  Silver
6335  Bronze
6336    Gold
6337  Silver
6338  Bronze
6339    Gold
6340  Silver
6341  Bronze
6342    Gold
6343  Silver
6344  Bronze
6345    Gold
6346  Silver
6347  Bronze
6348    Gold
6349  Silver
6350  Bronze
6351    Gold
6352  Silver
6353  Bronze
6354    Gold
6355  Silver
6356  Bronze
6357    Gold
6358  Silver
...      ...
7174  Bronze
7175    Gold
7176  Silver
7177  Bronze
7178    Gold
7179  Silver
7180  Bronze
7181    Gold
7182  Silver
7183  Bronze
7184    Gold
7185  Silver
7186  Bronze
7187    Gold
7188  Silver
7189  Bronze
7190    Gold
7191  Silver
7192  Bronze
7193    Gold
7194  Silver
7195  Bronze
7196    Gold
7197  Silver
7198  Bronze
7199    Gold
7200  Silver
7201  Bronze
7202    Gold
7203  Silver

[875 rows x 10 columns]
1948
                                 Athlete    City  Edition      Sport  \
7204              CAPILLA PEREZ, Joaquin  London     1948   Aquatics
7205                         LEE, Samuel  London     1948   Aquatics
7206                   HARLAN, Bruce Ira  London     1948   Aquatics
7207        CHRISTOFFERSEN-HANSON, Birte  London     1948   Aquatics

                         Athlete      City  Edition      Sport  \
13900          ALEINIK, Vladimir  Montreal     1976   Aquatics
13901             DIBIASI, Klaus  Montreal     1976   Aquatics
13902          LOUGANIS, Gregory  Montreal     1976   Aquatics
13903     WILSON, Deborah Keplar  Montreal     1976   Aquatics
13904     VAYTSEKHOVSKAYA, Elena  Montreal     1976   Aquatics
13905    KNAPE-LINDBERGH, Ulrika  Montreal     1976   Aquatics
13906        KOSENKOV, Aleksandr  Montreal     1976   Aquatics
13907       BOGGS, Philip George  Montreal     1976   Aquatics
13908   CAGNOTTO, Giorgio Franco  Montreal     1976   Aquatics
13909  POTTER-MCINGVALE, Cynthia  Montreal     1976   Aquatics
13910     CHANDLER, Jennifer Kay  Montreal     1976   Aquatics
13911            KÖHLER, Christa  Montreal     1976   Aquatics
13912            MATTHES, Roland  Montreal     1976   Aquatics
13913       NABER, John Phillips  Montreal     1976   Aquatics
13914         ROCCA, Peter Drake  Montreal     1976   Aquatics
13915      GARAPICK, Nancy Ellen  Montreal     1976   Aquatics
13916            RICHTER, Ulrike  Montreal     1976   Aquatics
13917            TREIBER, Birgit  Montreal     1976   Aquatics
13918          YOZAITIS, Arvidas  Montreal     1976   Aquatics
13919    HENCKEN, John Frederick  Montreal     1976   Aquatics
13920       WILKIE, David Andrew  Montreal     1976   Aquatics
13921          KOSHEVAYA, Marina  Montreal     1976   Aquatics
13922            ANKE, Hannelore  Montreal     1976   Aquatics
13923           RUSANOVA, Lyubov  Montreal     1976   Aquatics
13924           HALL, Gary Wayne  Montreal     1976   Aquatics
13925      VOGEL, Matthew Haynes  Montreal     1976   Aquatics
13926      BOTTOM, Joseph Stuart  Montreal     1976   Aquatics
13927   BOGLIOLI, Wendy Lansbach  Montreal     1976   Aquatics
13928            ENDER, Kornelia  Montreal     1976   Aquatics
13929            POLLACK, Andrea  Montreal     1976   Aquatics
...                          ...       ...      ...        ...
15175            ANGELOV, Stefan  Montreal     1976  Wrestling
15176          SHUMAKOV, Aleksei  Montreal     1976  Wrestling
15177         BERCEANU, Gheorghe  Montreal     1976  Wrestling
15178            CODREANU, Roman  Montreal     1976  Wrestling
15179      KOLCHINSKY, Aleksandr  Montreal     1976  Wrestling
15180           TOMOV, Aleksandr  Montreal     1976  Wrestling
15181         HIRAYAMA, Koichiro  Montreal     1976  Wrestling
15182       KONSTANTINOV, Vitali  Montreal     1976  Wrestling
15183                GINGA, Nicu  Montreal     1976  Wrestling
15184          MUSTAFIN, Farkhad  Montreal     1976  Wrestling
15185       UKKOLA, Pertti Olavi  Montreal     1976  Wrestling
15186                FRGIC, Ivan  Montreal     1976  Wrestling
15187              RECZI, Laszlo  Montreal     1976  Wrestling
15188          LIPIEN, Kazimierz  Montreal     1976  Wrestling
15189           DAVIDYAN, Nelson  Montreal     1976  Wrestling
15190      WEHLING, Heinz-Helmut  Montreal     1976  Wrestling
15191          NALBANDYAN, Suren  Montreal     1976  Wrestling
15192               RUSU, Stefan  Montreal     1976  Wrestling
15193        HELBING, Karl-Heinz  Montreal     1976  Wrestling
15194             BYKOV, Anatoli  Montreal     1976  Wrestling
15195           MACHA, Vitezslav  Montreal     1976  Wrestling
15196                KOLEV, Ivan  Montreal     1976  Wrestling
15197            PETKOVIC, Momir  Montreal     1976  Wrestling
15198      CHEBOKSAROV, Vladimir  Montreal     1976  Wrestling
15199        KWIECINSKI, Czeslaw  Montreal     1976  Wrestling
15200          REZANTSEV, Valeri  Montreal     1976  Wrestling
15201             IVANOV, Stoyan  Montreal     1976  Wrestling
15202      SKRZYDLEWSKI, Andrzej  Montreal     1976  Wrestling
15203         BALBOSHIN, Nikolai  Montreal     1976  Wrestling
15204             GORANOV, Kamen  Montreal     1976  Wrestling

            Discipline  NOC Gender                          Event  \
13900           Diving  URS    Men                   10m platform
13901           Diving  ITA    Men                   10m platform
13902           Diving  USA    Men                   10m platform
13903           Diving  USA  Women                   10m platform
13904           Diving  URS  Women                   10m platform
13905           Diving  SWE  Women                   10m platform
13906           Diving  URS    Men                 3m springboard
13907           Diving  USA    Men                 3m springboard
13908           Diving  ITA    Men                 3m springboard
13909           Diving  USA  Women                 3m springboard
13910           Diving  USA  Women                 3m springboard
13911           Diving  GDR  Women                 3m springboard
13912         Swimming  GDR    Men                100m backstroke
13913         Swimming  USA    Men                100m backstroke
13914         Swimming  USA    Men                100m backstroke
13915         Swimming  CAN  Women                100m backstroke
13916         Swimming  GDR  Women                100m backstroke
13917         Swimming  GDR  Women                100m backstroke
13918         Swimming  URS    Men              100m breaststroke
13919         Swimming  USA    Men              100m breaststroke
13920         Swimming  GBR    Men              100m breaststroke
13921         Swimming  URS  Women              100m breaststroke
13922         Swimming  GDR  Women              100m breaststroke
13923         Swimming  URS  Women              100m breaststroke
13924         Swimming  USA    Men                 100m butterfly
13925         Swimming  USA    Men                 100m butterfly
13926         Swimming  USA    Men                 100m butterfly
13927         Swimming  USA  Women                 100m butterfly
13928         Swimming  GDR  Women                 100m butterfly
13929         Swimming  GDR  Women                 100m butterfly
...                ...  ...    ...                            ...
15175  Wrestling Gre-R  BUL    Men       - 48kg (light-flyweight)
15176  Wrestling Gre-R  URS    Men       - 48kg (light-flyweight)
15177  Wrestling Gre-R  ROU    Men       - 48kg (light-flyweight)
15178  Wrestling Gre-R  ROU    Men    + 100kg (super heavyweight)
15179  Wrestling Gre-R  URS    Men    + 100kg (super heavyweight)
15180  Wrestling Gre-R  BUL    Men    + 100kg (super heavyweight)
15181  Wrestling Gre-R  JPN    Men          48 - 52kg (flyweight)
15182  Wrestling Gre-R  URS    Men          48 - 52kg (flyweight)
15183  Wrestling Gre-R  ROU    Men          48 - 52kg (flyweight)
15184  Wrestling Gre-R  URS    Men       52 - 57kg (bantamweight)
15185  Wrestling Gre-R  FIN    Men       52 - 57kg (bantamweight)
15186  Wrestling Gre-R  YUG    Men       52 - 57kg (bantamweight)
15187  Wrestling Gre-R  HUN    Men      57 - 62kg (featherweight)
15188  Wrestling Gre-R  POL    Men      57 - 62kg (featherweight)
15189  Wrestling Gre-R  URS    Men      57 - 62kg (featherweight)
15190  Wrestling Gre-R  GDR    Men        62 - 68kg (lightweight)
15191  Wrestling Gre-R  URS    Men        62 - 68kg (lightweight)
15192  Wrestling Gre-R  ROU    Men        62 - 68kg (lightweight)
15193  Wrestling Gre-R  FRG    Men       68 - 74kg (welterweight)
15194  Wrestling Gre-R  URS    Men       68 - 74kg (welterweight)
15195  Wrestling Gre-R  TCH    Men       68 - 74kg (welterweight)
15196  Wrestling Gre-R  BUL    Men       74 - 82kg (middleweight)
15197  Wrestling Gre-R  YUG    Men       74 - 82kg (middleweight)
15198  Wrestling Gre-R  URS    Men       74 - 82kg (middleweight)
15199  Wrestling Gre-R  POL    Men  82 - 90kg (light-heavyweight)
15200  Wrestling Gre-R  URS    Men  82 - 90kg (light-heavyweight)
15201  Wrestling Gre-R  BUL    Men  82 - 90kg (light-heavyweight)
15202  Wrestling Gre-R  POL    Men       90 - 100kg (heavyweight)
15203  Wrestling Gre-R  URS    Men       90 - 100kg (heavyweight)
15204  Wrestling Gre-R  BUL    Men       90 - 100kg (heavyweight)

      Event_gender   Medal
13900            M  Bronze
13901            M    Gold
13902            M  Silver
13903            W  Bronze
13904            W    Gold
13905            W  Silver
13906            M  Bronze
13907            M    Gold
13908            M  Silver
13909            W  Bronze
13910            W    Gold
13911            W  Silver
13912            M  Bronze
13913            M    Gold
13914            M  Silver
13915            W  Bronze
13916            W    Gold
13917            W  Silver
13918            M  Bronze
13919            M    Gold
13920            M  Silver
13921            W  Bronze
13922            W    Gold
13923            W  Silver
13924            M  Bronze
13925            M    Gold
13926            M  Silver
13927            W  Bronze
13928            W    Gold
13929            W  Silver
...            ...     ...
15175            M  Bronze
15176            M    Gold
15177            M  Silver
15178            M  Bronze
15179            M    Gold
15180            M  Silver
15181            M  Bronze
15182            M    Gold
15183            M  Silver
15184            M  Bronze
15185            M    Gold
15186            M  Silver
15187            M  Bronze
15188            M    Gold
15189            M  Silver
15190            M  Bronze
15191            M    Gold
15192            M  Silver
15193            M  Bronze
15194            M    Gold
15195            M  Silver
15196            M  Bronze
15197            M    Gold
15198            M  Silver
15199            M  Bronze
15200            M    Gold
15201            M  Silver
15202            M  Bronze
15203            M    Gold
15204            M  Silver

[1305 rows x 10 columns]
1980
                           Athlete    City  Edition      Sport  \
15205          AMBARTSUMYAN, David  Moscow     1980   Aquatics
15206               HOFFMANN, Falk  Moscow     1980   Aquatics
15207            ALEINIK, Vladimir  Moscow     1980   Aquatics
15208              TSOTADZE, Liana  Moscow     1980   Aquatics
15209             JÄSCHKE, Martina  Moscow     1980   Aquatics
15210            EMIRZIAN, Servard  Moscow     1980   Aquatics
15211     CAGNOTTO, Giorgio Franco  Moscow     1980   Aquatics
15212           PORTNOV, Aleksandr  Moscow     1980   Aquatics
15213                GIRON, Carlos  Moscow     1980   Aquatics
15214                GUTHKE, Karin  Moscow     1980   Aquatics
15215              KALININA, Irina  Moscow     1980   Aquatics
15216             PROEBER, Martina  Moscow     1980   Aquatics
15217             DOLGOV, Vladimir  Moscow     1980   Aquatics
15218                 BARON, Bengt  Moscow     1980   Aquatics
15219            KUZNETSOV, Viktor  Moscow     1980   Aquatics
15220                RIEDEL, Petra  Moscow     1980   Aquatics
15221               REINISCH, Rica  Moscow     1980   Aquatics
15222                  KLEBER, Ina  Moscow     1980   Aquatics
15223                 EVANS, Peter  Moscow     1980   Aquatics
15224              GOODHEW, Dunkan  Moscow     1980   Aquatics
15225              MISKAROV, Arsen  Moscow     1980   Aquatics
15226    NIELSSON, Susanne Schultz  Moscow     1980   Aquatics
15227               GEWENIGER, Ute  Moscow     1980   Aquatics
15228            VASILKOVA, Elvira  Moscow     1980   Aquatics
15229  LOPEZ-ZUBERO PURCELL, David  Moscow     1980   Aquatics
15230               ARVIDSSON, Pär  Moscow     1980   Aquatics
15231                PYTTEL, Roger  Moscow     1980   Aquatics
15232           KNACKE, Christiane  Moscow     1980   Aquatics
15233             METSCHUCK, Caren  Moscow     1980   Aquatics
15234              POLLACK, Andrea  Moscow     1980   Aquatics
...                            ...     ...      ...        ...
16562                SERES, Ferenc  Moscow     1980  Wrestling
16563       USHKEMPIROV, Zhaksylyk  Moscow     1980  Wrestling
16564        ALEXANDRU, Constantin  Moscow     1980  Wrestling
16565               BCHARA, Hassan  Moscow     1980  Wrestling
16566        KOLCHINSKY, Aleksandr  Moscow     1980  Wrestling
16567             TOMOV, Aleksandr  Moscow     1980  Wrestling
16568             MLADENOV, Mladen  Moscow     1980  Wrestling
16569           BLAGIDZE, Vakhtang  Moscow     1980  Wrestling
16570                  RACZ, Lajos  Moscow     1980  Wrestling
16571             LJUNGBECK, Benni  Moscow     1980  Wrestling
16572              SERIKOV, Shamil  Moscow     1980  Wrestling
16573                LIPIEN, Josef  Moscow     1980  Wrestling
16574            KRAMORENKO, Boris  Moscow     1980  Wrestling
16575          MIGIAKIS, Stilianos  Moscow     1980  Wrestling
16576                 TOTH, Istvan  Moscow     1980  Wrestling
16577            SKIOLD, Lars-Erik  Moscow     1980  Wrestling
16578                 RUSU, Stefan  Moscow     1980  Wrestling
16579              SUPRON, Andrzej  Moscow     1980  Wrestling
16580               HUHTALA, Mikko  Moscow     1980  Wrestling
16581               KOCSIS, Ferenc  Moscow     1980  Wrestling
16582               BYKOV, Anatoli  Moscow     1980  Wrestling
16583                PAVLOV, Pavel  Moscow     1980  Wrestling
16584              KORBAN, Gennadi  Moscow     1980  Wrestling
16585               DOLGOWICZ, Jan  Moscow     1980  Wrestling
16586                  DICU, Petre  Moscow     1980  Wrestling
16587              NOTTNY, Norbert  Moscow     1980  Wrestling
16588                KANYGIN, Igor  Moscow     1980  Wrestling
16589               ANDREI, Vasile  Moscow     1980  Wrestling
16590               RAIKOV, Georgi  Moscow     1980  Wrestling
16591                BIERLA, Roman  Moscow     1980  Wrestling

            Discipline  NOC Gender                          Event  \
15205           Diving  URS    Men                   10m platform
15206           Diving  GDR    Men                   10m platform
15207           Diving  URS    Men                   10m platform
15208           Diving  URS  Women                   10m platform
15209           Diving  GDR  Women                   10m platform
15210           Diving  URS  Women                   10m platform
15211           Diving  ITA    Men                 3m springboard
15212           Diving  URS    Men                 3m springboard
15213           Diving  MEX    Men                 3m springboard
15214           Diving  GDR  Women                 3m springboard
15215           Diving  URS  Women                 3m springboard
15216           Diving  GDR  Women                 3m springboard
15217         Swimming  URS    Men                100m backstroke
15218         Swimming  SWE    Men                100m backstroke
15219         Swimming  URS    Men                100m backstroke
15220         Swimming  GDR  Women                100m backstroke
15221         Swimming  GDR  Women                100m backstroke
15222         Swimming  GDR  Women                100m backstroke
15223         Swimming  AUS    Men              100m breaststroke
15224         Swimming  GBR    Men              100m breaststroke
15225         Swimming  URS    Men              100m breaststroke
15226         Swimming  DEN  Women              100m breaststroke
15227         Swimming  GDR  Women              100m breaststroke
15228         Swimming  URS  Women              100m breaststroke
15229         Swimming  ESP    Men                 100m butterfly
15230         Swimming  SWE    Men                 100m butterfly
15231         Swimming  GDR    Men                 100m butterfly
15232         Swimming  GDR  Women                 100m butterfly
15233         Swimming  GDR  Women                 100m butterfly
15234         Swimming  GDR  Women                 100m butterfly
...                ...  ...    ...                            ...
16562  Wrestling Gre-R  HUN    Men       - 48kg (light-flyweight)
16563  Wrestling Gre-R  URS    Men       - 48kg (light-flyweight)
16564  Wrestling Gre-R  ROU    Men       - 48kg (light-flyweight)
16565  Wrestling Gre-R  LIB    Men    + 100kg (super heavyweight)
16566  Wrestling Gre-R  URS    Men    + 100kg (super heavyweight)
16567  Wrestling Gre-R  BUL    Men    + 100kg (super heavyweight)
16568  Wrestling Gre-R  BUL    Men          48 - 52kg (flyweight)
16569  Wrestling Gre-R  URS    Men          48 - 52kg (flyweight)
16570  Wrestling Gre-R  HUN    Men          48 - 52kg (flyweight)
16571  Wrestling Gre-R  SWE    Men       52 - 57kg (bantamweight)
16572  Wrestling Gre-R  URS    Men       52 - 57kg (bantamweight)
16573  Wrestling Gre-R  POL    Men       52 - 57kg (bantamweight)
16574  Wrestling Gre-R  URS    Men      57 - 62kg (featherweight)
16575  Wrestling Gre-R  GRE    Men      57 - 62kg (featherweight)
16576  Wrestling Gre-R  HUN    Men      57 - 62kg (featherweight)
16577  Wrestling Gre-R  SWE    Men        62 - 68kg (lightweight)
16578  Wrestling Gre-R  ROU    Men        62 - 68kg (lightweight)
16579  Wrestling Gre-R  POL    Men        62 - 68kg (lightweight)
16580  Wrestling Gre-R  FIN    Men       68 - 74kg (welterweight)
16581  Wrestling Gre-R  HUN    Men       68 - 74kg (welterweight)
16582  Wrestling Gre-R  URS    Men       68 - 74kg (welterweight)
16583  Wrestling Gre-R  BUL    Men       74 - 82kg (middleweight)
16584  Wrestling Gre-R  URS    Men       74 - 82kg (middleweight)
16585  Wrestling Gre-R  POL    Men       74 - 82kg (middleweight)
16586  Wrestling Gre-R  ROU    Men  82 - 90kg (light-heavyweight)
16587  Wrestling Gre-R  HUN    Men  82 - 90kg (light-heavyweight)
16588  Wrestling Gre-R  URS    Men  82 - 90kg (light-heavyweight)
16589  Wrestling Gre-R  ROU    Men       90 - 100kg (heavyweight)
16590  Wrestling Gre-R  BUL    Men       90 - 100kg (heavyweight)
16591  Wrestling Gre-R  POL    Men       90 - 100kg (heavyweight)

      Event_gender   Medal
15205            M  Bronze
15206            M    Gold
15207            M  Silver
15208            W  Bronze
15209            W    Gold
15210            W  Silver
15211            M  Bronze
15212            M    Gold
15213            M  Silver
15214            W  Bronze
15215            W    Gold
15216            W  Silver
15217            M  Bronze
15218            M    Gold
15219            M  Silver
15220            W  Bronze
15221            W    Gold
15222            W  Silver
15223            M  Bronze
15224            M    Gold
15225            M  Silver
15226            W  Bronze
15227            W    Gold
15228            W  Silver
15229            M  Bronze
15230            M    Gold
15231            M  Silver
15232            W  Bronze
15233            W    Gold
15234            W  Silver
...            ...     ...
16562            M  Bronze
16563            M    Gold
16564            M  Silver
16565            M  Bronze
16566            M    Gold
16567            M  Silver
16568            M  Bronze
16569            M    Gold
16570            M  Silver
16571            M  Bronze
16572            M    Gold
16573            M  Silver
16574            M  Bronze
16575            M    Gold
16576            M  Silver
16577            M  Bronze
16578            M    Gold
16579            M  Silver
16580            M  Bronze
16581            M    Gold
16582            M  Silver
16583            M  Bronze
16584            M    Gold
16585            M  Silver
16586            M  Bronze
16587            M    Gold
16588            M  Silver
16589            M  Bronze
16590            M    Gold
16591            M  Silver

[1387 rows x 10 columns]
1984
                           Athlete         City  Edition      Sport  \
16592               LI, Kong-Zheng  Los Angeles     1984   Aquatics
16593            LOUGANIS, Gregory  Los Angeles     1984   Aquatics
16594            KIMBALL, Bruce D.  Los Angeles     1984   Aquatics
16595  WYLAND-WILLIAMS, Wendy Lian  Los Angeles     1984   Aquatics
16596                ZHOU, Ji-Hong  Los Angeles     1984   Aquatics
16597            MITCHELL, Michele  Los Angeles     1984   Aquatics
16598    MERRIOTT, Ronald Marshall  Los Angeles     1984   Aquatics

## Groupby computations

In [68]:
oo.groupby('Edition').size()

Edition
1896     151
1900     512
1904     470
1908     804
1912     885
1920    1298
1924     884
1928     710
1932     615
1936     875
1948     814
1952     889
1956     885
1960     882
1964    1010
1968    1031
1972    1185
1976    1305
1980    1387
1984    1459
1988    1546
1992    1705
1996    1859
2000    2015
2004    1998
2008    2042
dtype: int64

In [69]:
oo.columns.values

array(['Athlete', 'City', 'Edition', 'Sport', 'Discipline', 'NOC',
       'Gender', 'Event', 'Event_gender', 'Medal'], dtype=object)

In [70]:
oo.groupby(['City', 'Sport', 'NOC']).size()

City       Sport          NOC
Amsterdam  Aquatics       ARG     1
                          AUS     2
                          CAN     4
                          EGY     2
                          FRA     9
                          GBR     7
                          GER    11
                          HUN     8
                          JPN     6
                          NED     3
                          PHI     1
                          RSA     4
                          SWE     3
                          USA    26
           Athletics      CAN    14
                          CHI     1
                          FIN    14
                          FRA     3
                          GBR     8
                          GER    18
                          HAI     1
                          HUN     1
                          IRL     1
                          JPN     2
                          NED     1
                          NOR     1
                          POL     1
                          RSA     1
                          SWE     7
                          USA    34
                                 ..
Tokyo      Shooting       ITA     1
                          JPN     1
                          ROU     1
                          TCH     1
                          URS     2
                          USA     7
           Volleyball     JPN    24
                          POL    12
                          TCH    12
                          URS    24
           Weightlifting  GBR     1
                          HUN     3
                          JPN     3
                          POL     4
                          TCH     1
                          URS     7
                          USA     2
           Wrestling      BUL     8
                          EUA     4
                          HUN     2
                          IRI     2
                          JPN     6
                          KOR     1
                          ROU     3
                          SWE     2
                          TCH     1
                          TUR     6
                          URS    10
                          USA     1
                          YUG     2
Length: 4483, dtype: int64

### agg([...])

In [71]:
oo.groupby(['Edition','NOC','Medal']).agg(['min','max','count'])

                                              Athlete  \
                                                  min
Edition NOC Medal
1896    AUS Gold                         FLACK, Edwin
        AUT Bronze                      SCHMAL, Adolf
            Gold                        NEUMANN, Paul
            Silver                   HERSCHMANN, Otto
        DEN Bronze                      JENSEN, Viggo
            Gold                        JENSEN, Viggo
            Silver                      JENSEN, Viggo
        FRA Bronze                      FLAMENG, Léon
            Gold                        FLAMENG, Léon
            Silver                      CALLOT, Henri
        GBR Bronze                     BATTEL, Edward
            Gold                         BOLAND, John
            Silver                ELLIOTT, Launceston
        GER Bronze                     HOFMANN, Fritz
            Gold                       BÖCKER, Konrad
            Silver                     FLATOW, Alfred
        GRE Bronze              CHOROPHAS, Efstathios
            Gold             ANDRIAKOPOULOS, Nicolaos
            Silver                   ANDREOU, Joannis
        HUN Bronze                     KELLNER, Gyula
            Gold                        HAJOS, Alfred
            Silver                       DANI, Nandor
        SUI Gold                        ZUTTER, Louis
            Silver                      ZUTTER, Louis
        USA Bronze                    CONNOLLY, James
            Gold                        BURKE, Thomas
            Silver                      BLAKE, Arthur
        ZZX Bronze                       FLACK, Edwin
            Gold                         BOLAND, John
            Silver               KASDAGLIS, Dionysios
...                                               ...
2008    SUI Gold                   CANCELLARA, Fabian
        SVK Bronze                    MUSULBES, David
            Gold                  HOCHSCHORNER, Pavol
            Silver                 RISZDORFER, Michal
        SWE Bronze                    EKSTROM, Anders
            Silver                     ASPELIN, Simon
        THA Gold    JAROENRATTANATARAKOON, Prapawadee
            Silver                 BOONJUMNONG, Manus
        TJK Bronze                      BOQIEV, Rasul
            Silver                 ABDUSALOMOV, Yusup
        TOG Bronze                 BOUKPETI, Benjamin
        TPE Bronze                     CHEN, Wei-Ling
        TRI Silver                    BLEDMAN, Keston
        TUN Gold                    MELLOULI, Oussama
        TUR Bronze                      AVLUCA, Nazmi
            Gold                       SAHIN, Ramazan
            Silver                 ABEYLEGESSE, Elvan
        UKR Bronze                    ANTONOVA, Olena
            Gold                      AYVAZYAN, Artur
            Silver                  FEDORYSHYN, Vasyl
        USA Bronze                       ALLEN, Wyatt
            Gold                       ADRIAN, Nathan
            Silver                     ABBOTT, Monica
        UZB Bronze                       FOKIN, Anton
            Gold                      TAYMAZOV, Artur
            Silver                  TANGRIEV, Abdullo
        VEN Bronze            CONTRERAS RIVERO, Dalia
        VIE Silver                    HOANG, Anh Tuan
        ZIM Gold                     COVENTRY, Kirsty
            Silver                   COVENTRY, Kirsty

                                                       City                 \
                                         max count      min      max count
Edition NOC Medal
1896    AUS Gold                FLACK, Edwin     2   Athens   Athens     2
        AUT Bronze             SCHMAL, Adolf     2   Athens   Athens     2
            Gold               SCHMAL, Adolf     2   Athens   Athens     2
            Silver          HERSCHMANN, Otto     1   Athens   Athens     1
        DEN Bronze           NIELSEN, Holger     3   Athens   Athens     3
            Gold               JENSEN, Viggo     1   Athens   Athens     1
            Silver           NIELSEN, Holger     2   Athens   Athens     2
        FRA Bronze         LERMUSIAUX, Albin     2   Athens   Athens     2
            Gold                MASSON, Paul     5   Athens   Athens     5
            Silver        TUFFERI, Alexandre     4   Athens   Athens     4
        GBR Bronze           GMELIN, Charles     2   Athens   Athens     2
            Gold         ELLIOTT, Launceston     2   Athens   Athens     2
            Silver            KEEPING, Frank     3   Athens   Athens     3
        GER Bronze      WEINGÄRTNER, Hermann     2   Athens   Athens     2
            Gold        WEINGÄRTNER, Hermann    26   Athens   Athens    26
            Silver      WEINGÄRTNER, Hermann     5   Athens   Athens     5
        GRE Bronze          VERSIS, Sotirios    22   Athens   Athens    22
            Gold            PYRGOS, Leonidas    10   Athens   Athens    10
            Silver        XENAKIS, Thomasios    20   Athens   Athens    20
        HUN Bronze      TAPAVICZA, Momcsillo     3   Athens   Athens     3
            Gold               HAJOS, Alfred     2   Athens   Athens     2
            Silver              DANI, Nandor     1   Athens   Athens     1
        SUI Gold               ZUTTER, Louis     1   Athens   Athens     1
            Silver             ZUTTER, Louis     2   Athens   Athens     2
        USA Bronze             LANE, Francis     2   Athens   Athens     2
            Gold               PAINE, Sumner    11   Athens   Athens    11
            Silver             TYLER, Albert     7   Athens   Athens     7
        ZZX Bronze  ROBERTSON, George Stuart     2   Athens   Athens     2
            Gold            TRAUN, Friedrich     2   Athens   Athens     2
            Silver  PETROKOKKINOS, Demetrios     2   Athens   Athens     2
...                                      ...   ...      ...      ...   ...
2008    SUI Gold         WAWRINKA, Stanislas     3  Beijing  Beijing     3
        SVK Bronze           MUSULBES, David     1  Beijing  Beijing     1
            Gold            MARTIKAN, Michal     4  Beijing  Beijing     4
            Silver               VLCEK, Erik     5  Beijing  Beijing     5
        SWE Bronze             LOOF, Fredrik     2  Beijing  Beijing     2
            Silver           LARSSON, Gustav     5  Beijing  Beijing     5
        THA Gold           JONGJOHOR, Somjit     2  Beijing  Beijing     2
            Silver         PUEDPONG, Buttree     2  Beijing  Beijing     2
        TJK Bronze             BOQIEV, Rasul     1  Beijing  Beijing     1
            Silver        ABDUSALOMOV, Yusup     1  Beijing  Beijing     1
        TOG Bronze        BOUKPETI, Benjamin     1  Beijing  Beijing     1
        TPE Bronze              SUNG, Yu-Chi     4  Beijing  Beijing     4
        TRI Silver         THOMPSON, Richard     5  Beijing  Beijing     5
        TUN Gold           MELLOULI, Oussama     1  Beijing  Beijing     1
        TUR Bronze           TAZEGUL, Servet     3  Beijing  Beijing     3
            Gold              SAHIN, Ramazan     1  Beijing  Beijing     1
            Silver          TANRIKULU, Azize     4  Beijing  Beijing     4
        UKR Bronze          YURCHENKO, Denys    16  Beijing  Beijing    16
            Gold               ZHOVNIR, Olha    10  Beijing  Beijing    10
            Silver         SUKHORUKOV, Yuriy     5  Beijing  Beijing     5
        USA Bronze           ZAGUNIS, Mariel    81  Beijing  Beijing    81
            Gold             ZAGUNIS, Mariel   125  Beijing  Beijing   125
            Silver              WRIGHT, Adam   109  Beijing  Beijing   109
        UZB Bronze           SOBIROV, Rishod     3  Beijing  Beijing     3
            Gold             TAYMAZOV, Artur     1  Beijing  Beijing     1
            Silver            TIGIEV, Soslan     2  Beijing  Beijing     2
        VEN Bronze   CONTRERAS RIVERO, Dalia     1  Beijing  Beijing     1
        VIE Silver           HOANG, Anh Tuan     1  Beijing  Beijing     1
        ZIM Gold            COVENTRY, Kirsty     1  Beijing  Beijing     1
            Silver          COVENTRY, Kirsty     3  Beijing  Beijing     3

                            Sport                            Discipline  ...   \
                              min            max count              min  ...
Edition NOC Medal                                                        ...
1896    AUS Gold        Athletics      Athletics     2        Athletics  ...
        AUT Bronze        Cycling        Cycling     2    Cycling Track  ...
            Gold         Aquatics        Cycling     2    Cycling Track  ...
            Silver       Aquatics       Aquatics     1         Swimming  ...
        DEN Bronze        Fencing       Shooting     3          Fencing  ...
            Gold    Weightlifting  Weightlifting     1    Weightlifting  ...
            Silver       Shooting  Weightlifting     2         Shooting  ...
        FRA Bronze      Athletics        Cycling     2        Athletics  ...
            Gold          Cycling        Fencing     5    Cycling Track  ...
            Silver      Athletics        Fencing     4        Athletics  ...
        GBR Bronze      Athletics        Cycling     2        Athletics  ...
            Gold           Tennis  Weightlifting     2           Tennis  ...
            Silver      Athletics  Weightlifting     3        Athletics  ...
        GER Bronze     Gymnastics     Gymnastics     2      Artistic G.  ...
            Gold       Gymnastics      Wrestling    26      Artistic G.  ...
            Silver      Athletics     Gymnastics     5      Artistic G.  ...
        GRE Bronze       Aquatics      Wrestling    22      Artistic G.  ...
            Gold         Aquatics       Shooting    10      Artistic G.  ...
            Silver       Aquatics      Wrestling    20      Artistic G.  ...
        HUN Bronze      Athletics         Tennis     3        Athletics  ...
            Gold         Aquatics       Aquatics     2         Swimming  ...
            Silver      Athletics      Athletics     1        Athletics  ...
        SUI Gold       Gymnastics     Gymnastics     1      Artistic G.  ...
            Silver     Gymnastics     Gymnastics     2      Artistic G.  ...
        USA Bronze      Athletics      Athletics     2        Athletics  ...
            Gold        Athletics       Shooting    11        Athletics  ...
            Silver      Athletics       Shooting     7        Athletics  ...
        ZZX Bronze         Tennis         Tennis     2           Tennis  ...
            Gold           Tennis         Tennis     2           Tennis  ...
            Silver         Tennis         Tennis     2           Tennis  ...
...                           ...            ...   ...              ...  ...
2008    SUI Gold          Cycling         Tennis     3     Cycling Road  ...
        SVK Bronze      Wrestling      Wrestling     1  Wrestling Free.  ...
            Gold    Canoe / Kayak  Canoe / Kayak     4  Canoe / Kayak S  ...
            Silver  Canoe / Kayak       Shooting     5  Canoe / Kayak F  ...
        SWE Bronze        Sailing        Sailing     2          Sailing  ...
            Silver        Cycling         Tennis     5     Cycling Road  ...
        THA Gold           Boxing  Weightlifting     2           Boxing  ...
            Silver         Boxing      Taekwondo     2           Boxing  ...
        TJK Bronze           Judo           Judo     1             Judo  ...
            Silver      Wrestling      Wrestling     1  Wrestling Free.  ...
        TOG Bronze  Canoe / Kayak  Canoe / Kayak     1  Canoe / Kayak S  ...
        TPE Bronze      Taekwondo  Weightlifting     4        Taekwondo  ...
        TRI Silver      Athletics      Athletics     5        Athletics  ...
        TUN Gold         Aquatics       Aquatics     1         Swimming  ...
        TUR Bronze         Boxing      Wrestling     3           Boxing  ...
            Gold        Wrestling      Wrestling     1  Wrestling Free.  ...
            Silver      Athletics  Weightlifting     4        Athletics  ...
        UKR Bronze       Aquatics      Wrestling    16      Artistic G.  ...
            Gold          Archery       Shooting    10          Archery  ...
            Silver      Athletics      Wrestling     5        Athletics  ...
        USA Bronze       Aquatics      Wrestling    81      Artistic G.  ...
            Gold         Aquatics      Wrestling   125      Artistic G.  ...
            Silver       Aquatics     Volleyball   109      Artistic G.  ...
        UZB Bronze     Gymnastics           Judo     3      Artistic G.  ...
            Gold        Wrestling      Wrestling     1  Wrestling Free.  ...
            Silver           Judo      Wrestling     2             Judo  ...
        VEN Bronze      Taekwondo      Taekwondo     1        Taekwondo  ...
        VIE Silver  Weightlifting  Weightlifting     1    Weightlifting  ...
        ZIM Gold         Aquatics       Aquatics     1         Swimming  ...
            Silver       Aquatics       Aquatics     3         Swimming  ...

                         Gender               \
                   count    min    max count
Edition NOC Medal
1896    AUS Gold       2    Men    Men     2
        AUT Bronze     2    Men    Men     2
            Gold       2    Men    Men     2
            Silver     1    Men    Men     1
        DEN Bronze     3    Men    Men     3
            Gold       1    Men    Men     1
            Silver     2    Men    Men     2
        FRA Bronze     2    Men    Men     2
            Gold       5    Men    Men     5
            Silver     4    Men    Men     4
        GBR Bronze     2    Men    Men     2
            Gold       2    Men    Men     2
            Silver     3    Men    Men     3
        GER Bronze     2    Men    Men     2
            Gold      26    Men    Men    26
            Silver     5    Men    Men     5
        GRE Bronze    22    Men    Men    22
            Gold      10    Men    Men    10
            Silver    20    Men    Men    20
        HUN Bronze     3    Men    Men     3
            Gold       2    Men    Men     2
            Silver     1    Men    Men     1
        SUI Gold       1    Men    Men     1
            Silver     2    Men    Men     2
        USA Bronze     2    Men    Men     2
            Gold      11    Men    Men    11
            Silver     7    Men    Men     7
        ZZX Bronze     2    Men    Men     2
            Gold       2    Men    Men     2
            Silver     2    Men    Men     2
...                  ...    ...    ...   ...
2008    SUI Gold       3    Men    Men     3
        SVK Bronze     1    Men    Men     1
            Gold       4    Men  Women     4
            Silver     5    Men  Women     5
        SWE Bronze     2    Men    Men     2
            Silver     5    Men  Women     5
        THA Gold       2    Men  Women     2
            Silver     2    Men  Women     2
        TJK Bronze     1    Men    Men     1
            Silver     1    Men    Men     1
        TOG Bronze     1    Men    Men     1
        TPE Bronze     4    Men  Women     4
        TRI Silver     5    Men    Men     5
        TUN Gold       1    Men    Men     1
        TUR Bronze     3    Men    Men     3
            Gold       1    Men    Men     1
            Silver     4  Women  Women     4
        UKR Bronze    16    Men  Women    16
            Gold      10    Men  Women    10
            Silver     5    Men  Women     5
        USA Bronze    81    Men  Women    81
            Gold     125    Men  Women   125
            Silver   109    Men  Women   109
        UZB Bronze     3    Men  Women     3
            Gold       1    Men    Men     1
            Silver     2    Men    Men     2
        VEN Bronze     1  Women  Women     1
        VIE Silver     1    Men    Men     1
        ZIM Gold       1  Women  Women     1
            Silver     3  Women  Women     3

                                               Event  \
                                                 min
Edition NOC Medal
1896    AUS Gold                               1500m
        AUT Bronze                              10km
            Gold                        12-hour race
            Silver                    100m freestyle
        DEN Bronze  25m rapid fire pistol (60 shots)
            Gold         heavyweight - two hand lift
            Silver             50m pistol (60 shots)
        FRA Bronze                             1500m
            Gold                               100km
            Silver                              10km
        GBR Bronze                              400m
            Gold         heavyweight - one hand lift
            Silver                      110m hurdles
        GER Bronze                     rope climbing
            Gold                      horizontal bar
            Silver                              100m
        GRE Bronze        100m freestyle for sailors
            Gold          100m freestyle for sailors
            Silver                             100km
        HUN Bronze                              100m
            Gold                      100m freestyle
            Silver                              800m
        SUI Gold                        pommel horse
            Silver                     parallel bars
        USA Bronze                              100m
            Gold                                100m
            Silver                             1500m
        ZZX Bronze                           doubles
            Gold                             doubles
            Silver                           doubles
...                                              ...
2008    SUI Gold                             doubles
        SVK Bronze                        96 - 120kg
            Gold                  C-1 (canoe single)
            Silver            K-4 1000m (kayak four)
        SWE Bronze                   Star - Keelboat
            Silver                           doubles
        THA Gold               48 - 51kg (flyweight)
            Silver                           - 49 kg
        TJK Bronze           66 - 73kg (lightweight)
            Silver                         74 - 84kg
        TOG Bronze                K-1 (kayak single)
        TPE Bronze                           - 58 kg
        TRI Silver                              100m
        TUN Gold                     1500m freestyle
        TUR Bronze         54 - 57kg (featherweight)
            Gold                           60 - 66kg
            Silver                            10000m
        UKR Bronze        + 91kg (super heavyweight)
            Gold    25m rapid fire pistol (60 shots)
            Silver                            + 75kg
        USA Bronze                            10000m
            Gold                              - 55kg
            Silver                   100m backstroke
        UZB Bronze                           - 60 kg
            Gold                          96 - 120kg
            Silver             + 100kg (heavyweight)
        VEN Bronze                           - 49 kg
        VIE Silver      - 56kg, total (bantamweight)
        ZIM Gold                     200m backstroke
            Silver                   100m backstroke

                                                             Event_gender      \
                                                   max count          min max
Edition NOC Medal
1896    AUS Gold                                  800m     2            M   M
        AUT Bronze                      1km time trial     2            M   M
            Gold                        400m freestyle     2            M   M
            Silver                      100m freestyle     1            M   M
        DEN Bronze                    sabre individual     3            M   M
            Gold           heavyweight - two hand lift     1            M   M

In [72]:
oo.groupby(['Edition','NOC','Medal']).size()

Edition  NOC  Medal
1896     AUS  Gold        2
         AUT  Bronze      2
              Gold        2
              Silver      1
         DEN  Bronze      3
              Gold        1
              Silver      2
         FRA  Bronze      2
              Gold        5
              Silver      4
         GBR  Bronze      2
              Gold        2
              Silver      3
         GER  Bronze      2
              Gold       26
              Silver      5
         GRE  Bronze     22
              Gold       10
              Silver     20
         HUN  Bronze      3
              Gold        2
              Silver      1
         SUI  Gold        1
              Silver      2
         USA  Bronze      2
              Gold       11
              Silver      7
         ZZX  Bronze      2
              Gold        2
              Silver      2
                       ...
2008     SUI  Gold        3
         SVK  Bronze      1
              Gold        4
              Silver      5
         SWE  Bronze      2
              Silver      5
         THA  Gold        2
              Silver      2
         TJK  Bronze      1
              Silver      1
         TOG  Bronze      1
         TPE  Bronze      4
         TRI  Silver      5
         TUN  Gold        1
         TUR  Bronze      3
              Gold        1
              Silver      4
         UKR  Bronze     16
              Gold       10
              Silver      5
         USA  Bronze     81
              Gold      125
              Silver    109
         UZB  Bronze      3
              Gold        1
              Silver      2
         VEN  Bronze      1
         VIE  Silver      1
         ZIM  Gold        1
              Silver      3
Length: 2356, dtype: int64

### agg({  : [ ... ]})

In [73]:
oo.groupby(['NOC','Medal']).agg({'Edition' :['min','max','count'] })

           Edition
               min   max count
NOC Medal
AFG Bronze    2008  2008     1
AHO Silver    1988  1988     1
ALG Bronze    1984  2008     8
    Gold      1992  2000     4
    Silver    2000  2008     2
ANZ Bronze    1908  1912     5
    Gold      1908  1912    20
    Silver    1908  1912     4
ARG Bronze    1924  2008    88
    Gold      1924  2008    68
    Silver    1924  2000    83
ARM Bronze    2000  2008     7
    Gold      1996  1996     1
    Silver    1996  1996     1
AUS Bronze    1900  2008   413
    Gold      1896  2008   293
    Silver    1920  2008   369
AUT Bronze    1896  2008    44
    Gold      1896  2004    21
    Silver    1896  2008    81
AZE Bronze    2000  2008     9
    Gold      2000  2008     4
    Silver    1996  2008     3
BAH Bronze    1956  2008     5
    Gold      1964  2004     9
    Silver    1996  2008     9
BAR Bronze    2000  2000     1
BDI Gold      1996  1996     1
BEL Bronze    1900  2004   150
    Gold      1900  2008    91
...            ...   ...   ...
UKR Bronze    1996  2008    78
    Gold      1996  2008    32
    Silver    1996  2008    38
URS Bronze    1952  1988   584
    Gold      1952  1988   838
    Silver    1952  1988   627
URU Bronze    1932  1964    30
    Gold      1924  1928    44
    Silver    1948  2000     2
USA Bronze    1896  2008  1052
    Gold      1896  2008  2088
    Silver    1896  2008  1195
UZB Bronze    1996  2008     8
    Gold      2000  2008     4
    Silver    1996  2008     5
VEN Bronze    1952  2008     8
    Gold      1968  1968     1
    Silver    1976  1980     2
VIE Silver    2000  2008     2
YUG Bronze    1928  2000   118
    Gold      1924  2000   143
    Silver    1928  2000   174
ZAM Bronze    1984  1984     1
    Silver    1996  1996     1
ZIM Bronze    2004  2004     1
    Gold      1980  2008    18
    Silver    2004  2008     4
ZZX Bronze    1896  1900    10
    Gold      1896  1904    23
    Silver    1896  1904    15

[334 rows x 3 columns]

In [74]:
# SELECT 
# oo.Athlete, min(oo.Edition), max(oo.Edition), count(oo.Edition) 
# FROM oo GROUP BY oo.Athlete;
oo.loc[oo.Athlete == 'LEWIS, Carl'].groupby('Athlete').agg({'Edition' : ['min','max','count']})

            Edition
                min   max count
Athlete
LEWIS, Carl    1984  1996    10

# Exercise:
    
Using groupby, plot the total number of medals awarded at each of the Olympic games throughout history and next, create a list showing the total number of medals won for each country over the history of the Olympics. For each country, include the year of the first and the most recent Olympic medal wins.

In [75]:
oo.groupby('NOC').agg({'Edition' : ['count','min','max']})

    Edition
      count   min   max
NOC
AFG       1  2008  2008
AHO       1  1988  1988
ALG      14  1984  2008
ANZ      29  1908  1912
ARG     239  1924  2008
ARM       9  1996  2008
AUS    1075  1896  2008
AUT     146  1896  2008
AZE      16  1996  2008
BAH      23  1956  2008
BAR       1  2000  2000
BDI       1  1996  1996
BEL     408  1900  2008
BER       1  1976  1976
BLR      92  1996  2008
BOH       7  1900  1908
BRA     372  1920  2008
BUL     331  1952  2008
BWI       5  1960  1960
CAN     592  1900  2008
CHI      33  1928  2008
CHN     679  1984  2008
CIV       1  1984  1984
CMR      22  1968  2008
COL      11  1972  2008
CRC       4  1988  2000
CRO      79  1992  2008
CUB     395  1900  2008
CZE      41  1996  2008
DEN     491  1896  2008
..      ...   ...   ...
SRI       2  1948  2000
SUD       1  2008  2008
SUI     376  1896  2008
SUR       2  1988  1992
SVK      29  1996  2008
SWE    1021  1900  2008
SYR       3  1984  2004
TAN       2  1980  1980
TCH     329  1920  1992
TGA       1  1996  1996
THA      21  1976  2008
TJK       2  2008  2008
TOG       1  2008  2008
TPE      42  1960  2008
TRI      20  1948  2008
TUN       7  1964  2008
TUR      82  1936  2008
UAE       1  2004  2004
UGA       6  1968  1996
UKR     148  1996  2008
URS    2049  1952  1988
URU      76  1924  2000
USA    4335  1896  2008
UZB      17  1996  2008
VEN      11  1952  2008
VIE       2  2000  2008
YUG     435  1924  2000
ZAM       2  1984  1996
ZIM      23  1980  2008
ZZX      48  1896  1904

[138 rows x 3 columns]

### Try another dataset

https://github.com/luminousmen/python_for_ds

Filename: Churn-Modelling.csv

In [76]:
df = pd.read_csv('Churn-Modelling.csv')

In [77]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,NaN,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            9992 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    9985 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [79]:
df.dropna()  # <-- deleting the rows with some missing values(NaN/None)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0
10,11,15767821,Bearce,528,France,Male,31,6,102016.72,2,0,0,80181.12,0
11,12,15737173,Andrews,497,Spain,Male,24,3,0.00,2,1,0,76390.01,0
12,13,15632264,Kay,476,France,Female,34,10,0.00,2,1,0,26260.98,0
13,14,15691483,Chin,549,France,Female,25,5,0.00,2,0,0,190857.79,0
14,15,15600882,Scott,635,Spain,Female,35,7,0.00,2,1,1,65951.65,0
15,16,15643966,Goforth,616,Germany,Male,45,3,143129.41,2,0,1,64327.26,0
16,17,15737452,Romeo,653,Germany,Male,58,1,132602.88,1,1,0,5097.67,1
17,18,15788218,Henderson,549,Spain,Female,24,9,0.00,2,1,1,14406.41,0
18,19,15661507,Muldrow,587,Spain,Male,45,6,0.00,1,0,0,158684.81,0
19,20,15568982,Hao,726,France,Female,24,6,0.00,2,1,1,54724.03,0
20,21,15577657,McDonald,732,France,Male,41,8,0.00,2,1,1,170886.17,0
21,22,15597945,Dellucci,636,Spain,Female,32,8,0.00,2,1,0,138555.46,0
22,23,15699309,Gerasimov,510,Spain,Female,38,4,0.00,1,1,0,118913.53,1
23,24,15725737,Mosman,669,France,Male,46,3,0.00,2,0,1,8487.75,0
24,25,15625047,Yen,846,France,Female,38,5,0.00,1,1,1,187616.16,0
25,26,15738191,Maclean,577,France,Male,25,3,0.00,2,0,1,124508.29,0
26,27,15736816,Young,756,Germany,Male,36,2,136815.64,1,1,1,170041.95,0
27,28,15700772,Nebechi,571,France,Male,44,9,0.00,2,0,0,38433.35,0
28,29,15728693,McWilliams,574,Germany,Female,43,3,141349.43,1,1,1,100187.43,0
29,30,15656300,Lucciano,411,France,Male,29,0,59697.17,2,1,1,53483.21,0
30,31,15589475,Azikiwe,591,Spain,Female,39,3,0.00,3,1,0,140469.38,1
31,32,15706552,Odinakachukwu,533,France,Male,36,7,85311.70,1,0,1,156731.91,0
32,33,15750181,Sanderson,553,Germany,Male,41,9,110112.54,2,0,0,81898.81,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9969,9970,15806360,Hou,609,France,Male,41,6,0.00,1,0,1,112585.19,0
9970,9971,15587133,Thompson,518,France,Male,42,7,151027.05,2,1,0,119377.36,0
9971,9972,15721377,Chou,833,France,Female,34,3,144751.81,1,0,0,166472.81,0
9972,9973,15747927,Ch'in,758,France,Male,26,4,155739.76,1,1,0,171552.02,0
9973,9974,15806455,Miller,611,France,Male,27,7,0.00,2,1,1,157474.10,0
9974,9975,15695474,Barker,583,France,Male,33,7,122531.86,1,1,0,13549.24,0
9975,9976,15666295,Smith,610,Germany,Male,50,1,113957.01,2,1,0,196526.55,1
9976,9977,15656062,Azikiwe,637,France,Female,33,7,103377.81,1,1,0,84419.78,0
9977,9978,15579969,Mancini,683,France,Female,32,9,0.00,2,1,1,24991.92,0
9978,9979,15703563,P'eng,774,France,Male,40,9,93017.47,2,1,0,191608.97,0
9979,9980,15692664,Diribe,677,France,Female,58,1,90022.85,1,0,1,2988.28,0
9980,9981,15719276,T'ao,741,Spain,Male,35,6,74371.49,1,0,0,99595.67,0
9981,9982,15672754,Burbidge,498,Germany,Male,42,3,152039.70,1,1,1,53445.17,1
9982,9983,15768163,Griffin,655,Germany,Female,46,7,137145.12,1,1,0,115146.40,1
9983,9984,15656710,Cocci,613,France,Male,40,4,0.00,1,0,0,151325.24,0
9984,9985,15696175,Echezonachukwu,602,Germany,Male,35,7,90602.42,2,1,1,51695.41,0
9985,9986,15586914,Nepean,659,France,Male,36,6,123841.49,2,1,0,96833.00,0
9986,9987,15581736,Bartlett,673,Germany,Male,47,1,183579.54,2,0,1,34047.54,0
9987,9988,15588839,Mancini,606,Spain,Male,30,8,180307.73,2,1,1,1914.41,0
9988,9989,15589329,Pirozzi,775,France,Male,30,4,0.00,2,1,0,49337.84,0
9989,9990,15605622,McMillan,841,Spain,Male,28,4,0.00,2,1,1,179436.60,0
9990,9991,15798964,Nkemakonam,714,Germany,Male,33,3,35016.60,1,1,0,53667.08,0
9991,9992,15769959,Ajuluchukwu,597,France,Female,53,4,88381.21,1,1,0,69384.71,1
9992,9993,15657105,Chukwualuka,726,Spain,Male,36,2,0.00,1,1,0,195192.40,0
9994,9995,15719294,Wood,800,France,Female,29,2,0.00,2,0,0,167773.55,0
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

## Check missing values in the dataset

In [80]:
def fill_zero(row):
    return sum(row.isnull())

In [81]:
df.apply?

In [82]:
# validating zeros in our dataset
df.apply(lambda x: sum(x.isnull()), axis=0)  # <-- apply function go through dataset row by row

RowNumber           0
CustomerId          0
Surname             0
CreditScore         0
Geography           0
Gender              0
Age                 0
Tenure              0
Balance             8
NumOfProducts       0
HasCrCard           0
IsActiveMember      0
EstimatedSalary    15
Exited              0
dtype: int64

In many cases you don't want to filter out missing data, but you want to fill in appropriate data for the empty gaps. There are numerous ways to fill the missing values of EstimatedSalary – the simplest being replacement by median, which can be done by following code:

In [83]:
median = df['EstimatedSalary'].median()
df['EstimatedSalary'] = df['EstimatedSalary'].fillna(median)

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            9992 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [85]:
median = df['Balance'].median()
df['Balance'].fillna(median, inplace=True)

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

# Reshaping: pivot_table(), stack() and unstack()

## pivot_table()

Pivot functions and pivot_table is very useful on statistical data, on our dataset there not a lot of it, so just try to aggregate athletes countries by olumpics city

In [87]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,100153.43,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,100153.43,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,100153.43,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0
10,11,15767821,Bearce,528,France,Male,31,6,102016.72,2,0,0,80181.12,0
11,12,15737173,Andrews,497,Spain,Male,24,3,0.00,2,1,0,76390.01,0
12,13,15632264,Kay,476,France,Female,34,10,0.00,2,1,0,26260.98,0
13,14,15691483,Chin,549,France,Female,25,5,0.00,2,0,0,190857.79,0
14,15,15600882,Scott,635,Spain,Female,35,7,0.00,2,1,1,65951.65,0
15,16,15643966,Goforth,616,Germany,Male,45,3,143129.41,2,0,1,64327.26,0
16,17,15737452,Romeo,653,Germany,Male,58,1,132602.88,1,1,0,5097.67,1
17,18,15788218,Henderson,549,Spain,Female,24,9,0.00,2,1,1,14406.41,0
18,19,15661507,Muldrow,587,Spain,Male,45,6,0.00,1,0,0,158684.81,0
19,20,15568982,Hao,726,France,Female,24,6,0.00,2,1,1,54724.03,0
20,21,15577657,McDonald,732,France,Male,41,8,0.00,2,1,1,170886.17,0
21,22,15597945,Dellucci,636,Spain,Female,32,8,0.00,2,1,0,138555.46,0
22,23,15699309,Gerasimov,510,Spain,Female,38,4,0.00,1,1,0,118913.53,1
23,24,15725737,Mosman,669,France,Male,46,3,0.00,2,0,1,8487.75,0
24,25,15625047,Yen,846,France,Female,38,5,0.00,1,1,1,187616.16,0
25,26,15738191,Maclean,577,France,Male,25,3,0.00,2,0,1,124508.29,0
26,27,15736816,Young,756,Germany,Male,36,2,136815.64,1,1,1,170041.95,0
27,28,15700772,Nebechi,571,France,Male,44,9,0.00,2,0,0,38433.35,0
28,29,15728693,McWilliams,574,Germany,Female,43,3,141349.43,1,1,1,100187.43,0
29,30,15656300,Lucciano,411,France,Male,29,0,59697.17,2,1,1,53483.21,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,9971,15587133,Thompson,518,France,Male,42,7,151027.05,2,1,0,119377.36,0
9971,9972,15721377,Chou,833,France,Female,34,3,144751.81,1,0,0,166472.81,0
9972,9973,15747927,Ch'in,758,France,Male,26,4,155739.76,1,1,0,171552.02,0
9973,9974,15806455,Miller,611,France,Male,27,7,0.00,2,1,1,157474.10,0
9974,9975,15695474,Barker,583,France,Male,33,7,122531.86,1,1,0,13549.24,0
9975,9976,15666295,Smith,610,Germany,Male,50,1,113957.01,2,1,0,196526.55,1
9976,9977,15656062,Azikiwe,637,France,Female,33,7,103377.81,1,1,0,84419.78,0
9977,9978,15579969,Mancini,683,France,Female,32,9,0.00,2,1,1,24991.92,0
9978,9979,15703563,P'eng,774,France,Male,40,9,93017.47,2,1,0,191608.97,0
9979,9980,15692664,Diribe,677,France,Female,58,1,90022.85,1,0,1,2988.28,0
9980,9981,15719276,T'ao,741,Spain,Male,35,6,74371.49,1,0,0,99595.67,0
9981,9982,15672754,Burbidge,498,Germany,Male,42,3,152039.70,1,1,1,53445.17,1
9982,9983,15768163,Griffin,655,Germany,Female,46,7,137145.12,1,1,0,115146.40,1
9983,9984,15656710,Cocci,613,France,Male,40,4,0.00,1,0,0,151325.24,0
9984,9985,15696175,Echezonachukwu,602,Germany,Male,35,7,90602.42,2,1,1,51695.41,0
9985,9986,15586914,Nepean,659,France,Male,36,6,123841.49,2,1,0,96833.00,0
9986,9987,15581736,Bartlett,673,Germany,Male,47,1,183579.54,2,0,1,34047.54,0
9987,9988,15588839,Mancini,606,Spain,Male,30,8,180307.73,2,1,1,1914.41,0
9988,9989,15589329,Pirozzi,775,France,Male,30,4,0.00,2,1,0,49337.84,0
9989,9990,15605622,McMillan,841,Spain,Male,28,4,0.00,2,1,1,179436.60,0
9990,9991,15798964,Nkemakonam,714,Germany,Male,33,3,35016.60,1,1,0,53667.08,0
9991,9992,15769959,Ajuluchukwu,597,France,Female,53,4,88381.21,1,1,0,69384.71,1
9992,9993,15657105,Chukwualuka,726,Spain,Male,36,2,0.00,1,1,0,195192.40,0
9993,9994,15569266,Rahman,644,France,Male,28,7,97145.94,1,1,0,29179.52,0
9994,9995,15719294,Wood,800,France,Female,29,2,0.00,2,0,0,167773.55,0
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [88]:
from numpy import median

In [89]:
pd.pivot_table?

In [90]:
def f(x):
    return sum(x) ** 0.5

In [91]:
pd.pivot_table(df, index='Geography', columns='Gender', values='Balance', aggfunc=f)

Gender           Female          Male
Geography
France     11677.320944  13221.078177
Germany    11919.583795  12580.211579
Spain       8074.021227   9378.073663

In [92]:
pd.pivot_table(df, index='Geography', columns='Gender', values='Balance', aggfunc=median).stack('Gender')

Geography  Gender
France     Female     47536.400
           Male       69413.440
Germany    Female    118897.100
           Male      120120.490
Spain      Female         0.000
           Male       69857.005
dtype: float64

In [93]:
# get exited users from or bank
mw = df[df.Exited == 1]
mw

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,100153.43,1
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,100153.43,1
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,100153.43,1
16,17,15737452,Romeo,653,Germany,Male,58,1,132602.88,1,1,0,5097.67,1
22,23,15699309,Gerasimov,510,Spain,Female,38,4,0.00,1,1,0,118913.53,1
30,31,15589475,Azikiwe,591,Spain,Female,39,3,0.00,3,1,0,140469.38,1
35,36,15794171,Lombardo,475,France,Female,45,0,134264.04,1,1,0,27822.99,1
41,42,15738148,Clarke,465,France,Female,51,8,122522.32,1,0,0,181297.65,1
43,44,15755196,Lavine,834,France,Female,49,2,131394.56,1,0,0,194365.76,1
46,47,15602280,Martin,829,Germany,Female,27,9,112045.67,1,1,1,119708.21,1
47,48,15771573,Okagbue,637,Germany,Female,39,9,137843.80,1,1,1,117622.80,1
53,54,15702298,Parkhill,655,Germany,Male,41,8,125561.97,1,0,0,164040.94,1
54,55,15569590,Yoo,601,Germany,Male,42,1,98495.72,1,1,0,40014.76,1
58,59,15623944,T'ien,511,Spain,Female,66,4,0.00,1,1,0,1643.11,1
70,71,15703793,Konovalova,738,Germany,Male,58,2,133745.44,4,1,0,28373.86,1
81,82,15663706,Leonard,777,France,Female,32,2,0.00,1,1,0,136458.19,1
86,87,15762418,Gant,750,Spain,Male,22,3,121681.82,1,1,0,128643.35,1
88,89,15622897,Sharpe,646,France,Female,46,4,0.00,3,1,0,93251.42,1
90,91,15757535,Heap,647,Spain,Female,44,5,0.00,3,1,1,174205.22,1
104,105,15804919,Dunbabin,670,Spain,Female,65,1,0.00,1,1,1,177655.68,1
105,106,15613854,Mauldon,622,Spain,Female,46,4,107073.27,2,1,1,30984.59,1
109,110,15744689,T'ang,479,Germany,Male,35,9,92833.89,1,1,0,99449.86,1
114,115,15609618,Fanucci,721,Germany,Male,28,9,154475.54,2,0,1,101300.94,1
118,119,15661670,Chidozie,524,Germany,Female,31,8,107818.63,1,1,0,199725.39,1
125,126,15627360,Fuller,432,France,Male,42,9,152603.45,1,1,0,110265.24,1
126,127,15671137,MacDonald,549,France,Female,52,1,0.00,1,0,1,8636.05,1
127,128,15782688,Piccio,625,Germany,Male,56,0,148507.24,1,1,0,46824.08,1
138,139,15594408,Chia,584,Spain,Female,48,2,213146.20,1,1,0,75161.25,1
139,140,15640905,Vasin,579,Spain,Female,35,1,129490.36,2,0,1,8590.83,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9832,9833,15814690,Chukwujekwu,595,Germany,Female,64,2,105736.32,1,1,1,89935.73,1
9834,9835,15799358,Vincent,516,France,Female,46,6,62212.29,1,0,1,171681.86,1
9838,9839,15616367,Ricci,581,Germany,Male,39,1,121523.51,1,0,0,161655.55,1
9852,9853,15718765,Maclean,501,Spain,Male,43,6,104533.24,1,0,0,81123.59,1
9856,9857,15687329,Hope,763,Germany,Female,32,1,108465.65,2,1,0,60552.44,1
9858,9859,15619514,Bull,507,Germany,Male,40,3,120105.43,1,1,0,92075.01,1
9859,9860,15615430,Adams,678,Germany,Male,55,4,129646.91,1,1,1,184125.10,1
9863,9864,15726179,Ferrari,757,Germany,Female,43,5,131433.33,2,1,1,3497.43,1
9877,9878,15572182,Onwuamaeze,505,Germany,Female,33,3,106506.77,3,1,0,45445.78,1
9879,9880,15669414,Pisano,486,Germany,Male,62,9,118356.89,2,1,0,168034.83,1
9882,9883,15785490,Okeke,771,France,Male,50,3,105229.72,1,1,1,16281.68,1
9884,9885,15686974,Sergeyeva,751,France,Female,48,4,0.00,1,0,1,30165.06,1
9895,9896,15796764,Bruno,684,Germany,Female,56,3,127585.98,3,1,1,80593.49,1
9898,9899,15746569,Tsui,589,France,Male,38,4,0.00,1,1,0,95483.48,1
9905,9906,15784124,Emenike,645,Germany,Male,41,2,93925.30,1,1,0,123982.14,1
9910,9911,15784042,L?,624,France,Male,55,7,118793.60,1,1,1,95022.02,1
9917,9918,15755731,Davis,635,Germany,Male,53,8,117005.55,1,0,1,123646.57,1
9920,9921,15673020,Smith,678,France,Female,49,3,204510.94,1,0,1,738.88,1
9924,9925,15578865,Palerma,632,Germany,Female,50,5,107959.39,1,1,1,6985.34,1
9934,9935,15774586,West,692,Germany,Female,43,10,118588.83,1,1,1,161241.65,1
9947,9948,15732202,Abramovich,615,France,Male,34,1,83503.11,2,1,1,73124.53,1
9956,9957,15707861,Nucci,520,France,Female,46,10,85216.61,1,1,0,117369.52,1
9960,9961,15681026,Lucciano,795,Germany,Female,33,9,104552.72,1,1,1,120853.83,1
9962,9963,15594612,Flynn,702,Spain,Male,44,9,0.00,1,0,0,59207.41,1
9975,9976,15666295,Smith,610,Germany,Male,50,1,113957.01,2,1,0,196526.55,1
9981,9982,15672754,Burbidge,498,Germany,Male,42,3,152039.70,1,1,1,53445.17,1
9982,9983,15768163,Griffin,655,Germany,Female,46,7,137145.12,1,1,0,115146.40,1
9991,9992,15769959,Ajuluchukwu,597,France,Female,53,4,88381.21,1,1,0,69384.71,1
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1

In [94]:
g = mw.groupby(['Gender', 'NumOfProducts', 'IsActiveMember', 'Geography']).size()  # <-- view
g

Gender  NumOfProducts  IsActiveMember  Geography
Female  1              0               France       199
                                       Germany      204
                                       Spain         96
                       1               France       112
                                       Germany      109
                                       Spain         42
        2              0               France        49
                                       Germany       42
                                       Spain         33
                       1               France        33
                                       Germany       33
                                       Spain         20
        3              0               France        33
                                       Germany       27
                                       Spain         22
                       1               France        15
                                       Germany       19
                                       Spain         13
        4              0               France         7
                                       Germany       10
                                       Spain          3
                       1               France        12
                                       Germany        4
                                       Spain          2
Male    1              0               France       172
                                       Germany      171
                                       Spain         82
                       1               France        81
                                       Germany       94
                                       Spain         47
        2              0               France        28
                                       Germany       36
                                       Spain         24
                       1               France        25
                                       Germany       15
                                       Spain         10
        3              0               France        19
                                       Germany       24
                                       Spain         10
                       1               France        15
                                       Germany       16
                                       Spain          7
        4              0               France         5
                                       Germany        4
                                       Spain          2
                       1               France         5
                                       Germany        6
dtype: int64

In [95]:
df = g.unstack(['Gender', 'IsActiveMember'])
df

Gender                  Female          Male
IsActiveMember               0      1      0     1
NumOfProducts Geography
1             France     199.0  112.0  172.0  81.0
              Germany    204.0  109.0  171.0  94.0
              Spain       96.0   42.0   82.0  47.0
2             France      49.0   33.0   28.0  25.0
              Germany     42.0   33.0   36.0  15.0
              Spain       33.0   20.0   24.0  10.0
3             France      33.0   15.0   19.0  15.0
              Germany     27.0   19.0   24.0  16.0
              Spain       22.0   13.0   10.0   7.0
4             France       7.0   12.0    5.0   5.0
              Germany     10.0    4.0    4.0   6.0
              Spain        3.0    2.0    2.0   NaN

## stack()

![](https://pandas.pydata.org/pandas-docs/stable/_images/reshaping_stack.png)

In [96]:
df

Gender                  Female          Male
IsActiveMember               0      1      0     1
NumOfProducts Geography
1             France     199.0  112.0  172.0  81.0
              Germany    204.0  109.0  171.0  94.0
              Spain       96.0   42.0   82.0  47.0
2             France      49.0   33.0   28.0  25.0
              Germany     42.0   33.0   36.0  15.0
              Spain       33.0   20.0   24.0  10.0
3             France      33.0   15.0   19.0  15.0
              Germany     27.0   19.0   24.0  16.0
              Spain       22.0   13.0   10.0   7.0
4             France       7.0   12.0    5.0   5.0
              Germany     10.0    4.0    4.0   6.0
              Spain        3.0    2.0    2.0   NaN

In [97]:
df.stack()  # <-- when we do a stack we are returning a data frame or series with a new innermost level of rules.

Gender                                  Female   Male
NumOfProducts Geography IsActiveMember
1             France    0                199.0  172.0
                        1                112.0   81.0
              Germany   0                204.0  171.0
                        1                109.0   94.0
              Spain     0                 96.0   82.0
                        1                 42.0   47.0
2             France    0                 49.0   28.0
                        1                 33.0   25.0
              Germany   0                 42.0   36.0
                        1                 33.0   15.0
              Spain     0                 33.0   24.0
                        1                 20.0   10.0
3             France    0                 33.0   19.0
                        1                 15.0   15.0
              Germany   0                 27.0   24.0
                        1                 19.0   16.0
              Spain     0                 22.0   10.0
                        1                 13.0    7.0
4             France    0                  7.0    5.0
                        1                 12.0    5.0
              Germany   0                 10.0    4.0
                        1                  4.0    6.0
              Spain     0                  3.0    2.0
                        1                  2.0    NaN

In [98]:
df.stack('Gender')

IsActiveMember                      0      1
NumOfProducts Geography Gender
1             France    Female  199.0  112.0
                        Male    172.0   81.0
              Germany   Female  204.0  109.0
                        Male    171.0   94.0
              Spain     Female   96.0   42.0
                        Male     82.0   47.0
2             France    Female   49.0   33.0
                        Male     28.0   25.0
              Germany   Female   42.0   33.0
                        Male     36.0   15.0
              Spain     Female   33.0   20.0
                        Male     24.0   10.0
3             France    Female   33.0   15.0
                        Male     19.0   15.0
              Germany   Female   27.0   19.0
                        Male     24.0   16.0
              Spain     Female   22.0   13.0
                        Male     10.0    7.0
4             France    Female    7.0   12.0
                        Male      5.0    5.0
              Germany   Female   10.0    4.0
                        Male      4.0    6.0
              Spain     Female    3.0    2.0
                        Male      2.0    NaN

## unstack()

![](https://pandas.pydata.org/pandas-docs/stable/_images/reshaping_unstack.png)

In [99]:
df.columns

MultiIndex(levels=[['Female', 'Male'], [0, 1]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]],
           names=['Gender', 'IsActiveMember'])

In [100]:
df

Gender                  Female          Male
IsActiveMember               0      1      0     1
NumOfProducts Geography
1             France     199.0  112.0  172.0  81.0
              Germany    204.0  109.0  171.0  94.0
              Spain       96.0   42.0   82.0  47.0
2             France      49.0   33.0   28.0  25.0
              Germany     42.0   33.0   36.0  15.0
              Spain       33.0   20.0   24.0  10.0
3             France      33.0   15.0   19.0  15.0
              Germany     27.0   19.0   24.0  16.0
              Spain       22.0   13.0   10.0   7.0
4             France       7.0   12.0    5.0   5.0
              Germany     10.0    4.0    4.0   6.0
              Spain        3.0    2.0    2.0   NaN

In [101]:
df.unstack('NumOfProducts')

Gender         Female                                              Male        \
IsActiveMember      0                        1                        0
NumOfProducts       1     2     3     4      1     2     3     4      1     2
Geography
France          199.0  49.0  33.0   7.0  112.0  33.0  15.0  12.0  172.0  28.0
Germany         204.0  42.0  27.0  10.0  109.0  33.0  19.0   4.0  171.0  36.0
Spain            96.0  33.0  22.0   3.0   42.0  20.0  13.0   2.0   82.0  24.0

Gender
IsActiveMember                1
NumOfProducts      3    4     1     2     3    4
Geography
France          19.0  5.0  81.0  25.0  15.0  5.0
Germany         24.0  4.0  94.0  15.0  16.0  6.0
Spain           10.0  2.0  47.0  10.0   7.0  NaN

## Querying the data frame with .xs()

In [102]:
df

Gender                  Female          Male
IsActiveMember               0      1      0     1
NumOfProducts Geography
1             France     199.0  112.0  172.0  81.0
              Germany    204.0  109.0  171.0  94.0
              Spain       96.0   42.0   82.0  47.0
2             France      49.0   33.0   28.0  25.0
              Germany     42.0   33.0   36.0  15.0
              Spain       33.0   20.0   24.0  10.0
3             France      33.0   15.0   19.0  15.0
              Germany     27.0   19.0   24.0  16.0
              Spain       22.0   13.0   10.0   7.0
4             France       7.0   12.0    5.0   5.0
              Germany     10.0    4.0    4.0   6.0
              Spain        3.0    2.0    2.0   NaN

In [103]:
df.xs('France', level='Geography')

Gender         Female          Male
IsActiveMember      0      1      0     1
NumOfProducts
1               199.0  112.0  172.0  81.0
2                49.0   33.0   28.0  25.0
3                33.0   15.0   19.0  15.0
4                 7.0   12.0    5.0   5.0

In [104]:
df.xs('France', level='Geography').T

NumOfProducts              1     2     3     4
Gender IsActiveMember
Female 0               199.0  49.0  33.0   7.0
       1               112.0  33.0  15.0  12.0
Male   0               172.0  28.0  19.0   5.0
       1                81.0  25.0  15.0   5.0

In [105]:
df.xs(1, level='NumOfProducts')

Gender         Female          Male
IsActiveMember      0      1      0     1
Geography
France          199.0  112.0  172.0  81.0
Germany         204.0  109.0  171.0  94.0
Spain            96.0   42.0   82.0  47.0

In [106]:
df.xs(1, level='NumOfProducts') + df.xs(2, level='NumOfProducts')

Gender         Female          Male
IsActiveMember      0      1      0      1
Geography
France          248.0  145.0  200.0  106.0
Germany         246.0  142.0  207.0  109.0
Spain           129.0   62.0  106.0   57.0

# Connecting some dots

Let's simplify the pandas dataframes in way we can implement them to better understand that they are also a Python objects and there is no some magic behind the scene.

In [107]:
class Series:
    pass

class DataFrame:
    """Spreadsheet like table"""
    def __init__(self, matrix):
        self.matrix = matrix # <-- list of Series instances
        
    def info(self):
        not_null_counter = 0
        for row in self.matrix:
            for element in row:
                if element != None:
                    not_null_counter += 1
        return not_null_counter
    
    def _mean(self):
        """Mean value of `self.matrix`"""
        s = 0
        counter = 0
        for row in self.matrix:
            for element in row:
                s += element
                counter += 1
        return s / counter
    
    def _median(self):
        """
            1 2 3 4 5 6 7
                  |
                median
        """
        _sorted_arr = []
        for row in self.matrix:
            for element in row:
                _sorted_arr.append(element)
        _sorted_arr.sort()
        m_index = len(_sorted_arr) / 2
        if len(_sorted_arr) % 2 == 1:
            return _sorted_arr[m_index]
        else:
            return (_sorted_arr[m_index - 1] + _sorted_arr[m_index]) / 2

    
    def describe(self):
        mean = self._mean()
        median = self._median()
        print("Mean is %s" % mean)
        print("Median is %s" % mean)

# Summary:

We're covered:
- DataFrame and Series
- data loading
- manipulating data: selecting, grouping, deleting
- reshaping
- basic data analysis

We're not covered:
- saving data
- views
- indexes